---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/members?query=dryad
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"af21304a2314e81ffecf26b1443bd935"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"dryad","type":"members","attributes":{"title":"Dryad","display-title":"Dryad","description":null,"member-type":"direct_member","organization-type":null,"focus-area":null,"region":null,"country":null,"year":null,"logo-url":null,"email":null,"website":"https://datadryad.org","joined":null,"created":"2018-04-11T18:18:05.000Z","updated":"2018-08-26T01:25:42.000Z"}}],"meta":{"total":1,"total-pages":1,"page":1,"years":[{"id":"2018","title":"2018","count":1}],"regions":[],"organization-types":[],"focus-areas":[]}}'
  recorded_at: Mon, 18 Nov 2019 08:55:59 GMT
recorded_with: VCR 2.9.3
