---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/providers?query=university
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"7fc0879187408ef0c127244276413e26"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"au","type":"providers","attributes":{"name":"American
        University","displayName":"American University","symbol":"AU","website":"https://american.edu","systemEmail":"datacite@american.edu","groupEmail":null,"description":null,"region":"AMER","country":"US","logoUrl":"https://assets.test.datacite.org/images/members/au.png?1583532391","memberType":"direct_member","organizationType":"academicInstitution","focusArea":"general","nonProfitStatus":"non-profit","isActive":true,"hasPassword":true,"joined":null,"rorId":null,"technicalContact":{},"secondaryTechnicalContact":{},"billingContact":{},"secondaryBillingContact":{},"serviceContact":{},"secondaryServiceContact":{},"votingContact":{},"created":"2018-10-26T16:47:09.000Z","updated":"2020-03-06T22:06:32.000Z"},"relationships":{"clients":{"data":[{"id":"au.dra","type":"clients"}]},"prefixes":{"data":[{"id":"10.33501","type":"prefixes"}]}}},{"id":"heallink","type":"providers","attributes":{"name":"Aristotle
        University HEAL-LINK Consortium","displayName":"Aristotle University HEAL-LINK
        Consortium","symbol":"HEALLINK","website":"https://www.datacite.org","systemEmail":"zsimaiof@lib.auth.gr","groupEmail":null,"description":null,"region":"EMEA","country":"GR","logoUrl":"/images/medium/missing.png","memberType":"consortium","organizationType":null,"focusArea":null,"nonProfitStatus":"non-profit","isActive":true,"hasPassword":true,"joined":null,"rorId":null,"technicalContact":{},"secondaryTechnicalContact":{},"billingContact":{},"secondaryBillingContact":{},"serviceContact":{},"secondaryServiceContact":{},"votingContact":{},"created":"2017-09-06T11:01:33.000Z","updated":"2019-05-24T09:53:32.000Z"},"relationships":{"clients":{"data":[{"id":"heallink.auth","type":"clients"},{"id":"heallink.datarep","type":"clients"},{"id":"heallink.datasc","type":"clients"},{"id":"heallink.upatras","type":"clients"}]},"prefixes":{"data":[{"id":"10.0350","type":"prefixes"},{"id":"10.0351","type":"prefixes"},{"id":"10.0352","type":"prefixes"},{"id":"10.33556","type":"prefixes"},{"id":"10.80157","type":"prefixes"}]},"consortiumOrganizations":{"data":[{"id":"tuc","type":"providers"},{"id":"onassis","type":"providers"}]}}},{"id":"auth","type":"providers","attributes":{"name":"Aristotle
        University of Thessaloniki","displayName":"Aristotle University of Thessaloniki","symbol":"AUTH","website":null,"systemEmail":"zsimaiof@gmail.com","groupEmail":"zsimaiof@gmail.com","description":null,"region":null,"country":null,"logoUrl":"/images/medium/missing.png","memberType":"consortium_organization","organizationType":null,"focusArea":null,"nonProfitStatus":"non-profit","isActive":true,"hasPassword":false,"joined":null,"rorId":null,"technicalContact":{},"secondaryTechnicalContact":{},"billingContact":{},"secondaryBillingContact":{},"serviceContact":{},"secondaryServiceContact":{},"votingContact":{},"created":"2019-10-04T08:23:15.000Z","updated":"2019-10-04T08:23:15.000Z"},"relationships":{"clients":{"data":[]},"prefixes":{"data":[]},"consortium":{"data":{"id":"healco","type":"providers"}}}},{"id":"hxmq","type":"providers","attributes":{"name":"Auburn
        University","displayName":"Auburn University","symbol":"HXMQ","website":null,"systemEmail":"alk0043@auburn.edu","groupEmail":null,"description":null,"region":null,"country":null,"logoUrl":"/images/medium/missing.png","memberType":"direct_member","organizationType":null,"focusArea":null,"nonProfitStatus":"non-profit","isActive":true,"hasPassword":true,"joined":null,"rorId":null,"technicalContact":{},"secondaryTechnicalContact":{},"billingContact":{},"secondaryBillingContact":{},"serviceContact":{},"secondaryServiceContact":{},"votingContact":{},"created":"2020-02-13T15:50:29.000Z","updated":"2020-02-29T10:21:54.000Z"},"relationships":{"clients":{"data":[{"id":"hxmq.ctpbks","type":"clients"}]},"prefixes":{"data":[{"id":"10.80234","type":"prefixes"}]}}},{"id":"blcu","type":"providers","attributes":{"name":"Beijing
        Language And Culture University","displayName":"Beijing Language And Culture
        University","symbol":"BLCU","website":"http://english.blcu.edu.cn/","systemEmail":"mjh123877@163.com","groupEmail":null,"description":null,"region":"APAC","country":"CN","logoUrl":"/images/medium/missing.png","memberType":"direct_member","organizationType":"nationalInstitution","focusArea":"general","nonProfitStatus":"non-profit","isActive":true,"hasPassword":false,"joined":null,"rorId":null,"technicalContact":{"email":"lilith@email.com","givenName":"fdsfdsfds","familyName":"dfsfdsfds"},"secondaryTechnicalContact":{},"billingContact":{},"secondaryBillingContact":{},"serviceContact":{"email":"lilith@email.com","givenName":"dfsfds","familyName":"fdssdf"},"secondaryServiceContact":{},"votingContact":{"email":"lilith@email.com","givenName":"dsffdd","familyName":"dsfdsffds"},"created":"2018-11-08T14:41:14.000Z","updated":"2019-05-22T09:41:34.000Z"},"relationships":{"clients":{"data":[{"id":"blcu.test","type":"clients"}]},"prefixes":{"data":[{"id":"10.33539","type":"pref[...]
