---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/users?page%5Bnumber%5D=1&page%5Bsize%5D=25&query=fenner
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"36f5ad5ad481f45fe57d977e2760bea2"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"0000-0003-0967-8697","type":"users","attributes":{"givenNames":"Daniel","familyName":"Fenner","name":"Daniel
        Fenner","orcid":"https://orcid.org/0000-0003-0967-8697","github":null,"roleId":"user","isActive":false,"created":"2018-01-17T09:25:59.000Z","updated":"2018-01-17T09:25:59.000Z"},"relationships":{}},{"id":"0000-0001-6528-2027","type":"users","attributes":{"givenNames":"Martin","familyName":"Fenner","name":"Martin
        Fenner","orcid":"https://orcid.org/0000-0001-6528-2027","github":null,"roleId":"staff_admin","isActive":false,"created":"2018-08-20T16:40:54.000Z","updated":"2019-08-31T07:28:05.000Z"},"relationships":{}},{"id":"0000-0001-5508-9039","type":"users","attributes":{"givenNames":"Andriel
        Evandro","familyName":"Fenner","name":"Andriel Evandro Fenner","orcid":"https://orcid.org/0000-0001-5508-9039","github":null,"roleId":"user","isActive":false,"created":"2018-07-04T15:04:06.000Z","updated":"2018-07-05T02:31:49.000Z"},"relationships":{}},{"id":"0000-0002-3783-6130","type":"users","attributes":{"givenNames":"Irene","familyName":"Weipert-Fenner","name":"Irene
        Weipert-Fenner","orcid":"https://orcid.org/0000-0002-3783-6130","github":null,"roleId":"user","isActive":false,"created":"2017-06-02T14:20:05.000Z","updated":"2017-06-02T14:20:05.000Z"},"relationships":{}},{"id":"0000-0003-1419-2405","type":"users","attributes":{"givenNames":null,"familyName":null,"name":"Martin
        Fenner","orcid":"https://orcid.org/0000-0003-1419-2405","github":null,"roleId":"staff_admin","isActive":true,"created":"2019-09-10T07:56:46.000Z","updated":"2019-11-19T16:55:30.000Z"},"relationships":{}}],"meta":{"total":5,"totalPages":1,"page":1},"links":{"self":"https://api.test.datacite.org/users?page%5Bnumber%5D=1&page%5Bsize%5D=25&query=fenner","next":"https://api.test.datacite.org/users?page%5Bnumber%5D=2&page%5Bsize%5D=25&query=fenner"}}'
  recorded_at: Tue, 10 Mar 2020 19:28:45 GMT
recorded_with: VCR 2.9.3
