---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/repositories?include=provider&page%5Bnumber%5D=1&page%5Bsize%5D=25&query=dryad
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"6a4a9bb7ccf1b005116dad47a1538fd4"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"cdl.dryad","type":"repositories","attributes":{"name":"DRYAD","symbol":"CDL.DRYAD","re3data":"https://doi.org/10.17616/R34S33","opendoar":null,"year":2013,"systemEmail":"ryan@datadryad.org","alternateName":null,"description":"DataDryad.org
        is a curated general-purpose repository that makes the data underlying scientific
        publications discoverable, freely reusable, and citable.\r\nDryad is an international
        repository of data underlying peer-reviewed scientific and medical literature,
        particularly data for which no specialized repository exists. The content
        is considered to be integral to the published research. All material in Dryad
        is associated with a scholarly publication","clientType":"repository","repositoryType":[],"language":[],"certificate":[],"domains":"*","issn":null,"url":"https://datadryad.org","created":"2013-02-19T17:42:03.000Z","updated":"2018-11-24T16:58:38.000Z","isActive":true,"hasPassword":true,"serviceContact":{}},"relationships":{"provider":{"data":{"id":"cdl","type":"providers"}},"prefixes":{"data":[]}}},{"id":"dryad.dryad","type":"repositories","attributes":{"name":"DRYAD","symbol":"DRYAD.DRYAD","re3data":"https://doi.org/10.17616/R34S33","opendoar":null,"year":2018,"systemEmail":"admin@datadryad.org","alternateName":null,"description":null,"clientType":"repository","repositoryType":[],"language":[],"certificate":[],"domains":"*","issn":null,"url":"https://datadryad.org","created":"2018-04-24T17:32:32.000Z","updated":"2018-11-24T14:48:28.000Z","isActive":true,"hasPassword":true,"serviceContact":{}},"relationships":{"provider":{"data":{"id":"dryad","type":"providers"}},"prefixes":{"data":[{"id":"10.7959","type":"prefixes"}]}}}],"included":[{"id":"cdl","type":"providers","attributes":{"name":"California
        Digital Library","displayName":"California Digital Library","symbol":"CDL","website":null,"systemEmail":"gjanee@ucop.edu","groupEmail":null,"description":null,"region":"AMER","country":"US","logoUrl":"https://assets.test.datacite.org/images/members/data.png?1583232274","memberType":"direct_member","organizationType":"academicInstitution","focusArea":"general","nonProfitStatus":"non-profit","isActive":true,"hasPassword":true,"joined":null,"rorId":null,"technicalContact":{},"secondaryTechnicalContact":{},"billingContact":{},"secondaryBillingContact":{},"serviceContact":{},"secondaryServiceContact":{},"votingContact":{},"created":"2010-01-01T00:00:00.000Z","updated":"2020-03-03T10:44:34.000Z"},"relationships":{"clients":{"data":[{"id":"cdl.cdl","type":"clients"},{"id":"cdl.qdr","type":"clients"},{"id":"cdl.nceas","type":"clients"},{"id":"cdl.ucsb","type":"clients"},{"id":"cdl.ncar","type":"clients"},{"id":"cdl.usgs","type":"clients"},{"id":"cdl.ornl","type":"clients"},{"id":"cdl.ucla","type":"clients"},{"id":"cdl.nasagsfc","type":"clients"},{"id":"cdl.sdscot","type":"clients"},{"id":"cdl.digant","type":"clients"},{"id":"cdl.dplanet","type":"clients"},{"id":"cdl.labarch","type":"clients"},{"id":"cdl.uwl","type":[...]
