.panel.panel-default
  .panel-body
    %h3.work
      %a{:href => '/members/' + item["id"]}
        = item.fetch("attributes", {}).fetch("title", nil)
    .country
      = item.fetch("attributes", {}).fetch("country", nil)

  .panel-footer
    %i.fa.fa-info-circle
    = item["id"]
    %span.pull-right
      = item.fetch("attributes", {}).fetch("member-type", nil) + " member"

