.panel.panel-default
  .panel-body
    %h3.work
      %a{:href => '/members/' + item["id"]}
        = item.fetch("attributes", {}).fetch("name", nil)
    .country
      = item.fetch("attributes", {}).fetch("country", nil)

  .panel-footer
    %i.fa.fa-info-circle
    = item["id"].upcase
    %span.pull-right
      = item.fetch("attributes", {}).fetch("memberType", nil).to_s.humanize

