---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois/10.0311/fk2/e11643a99d903d0ccfc2d523b344d9ff?include=client
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"f419c0bf69d13d703dcf80839ed41a69"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.0311/fk2/e11643a99d903d0ccfc2d523b344d9ff","type":"dois","attributes":{"doi":"10.0311/fk2/e11643a99d903d0ccfc2d523b344d9ff","prefix":"10.0311","suffix":"fk2/e11643a99d903d0ccfc2d523b344d9ff","identifiers":[{"identifier":"https://handle.test.datacite.org/10.0311/fk2/e11643a99d903d0ccfc2d523b344d9ff","identifierType":"DOI"},{"identifier":"https://pasta-s.lternet.edu/package/eml/knb-lter-jrn/100/4","identifierType":"URL"}],"creators":[{"name":"Ji,
        Wenjie","nameType":"Personal","givenName":"Wenjie","familyName":"Ji","affiliation":[],"nameIdentifiers":[]},{"name":"Hanan,
        Niall P.","nameType":"Personal","givenName":"Niall P.","familyName":"Hanan","affiliation":[],"nameIdentifiers":[]}],"titles":[{"title":"High
        resolution shrub cover raster maps of the Jornada Basin LTER, including JER
        and CDRRC (2011)"}],"publisher":"Environmental Data Initiative","container":{},"publicationYear":2019,"subjects":[],"contributors":[],"dates":[{"date":"2019","dateType":"Issued"}],"language":"eng","types":{"ris":"DATA","bibtex":"misc","citeproc":"dataset","schemaOrg":"Dataset","resourceType":"dataPackage","resourceTypeGeneral":"Dataset"},"relatedIdentifiers":[],"sizes":[],"formats":[],"version":null,"rightsList":[],"descriptions":[{"lang":"en-US","description":"This
        data package contains two raster shrub cover maps of the Jornada Experimental
        Range and Chihuahuan Desert Rangeland Research Center (CDRRC) created using
        1m resolution National Agriculture Imagery Program (NAIP) aerial photo acquired
        in 2011. A one-meter resolution raster file lists cover as non-shrub, shrub,
        or no data available. A hectare resolution raster file contains fractional
        shrub cover values (0-1) calculed from the 1 meter raster. NOTE: There is
        currently a hole in the coverage of the hectare raster (no-data values) in
        the \"scarplet\" region in the southeastern portion of the Jornada Basin.
        The creators of the dataset plan to fill this missing area of coverage in
        a future update to the data package once suitable imagery of the area is acquired.","descriptionType":"Abstract"}],"geoLocations":[],"fundingReferences":[],"xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291cmNlIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC00LjEvbWV0YWRhdGEueHNkIj4KICA8aWRlbnRpZmllciBpZGVudGlmaWVyVHlwZT0iRE9JIj4xMC4wMzExL0ZLMi9FMTE2NDNBOTlEOTAzRDBDQ0ZDMkQ1MjNCMzQ0RDlGRjwvaWRlbnRpZmllcj4KICA8Y3JlYXRvcnM+CiAgICA8Y3J[...]
- request:
    method: get
    uri: https://api.test.datacite.org/dois/10.0311/fk2/e11643a99d903d0ccfc2d523b344d9ff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.schemaorg.ld+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"5f8015bff101dabbec61d70f8188a732"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@context": "http://schema.org",
          "@type": "Dataset",
          "@id": "https://doi.org/10.0311/fk2/e11643a99d903d0ccfc2d523b344d9ff",
          "identifier": [
            {
              "@type": "PropertyValue",
              "propertyID": "DOI",
              "value": "https://handle.test.datacite.org/10.0311/fk2/e11643a99d903d0ccfc2d523b344d9ff"
            },
            {
              "@type": "PropertyValue",
              "propertyID": "URL",
              "value": "https://pasta-s.lternet.edu/package/eml/knb-lter-jrn/100/4"
            }
          ],
          "url": "https://portal-s.lternet.edu/nis/mapbrowse?packageid=knb-lter-jrn.100.4",
          "additionalType": "dataPackage",
          "name": "High resolution shrub cover raster maps of the Jornada Basin LTER, including JER and CDRRC (2011)",
          "author": [
            {
              "name": "Wenjie Ji",
              "givenName": "Wenjie",
              "familyName": "Ji",
              "@type": "Person"
            },
            {
              "name": "Niall P. Hanan",
              "givenName": "Niall P.",
              "familyName": "Hanan",
              "@type": "Person"
            }
          ],
          "description": "This data package contains two raster shrub cover maps of the Jornada Experimental Range and Chihuahuan Desert Rangeland Research Center (CDRRC) created using 1m resolution National Agriculture Imagery Program (NAIP) aerial photo acquired in 2011. A one-meter resolution raster file lists cover as non-shrub, shrub, or no data available. A hectare resolution raster file contains fractional shrub cover values (0-1) calculed from the 1 meter raster. NOTE: There is currently a hole in the coverage of the hectare raster (no-data values) in the \"scarplet\" region in the southeastern portion of the Jornada Basin. The creators of the dataset plan to fill this missing area of coverage in a future update to the data package once suitable imagery of the area is acquired.",
          "inLanguage": "eng",
          "datePublished": "2019",
          "publisher": {
            "@type": "Organization",
            "name": "Environmental Data Initiative"
          },
          "provider": {
            "@type": "Organization",
            "name": "DataCite"
          }
        }
  recorded_at: Tue, 24 Mar 2020 19:59:08 GMT
recorded_with: VCR 2.9.3
