---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois?include=client&page%5Bnumber%5D=1&page%5Bsize%5D=25&query=dufek%20AND%20intrusion
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"27b8b39598dd5942e954dd5f1767439a"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"10.91819/71718","type":"dois","attributes":{"doi":"10.91819/71718","identifiers":[{"identifier":"https://handle.test.datacite.org/10.1594/ieda/100036","identifierType":"DOI"},{"identifier":"http://www.earthchem.org/library/browse/view?id=242","identifierType":"URL"}],"creators":[{"name":"Grimes,
        Craig","nameType":"Personal","givenName":"Craig","familyName":"Grimes","affiliation":[],"nameIdentifiers":[{"nameIdentifier":"8982108400","nameIdentifierScheme":"SCOPUS"}]},{"name":"Cheadle,
        Michael ","nameType":"Personal","givenName":"Michael ","familyName":"Cheadle","affiliation":[],"nameIdentifiers":[{"nameIdentifier":"7003914970","nameIdentifierScheme":"SCOPUS"}]}],"titles":[{"title":"Major
        element analyses of plagioclase and pyroxene from gabbros of the layered mafic
        Dufek Intrusion"}],"publisher":"EarthChem","container":{},"publicationYear":2011,"subjects":[{"subject":"Regional
        (Continents, Oceans)","subjectScheme":"coverage scope"},{"subject":"Antarctica","subjectScheme":"IEDA
        Feature of Interest"},{"subject":"Chemistry:Rock","subjectScheme":"IEDA Data
        Type"},{"subject":"Mineralogy","subjectScheme":"IEDA Data Type"},{"subject":"Sample/Collection
        Description","subjectScheme":"IEDA Data Type"},{"subject":"Geochemistry","subjectScheme":"IEDA
        Topic"},{"subject":"Marine Geoscience","subjectScheme":"IEDA Topic"},{"subject":"Solid
        Earth","subjectScheme":"IEDA Topic"},{"subject":"Dufek Massif","subjectScheme":"place"},{"subject":"gabbro","subjectScheme":"material"},{"subject":"plagioclase","subjectScheme":"material"},{"subject":"pyroxene","subjectScheme":"material"},{"subject":"Antarctica","subjectScheme":"place"},{"subject":"Forrestal
        Range","subjectScheme":"place"},{"subject":"Pensacola mountains","subjectScheme":"place"}],"contributors":[],"dates":[{"date":"2011-12-29","dateType":"Available"},{"date":"2011-12-28","dateType":"Created"},{"date":"2011","dateType":"Issued"}],"language":"en","types":{"ris":"DATA","bibtex":"misc","citeproc":"dataset","schemaOrg":"Dataset","resourceType":"Dataset","resourceTypeGeneral":"Dataset"},"relatedIdentifiers":[{"relationType":"References","relatedIdentifier":"GEE00002F","relatedIdentifierType":"IGSN"},{"relationType":"References","relatedIdentifier":"GEE000043","relatedIdentifierType":"IGSN"},{"relationType":"References","relatedIdentifier":"GEE00004H","relatedIdentifierType":"IGSN"},{"relationType":"References","relatedIdentifier":"GEE00005Z","relatedIdentifierType":"IGSN"},{"relationType":"References","relatedIdentifier":"GEE00006F","relatedIdentifierType":"IGSN"},{"relationType":"References","relatedIdentifier":"GEE00006K","relatedIdentifierType":"IGSN"},{"relationType":"References[...]
