---
http_interactions:
- request:
    method: get
    uri: http://profiles.datacite.org/api/users/0000-0003-1419-2405/claims?dois=10.6084/M9.FIGSHARE.706340.V1,10.5281/ZENODO.34673
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<ORCID_UPDATE_KEY>
  response:
    status:
      code: 301
      message: ''
    headers:
      Content-Type:
      - text/html
      Location:
      - https://profiles.datacite.org/api/users/0000-0003-1419-2405/claims?dois=10.6084%2FM9.FIGSHARE.706340.V1%2C10.5281%2FZENODO.34673
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx/1.11.3</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Wed, 12 Oct 2016 17:46:54 GMT
- request:
    method: get
    uri: https://profiles.datacite.org/api/users/0000-0003-1419-2405/claims?dois=10.6084/M9.FIGSHARE.706340.V1,10.5281/ZENODO.34673
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<ORCID_UPDATE_KEY>
  response:
    status:
      code: 401
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"401","title":"You are not authorized to access
        this page."}]}'
  recorded_at: Wed, 12 Oct 2016 17:46:54 GMT
recorded_with: VCR 2.9.3
