---
http_interactions:
- request:
    method: get
    uri: http://api.labs.datacite.org/members?id=ANDS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"8eb1630cf1cf84adc329782606e6ad10"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ands","type":"members","attributes":{"title":"Australian
        National Data Service (ANDS)","description":"","member-type":"full","region":"Asia
        Pacific","country":"Australia","year":2010,"updated":null}}}'
  recorded_at: Wed, 25 May 2016 12:47:03 GMT
recorded_with: VCR 2.9.3
