---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/members?id=ANDS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"ae94b8dc2f7aed99cdaabc9cb538abc7"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ands","type":"members","attributes":{"title":"Australian
        National Data Service","description":"\u003cp\u003eThe task of the Australian
        National Data Service (ANDS) is to build the Australian Research Data Commons
        by creating the infrastructure to enable Australian researchers to easily
        publish, discover, access and reuse research data.\u003c/p\u003e\n\n\u003cp\u003eOur
        approach is to engage in partnerships with research institutions to encourage
        better local data management, which enables structured collections to be created
        and information[...]
