---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/members?id=ANDS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"62c45dace372d719510c5994c0af359d"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ands","type":"members","attributes":{"title":"Australian
        National Data Service","description":"\u003cp\u003eThe Australian National
        Data Service (ANDS) makes Australia\u0026#39;s research data assets more valuable
        for researchers, research institutions and the nation.\u003c/p\u003e\n\n\u003cp\u003eWe
        do this through working in trusted partnerships on research data projects,
        delivering reliable national services and enhancing the capability of Australia\u0026#39;s
        research data system.\u003c/p\u003e\n\n\u003cp\u003eA key ANDS service is
        the [...]
