---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/members/ANDS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"ce16c37741a19c696d7fe8ceba875784"
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ands","type":"members","attributes":{"title":"Australian
        National Data Service","description":"The Australian National Data Service
        (ANDS) makes Australia''s research data assets more valuable for researchers,
        research institutions and the nation.\n\nWe do this through working in trusted
        partnerships on research data projects, delivering reliable national services
        and enhancing the capability of Australia''s research data system.\n\nA key
        ANDS service is the Research Data Australia discovery portal where you can
        find, access and reuse Australian research data.\n\nANDS is a partnership
        led by Monash University, in collaboration with the Australian National University
        and CSIRO. It is funded by the Australian Government through the National
        Collaborative Research Infrastructure Strategy (NCRIS).\n\nANDS involvement
        in the DataCite consortium ensures that we are active in global initiatives
        addressing the issues surrounding research data, including those of publication,
        citation and standards. ANDS has run its Cite My Data service since 2011.
        This service allows Australian research organisations to assign DOIs to their
        own research collections. This, in turn, provides researchers with a means
        of citing their published data and achieving recognition for their research
        data output.\n\nSubscribe to our discussion list: ANDS Google Group.\n\nSubscribe
        to our e-newsletter: andsUP.\n","member-type":"allocating","region":"Asia
        Pacific","country":"Australia","year":2010,"logo-url":"https://assets.test.datacite.org/images/members/ands.png","email":"contact@ands.org.au","website":"http://www.ands.org.au","phone":"+61
        3 9902 0585","created":"2016-02-15T16:14:25Z","updated":"2017-01-12T21:48:51Z"}}}'
  recorded_at: Fri, 08 Dec 2017 22:22:26 GMT
recorded_with: VCR 2.9.3
