---
http_interactions:
- request:
    method: get
    uri: http://api.labs.datacite.org/members?q=tib
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"fcf7e1d5daf7097b79ee404deed7fc21"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"tib","type":"members","attributes":{"title":"German
        National Library of Science and Technology (TIB)","description":"","member-type":"full","region":"EMEA","country":"Germany","year":2009,"updated":null}}],"meta":{"total":1,"member-types":{"allocating":1},"regions":{"emea":1},"years":{"2009":1}}}'
  recorded_at: Wed, 25 May 2016 12:47:03 GMT
recorded_with: VCR 2.9.3
