---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/members?query=tib
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"29098efb63dad41ccb502dee33a2ecf7"
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"tib","type":"members","attributes":{"title":"German
        National Library of Science and Technology","description":"The TIB is the
        German National Library for all areas of engineering as well as architecture,
        chemistry, information technology, mathematics and physics. We are the world''s
        largest specialised library for science and technology and are part of the
        German research infrastructure. Our function is the comprehensive procurement
        and archival storage of technical scientific literature from all over the
        world. TIB was the first DOI registration agency for primary data worldwide.
        We have been providing DOI registration services since 2005 and we now work
        directly with over 40 data centres. TIB is one of the founding members of
        DataCite and is currently the Business Office. We provide DOI registration
        services for all German data centres in the fields of engineering, architecture,
        chemistry, information technology, mathematics and physics. Our current focus
        is on providing DOI names for primary data and grey literature.\n","member-type":"allocating","region":"EMEA","country":"Germany","year":2009,"logo-url":"https://assets.test.datacite.org/images/members/tib.png","email":"doi-info@tib.eu","website":"
        http://www.tib.eu","phone":"+49 511 762 14226","created":"2016-02-15T16:27:11Z","updated":"2016-08-01T11:13:04Z"}}],"meta":{"total":1,"total-pages":1,"page":1,"member-types":[{"id":"allocating","title":"Allocating","count":1}],"regions":[{"id":"emea","title":"Europe,
        Middle East and Africa","count":1}],"years":[{"id":"2009","title":"2009","count":1}]}}'
  recorded_at: Fri, 08 Dec 2017 22:22:26 GMT
recorded_with: VCR 2.9.3
