-# - attributes = item.dig(:metadata,"attributes")
-# - event      = item.dig("attributes")

.panel.panel-default
  .panel-body
    %h3.work
    - if item["id"].present?
      - doi = @params["id"] == item.dig("attributes","subjId").gsub("https://doi.org/", "")? item.dig("attributes","objId") : item.dig("attributes","subjId")
      = format_pseudo_citation(item)
      %a{:id => "citation-link", :href =>  "#{doi}" , :target=>"_blank", :title => "Go to landing page" } 
        = "#{doi}"
