-# - if @citations[:citations].length > 0

  -# - if duplicated == true
  -#   .panel-body.alert.alert-warning
  -#     = "There are a few duplicated items on this list. For information on duplicated items, please see"
  -#     %a{href: 'https://support.datacite.org/docs/contributing-data-citations'}
  -#       our documentation. 

%datacite-components-links-tabs{ doi:attributes["doi"]}
  