APPLICATION=doi-metadata-search
GITHUB_URL=https://github.com/crosscite/doi-metadata-search

# internal name of server
HOSTNAME=doi-metadata-search.local

SITE_TITLE=DOI Metadata Search

# all servers we deploy to
SERVERS=doi-metadata-search.local

# DOI registration agency
RA=crossref

RACK_ENV=development

JWT_HOST=
JWT_SECRET_KEY=

SOLR_URL=http://search.datacite.org


LOG_LEVEL=info

# optionally use Google Analytics
#GABBA_COOKIE=
#GABBA_URL=

# optionally use Bugsnag for error reporting
# BUGSNAG_KEY=
# BUGSNAG_JS_KEY=
