.DS_Store
.bundle/*
.sass-cache/*
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
tmp/*
log/*
/vendor/bundle/*
.env
.env.*
!.env.example
!.env.travis
*.box
packer_cache/*
output-*
/vendor/node_modules/*
/vendor/npm-debug.log
/vendor/assets/*
!/vendor/assets/.keep
/.idea
