.DS_Store
.vagrant*
.bundle/*
.sass-cache/*
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
tmp/*
log/*
/vendor/bundle/*
.env
.env.*
!.env.example
!.env.travis
*.box
packer_cache/*
output-*
/frontend/node_modules/*
/frontend/bower_components/*
/frontend/npm-debug.log
/public/assets/*
