---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/publishers?offset=0&registration-agency-id=datacite&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"8717ed3ef9b2842677f8b5f5200b594a"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"ethz.ubasojs","type":"publishers","attributes":{"title":"027.7
        - Zeitschrift für Bibliothekskultur","other-names":[],"prefixes":[],"member-id":"ETHZ","registration-agency-id":"datacite","updated":"2016-09-03T14:37:32Z"}},{"id":"delft.datacent","type":"publishers","attributes":{"title":"3TU
        Datacentrum","other-names":[],"prefixes":[],"member-id":"DELFT","registration-agency-id":"datacite","updated":"2016-09-03T14:27:11Z"}},{"id":"delft.data4-tu","type":"publishers","attributes":{"title":"4TU.Centre
        for Research Data","other-names":[],"prefixes":[],"member-id":"DELFT","registration-agency-id":"datacite","updated":"2016-09-03T15:08:30Z"}},{"id":"dk.aau","type":"publishers","[...]
