---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/repositories/CERN.ZENODO?include=member
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"7e981e58e6c9e10447a7af9bf5bcb1eb"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"cern.zenodo","type":"repositories","attributes":{"name":"Zenodo","symbol":"CERN.ZENODO","re3data":"https://doi.org/10.17616/R3QP53","opendoar":null,"year":2014,"systemEmail":"lars.holm.nielsen@cern.ch","alternateName":"Research.
        Shared","description":"ZENODO builds and operates a simple and innovative
        service that enables researchers, scientists, EU projects and institutions
        to share and showcase multidisciplinary research results (data and publications)
        that are not part of the existing institutional or subject-based repositories
        of the research communities.\r\nZENODO enables researchers, scientists, EU
        projects and institutions to:\r\neasily share the long tail of small research
        results in a wide variety of formats including text, spreadsheets, audio,
        video, and images across all fields of science.\r\ndisplay their research
        results and get credited by making the research results citable and integrate
        them into existing reporting lines to funding agencies like the European Commission.\r\neasily
        access and reuse shared research results.","clientType":"repository","repositoryType":["other"],"language":["en"],"certificate":[],"domains":"openaire.cern.ch,zenodo.org","issn":[],"url":"https://zenodo.org/","created":"2014-09-24T14:54:20.000Z","updated":"2019-08-03T05:29:30.000Z","isActive":true,"hasPassword":true,"serviceContact":{}},"relationships":{"provider":{"data":{"id":"cern","type":"providers"}},"prefixes":{"data":[{"id":"10.5281","type":"prefixes"}]}}},"meta":{"dois":[],"resourceTypes":[],"citations":[],"views":[],"downloads":[]}}'
  recorded_at: Tue, 10 Mar 2020 14:51:30 GMT
recorded_with: VCR 2.9.3
