---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/data-centers/CERN.ZENODO?include=member
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"099da26a3712b2060262029846a64e02"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"cern.zenodo","type":"data-centers","attributes":{"title":"Zenodo","other-names":[],"prefixes":[],"member-id":"cern","year":2014,"created":"2014-09-24T14:54:20.000Z","updated":"2019-08-03T05:29:30.000Z"},"relationships":{"member":{"data":{"id":"cern","type":"members"}}}},"included":[{"id":"cern","type":"members","attributes":{"title":"CERN
        - European Organization for Nuclear Research","display-title":"CERN - European
        Organization for Nuclear Research","description":null,"member-type":"direct_member","organization-type":"researchInstitution","focus-area":"naturalSciences","region":"EMEA","country":"CH","year":null,"logo-url":null,"email":null,"website":"https://www.cern.ch","joined":null,"created":"2014-04-10T13:42:48.000Z","updated":"2019-06-23T15:47:07.000Z"}}]}'
  recorded_at: Sun, 06 Oct 2019 16:30:37 GMT
recorded_with: VCR 2.9.3
