---
http_interactions:
- request:
    method: get
    uri: http://api.labs.datacite.org/publishers?id=CERN.ZENODO&offset=0&registration-agency-id=datacite&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"cc573664a1040c47537fb4f5585ebf6c"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"cern.zenodo","type":"publishers","attributes":{"title":"ZENODO
        - Research. Shared.","other-names":[],"prefixes":[],"member-id":"cern","registration-agency-id":"datacite","updated":"2016-05-25T11:45:25Z"}}}'
  recorded_at: Wed, 25 May 2016 12:03:58 GMT
recorded_with: VCR 2.9.3
