---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/data-centers/CERN.ZENODO?include=member
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"00ec06468464791452eb4c549589049f"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"cern.zenodo","type":"data-centers","attributes":{"title":"Zenodo","member-id":"cern","year":2014,"created":"2014-09-24T14:54:20.000Z","updated":"2018-08-26T01:30:41.000Z"},"relationships":{"member":{"data":{"id":"cern","type":"members"}}}}}'
  recorded_at: Sun, 09 Sep 2018 10:33:02 GMT
recorded_with: VCR 2.9.3
