---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/publishers?id=CERN.ZENODO&offset=0&registration-agency-id=datacite&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"9e0e0816034e583bc67bb497a999bf6c"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"cern.zenodo","type":"publishers","attributes":{"title":"ZENODO
        - Research. Shared.","other-names":[],"prefixes":[],"member-id":"CERN","registration-agency-id":"datacite","updated":"2016-09-03T14:32:55Z"}},{"id":"cern","type":"members","attributes":{"title":"European
        Organization for Nuclear Research","description":"\u003cp\u003eCERN, the European
        Organization for Nuclear Research, is the world\u0026#39;s largest particle
        physics laboratory. Founded in 1954 and based on the Franco-Swiss border near
        Geneva, it was one of Europe\u0026#39;s first joint ventures and now has 21
        member states and more than 50 cooperation agreements and scientific contacts
        with other countries.\u003c/p\u003e\n\n\u003cp\u003eAt CERN, physicists and
        engineers probe the fundamental str[...]
