---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/data-centers/CERN.ZENODO?include=member
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"aa82983e1e8e9335fb31c25c478b5b30"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"cern.zenodo","type":"data-centers","attributes":{"title":"Zenodo","member-id":"cern","year":2014,"created":"2014-09-24T14:54:20Z","updated":"2018-04-11T01:30:35Z"},"relationships":{"member":{"data":{"id":"cern","type":"members"}}}}}'
  recorded_at: Wed, 11 Apr 2018 09:34:00 GMT
recorded_with: VCR 2.9.3
