---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/data-centers?include=member&page%5Bnumber%5D=1&page%5Bsize%5D=25&query=zeno
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"d245f788d20b88da60a7523aecc3d1c9"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"dk.openaire","type":"data-centers","attributes":{"title":"Open
        Aire Project","member-id":"dk","year":2013,"created":"2013-01-28T12:07:48.000Z","updated":"2018-08-26T01:30:33.000Z"},"relationships":{"member":{"data":{"id":"dk","type":"members"}}}},{"id":"cern.zenodo","type":"data-centers","attributes":{"title":"Zenodo","member-id":"cern","year":2014,"created":"2014-09-24T14:54:20.000Z","updated":"2018-08-26T01:30:41.000Z"},"relationships":{"member":{"data":{"id":"cern","type":"members"}}}}],"included":[{"id":"dk","type":"members","attributes":{"title":"Technical
        Information Center of Denmark","description":null,"member-type":"provider","region":null,"country":null,"year":null,"logo-url":null,"email":"bikr@dtic.dtu.dk","website":null,"phone":null,"created":"2010-01-01T00:00:00.000Z","updated":"2018-08-26T01:25:40.000Z"},"relationships":{}},{"id":"cern","type":"members","attributes":{"title":"CERN
        - European Organization for Nuclear Research","description":null,"member-type":"provider","region":null,"country":null,"year":null,"logo-url":null,"email":"sunje.dallmeier-tiessen@cern.ch","website":null,"phone":null,"created":"2014-04-10T13:42:48.000Z","updated":"2018-08-26T01:25:40.000Z"},"relationships":{}}],"meta":{"total":2,"total-pages":1,"page":1,"years":[{"id":"2013","title":"2013","count":1},{"id":"2014","title":"2014","count":1}],"members":[{"id":"cern","title":"CERN
        - European Organization for Nuclear Research","count":1},{"id":"dk","title":"Technical
        Information Center of Denmark","count":1}]}}'
  recorded_at: Sun, 09 Sep 2018 10:33:02 GMT
recorded_with: VCR 2.9.3
