---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/data-centers?include=member&page%5Bnumber%5D=1&page%5Bsize%5D=25&query=zeno&registration-agency-id=datacite
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"ffca1e615555599cd2a0c32d5c61fc6a"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"cern.zenodo","type":"data-centers","attributes":{"title":"Zenodo","member-id":"cern","year":2014,"created":"2014-09-24T14:54:20Z","updated":"2018-04-11T01:30:35Z"},"relationships":{"member":{"data":{"id":"cern","type":"members"}}}}],"included":[{"id":"cern","type":"members","attributes":{"title":"CERN
        - European Organization for Nuclear Research","description":null,"member-type":"provider","region":null,"country":null,"year":null,"logo-url":null,"email":"sunje.dallmeier-tiessen@cern.ch","website":null,"phone":null,"created":"2014-04-10T13:42:48.000Z","updated":"2018-04-11T01:25:40.000Z"},"relationships":{}}],"meta":{"total":1,"total-pages":1,"page":1,"years":[{"id":"2014","title":"2014","count":1}],"members":[{"id":"CERN","title":"CERN
        - European Organization for Nuclear Research","count":1}]}}'
  recorded_at: Wed, 11 Apr 2018 09:33:59 GMT
recorded_with: VCR 2.9.3
