---
http_interactions:
- request:
    method: get
    uri: http://api.labs.datacite.org/publishers?offset=0&q=zeno&registration-agency-id=datacite&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"01eec71861c9f1f6aef747e0ae4f4c3f"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"cern.zenodo","type":"publishers","attributes":{"title":"ZENODO
        - Research. Shared.","other-names":[],"prefixes":[],"member-id":"cern","registration-agency-id":"datacite","updated":"2016-05-25T11:45:25Z"}}],"meta":{"total":1,"total-pages":1,"page":1,"registration-agencies":{"datacite":1}}}'
  recorded_at: Wed, 25 May 2016 12:03:58 GMT
recorded_with: VCR 2.9.3
