.panel.panel-default
  .panel-body
    %h3.work
      %a{:href => '/data-centers/' + item["id"]}
        = item.fetch("attributes", {}).fetch("title", nil)
    %div
      = prefix_format(item["attributes"])
  .panel-footer
    %i.fa.fa-info-circle
    = item["id"].upcase
