.search-wide
  %form.form-horizontal{:method => 'GET', :action => '/data-centers'}
    .input-group
      - if params['registration-agency-id'].present?
        %input{type: "hidden", name: "registration-agency-id", value: params['registration-agency-id']}
      - if params['member-id'].present?
        %input{type: "hidden", name: "member-id", value: params['member-id']}
      %input.form-control{type: "text", name: 'query', id: 'search-input', value: params[:query], placeholder: "Search for data center"}
      .input-group-btn
        %button.btn.btn-primary{type: "submit"}
          Search
