---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/contributions?offset=0&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"dbd82358fe297fea8778919b96d16f10"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"79e8ccd8-bf52-44f8-97f2-4f6da944d92e","type":"contributions","attributes":{"subj-id":"http://orcid.org/0000-0002-2843-8624","obj-id":"http://doi.org/10.4225/03/57C066A48774A","credit-name":"Robin
        Armit","orcid":"0000-0002-2843-8624","github":null,"author":[{"family":"Armit","given":"Robin","orcid":"http://orcid.org/0000-0002-2843-8624"},{"family":"Betts","given":"Peter"}],"doi":"10.4225/03/57C066A48774A","url":null,"title":"Time
        Space plot of Phanerozoic geology of Northeast Queensland","container-title":"Figshare","source-id":"datacite-orcid","contributor-role-id":"contribution","type":null,"published":"2016","issued":"2016-08-26T15:56:26Z","updated":"2016-09-03T14:13:05Z"}},{"id":"40efa478-d089-4d2d-9484-dc00d21d9afb","type":"contributions","attributes":{"subj-id":"http://orcid.org/0000-0003-3200-7533","obj-id":"http://doi.org/10.6084/M9.FIGSHARE.3580620","credit-name":"Kevin
        Bonham","orcid":"0000-0003-3200-7533","github":null,"author":[{"family":"Bonham","given":"Kevin","orcid":"http://orcid.org/0000-0003-3200-7533"}],"doi":"10.6084/M9.FIGSHARE.3580620","url":null,"title":"Gender
        Disparity in Computational Biology Publicati[...]
