---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/contributions?contributor-id=orcid.org/0000-0002-8635-8390&offset=0&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"86420db695adae333bb3a715b5e0968c"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"f3770bb1-cc3d-43aa-9d74-82587bae54ba","type":"contributions","attributes":{"subj-id":"http://orcid.org/0000-0002-8635-8390","obj-id":"http://doi.org/10.14469/HPC/1146","credit-name":"Henry
        Rzepa","orcid":"0000-0002-8635-8390","github":null,"author":[{"family":"Rzepa","given":"Henry","orcid":"http://orcid.org/0000-0002-8635-8390"}],"doi":"10.14469/HPC/1146","url":null,"title":"RUWFOE
        model of two boron units Diels Alder cycloaddition, TS with Me replacing NHMe
        twice, reactant with H-Bonding","container-title":"Imperial College London","source-id":"datacite-orcid","contributor-role-id":"contribution","type":null,"published":"2016","issued":"2016-07-31T17:54:54Z","updated":"2016-08-15T23:34:22Z"}},{"id":"7a54df2a-d9a9-4eff-9539-fa015da2c091","type":"contributions","attributes":{"subj-id":"http://orcid.org/0000-0002-8635-8390","obj-id":"http://doi.org/10.14469/HPC/1144","credit-name":"Henry
        Rzepa","orcid":"0000-0002-8635-8390","github":null,"author":[{"family":"Rzepa","given":"Henry","orcid":"http://orcid.org/0000-0002-8635-8390"}],"doi":"10.14469/HPC/1144","url":null,"title":"RUWFOE
        model of two boron units Diels Alder cycloaddition, reactant, H-bo[...]
