---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/contributions?contributor-id=orcid.org/0000-0002-8635-8390&offset=0&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"bb78c136fba0eb4b597278f11b88802f"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"ef63cf42-0737-492b-bc62-5d30dc9b30b6","type":"contributions","attributes":{"subj-id":"http://orcid.org/0000-0002-8635-8390","obj-id":"http://doi.org/10.14469/HPC/1470","credit-name":"Henry
        Rzepa","orcid":"0000-0002-8635-8390","github":null,"author":[{"family":"Rzepa","given":"Henry","orcid":"http://orcid.org/0000-0002-8635-8390"}],"doi":"10.14469/HPC/1470","url":null,"title":"H3N-O-SO3","container-title":"Imperial
        College London","source-id":"datacite-orcid","contributor-role-id":"contribution","type":null,"published":"2016","issued":"2016-08-31T14:13:55Z","updated":"2016-09-03T13:46:47Z"}},{"id":"fcfd5bbd-9333-4aa8-9669-e8e5b9f52f40","type":"contributions","attributes":{"subj-id":"http://orcid.org/0000-0002-8635-8390","obj-id":"http://doi.org/10.14469/HPC/1469","credit-name":"Henry
        Rzepa","orcid":"0000-0002-8635-8390","github":null,"author":[{"family":"Rzepa","given":"Henry","orcid":"http://orcid.org/0000-0002-8635-8390"}],"doi":"10.14469/HPC/1469","url":null,"title":"HN-O-SO(OH)2","container-title":"Imperial
        College London","source-id":"da[...]
