---
http_interactions:
- request:
    method: get
    uri: http://api.labs.datacite.org/contributions?contributor-id=orcid.org/0000-0002-8635-8390&include=publisher,source&offset=0&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"275398e9b30ae7f7f080db5f6579149d"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"b3fb1599-8634-4a2b-8765-29e1e83ef96a","type":"contributions","attributes":{"subj-id":"http://orcid.org/0000-0002-8635-8390","obj-id":"http://doi.org/10.14469/CH/51940","given":"Henry","family":"Rzepa","credit-name":"Henry
        Rzepa","orcid":"0000-0002-8635-8390","github":null,"author":[{"given":"Yong","family":"Zhang"},{"given":"Henry
        S.","family":"Rzepa","orcid":"http://orcid.org/0000-0002-8635-8390"},{"given":"James
        J. P.","family":"Stewart","orcid":"http://orcid.org/0000-0001-6280-8695"},{"given":"Peter","family":"Murray-Rust","orcid":"http://orcid.org/0000-0003-3386-3972"},{"given":"Matthew
        J.","family":"Harvey","orcid":"http://orcid.org/0000-0003-1797-3186"},{"given":"Nicholas","family":"Mason","orcid":"http://orcid.org/0000-0001-9475-0328"},{"given":"Andrew","family":"McLean","orcid":"http://orcid.org/0000-0002-1653-7430"},{"given":"Imperial
        College High Performance Computing","family":"Service"}],"doi":"10.14469/CH/51940","url":null,"title":"NSC204751","container-title":"Imperial
        College London","contributor-role-id":"contribution","source-id":"datacite-orcid","publisher-id":"bl.imperial","work-type-id":"work","published":"2014","issued":"2014-11-03T14:12:20Z","updated":"2016-10-22T14:03:46Z"},"relationships":{"publisher":{"data":{"id":"bl.imperial","type":"publishers"}},"source":{"data":{"id":"datacite-orcid","type":"sources"}}}},{"id":"bbb16a8f-4c09-4073-ba33-cee7d49bde86","type":"contributions","attributes":{"subj-id":"http://orcid.org/0000-0002-8635-8390","obj-id":"http://doi.org/10.14469/CH/101442","given":"Henry","family":"Rzepa","credit-name":"Henry
        Rzepa","orcid":"0000-0002-8635-8390","github":null,"author":[{"family":"Zhang","given":"Yong"},{"family":"Rzepa","given":"Henry
        S.","orcid":"http://orcid.org/0000-0002-8635-8390"},{"family":"Stewart","g[...]
