---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/contributions?contributor-id=orcid.org/0000-0002-8635-8390&offset=0&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"5dc348372b0de4ab4f2987dfafc0ada7"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"39ef77d5-e525-4ebe-87b4-65e2a44867c4","type":"contributions","attributes":{"subj-id":"http://orcid.org/0000-0002-8635-8390","obj-id":"http://doi.org/10.14469/HPC/688","credit-name":"Henry
        Rzepa","orcid":"0000-0002-8635-8390","github":null,"author":[{"family":"Rzepa","given":"Henry","orcid":"http://orcid.org/0000-0002-8635-8390"}],"doi":"10.14469/HPC/688","url":null,"title":"12:
        x-ray conformation methanol TS Def2-TZVPPD BF4 ion pair, top face","container-title":"Imperial
        College London","source-id":"datacite-orcid","contributor-role-id":"contribution","type":null,"published":"2016","issued":"2016-06-26T13:29:58Z","updated":"2016-06-30T08:03:27Z"}},{"id":"a958c1da-eaba-49be-a9e3-4bcdde493302","type":"contributions","attributes":{"subj-id":"http://orcid.org/0000-0002-8635-8390","obj-id":"http://doi.org/10.14469/HPC/687","credit-name":"Henry
        Rzepa","orcid":"0000-0002-8635-8390","github":null,"author":[{"family":"Rzepa","given":"Henry","orcid":"http://orcid.org/0000-0002-8635-8390"}],"doi":"10.14469/HPC/687","url":null,"title":"6:
        x-ray conformation methanol TS Def2-TZVPPD BF4 ion pair, top face","cont[...]
