---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/contributions?contributor-id=orcid.org/0000-0002-8635-8390&offset=0&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"9f38d2cd11d5451f2078c0bc8bf7706f"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"8e44a21e-bf3a-4dba-bace-469aa84b401b","type":"contributions","attributes":{"subj-id":"http://orcid.org/0000-0002-8635-8390","obj-id":"http://doi.org/10.14469/HPC/1146","credit-name":"Henry
        Rzepa","orcid":"0000-0002-8635-8390","github":null,"author":[{"family":"Rzepa","given":"Henry","orcid":"http://orcid.org/0000-0002-8635-8390"}],"doi":"10.14469/HPC/1146","url":null,"title":"RUWFOE
        model of two boron units Diels Alder cycloaddition, TS with Me replacing NHMe
        twice, reactant with H-Bonding","container-title":"Imperial College London","source-id":"datacite-orcid","contributor-role-id":"contribution","type":null,"published":"2016","issued":"2016-07-31T17:54:54Z","updated":"2016-08-15T23:34:22Z"}},{"id":"26f03027-7720-447d-bade-1f57aed53e22","type":"contributions","attributes":{"subj-id":"http://orcid.org/0000-0002-8635-8390","obj-id":"http://doi.org/10.14469/HPC/1144","credit-name":"Henry
        Rzepa","orcid":"0000-0002-8635-8390","github":null,"author":[{"family":"Rzepa","given":"Henry","orcid":"http://orcid.org/0000-0002-8635-8390"}],"doi":"10.14469/HPC/1144","url":null,"title":"RUWFOE
        model of two boron units Diels Alder cycloaddition, reactant, H-bo[...]
