---
http_interactions:
- request:
    method: get
    uri: http://api.labs.datacite.org/contributions?contributor-id=orcid.org/0000-0002-8635-8390&include=publisher,source&offset=0&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"804cc7f4b5c2aad74d191155c6ddebf9"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"e8eab351-88dc-45eb-865f-a3d38550e929","type":"contributions","attributes":{"subj-id":"http://orcid.org/0000-0002-8635-8390","obj-id":"http://doi.org/10.14469/HPC/1478","credit-name":"Henry
        Rzepa","orcid":"0000-0002-8635-8390","github":null,"author":[{"family":"Rzepa","given":"Henry","orcid":"http://orcid.org/0000-0002-8635-8390"}],"doi":"10.14469/HPC/1478","url":null,"title":"Neutral
        reactant, NN contraction + NMe3 to sequester proton, phenyl, tert-butyl","container-title":"Imperial
        College London","contributor-role-id":"contribution","work-type":null,"published":"2016","issued":"2016-09-05T16:08:18Z","updated":"2016-09-19T16:16:48Z"},"relationships":{"publisher":{"data":{"id":"bl.imperial","type":"publishers"}},"source":{"data":{"id":"datacite-orcid","type":"sources"}}}},{"id":"8584ad55-4f7a-4cfc-9216-36e6f0529528","type":"contributions","attributes":{"subj-id":"http://orcid.org/0000-0002-8635-8390","obj-id":"http://doi.org/10.14469/HPC/1479","credit-name":"Henry
        Rzepa","orcid":"0000-0002-8635-8390","github":null,"author":[{"family":"Rzepa","given":"Henry","orcid":"http://orcid.org/0000-0002-8635-8390"}],"doi":"10.14469/HPC/1479","url":null,"title":"Stereoscopic
        display","container-title":"Imper[...]
