= partial :search_header, :page => page

:css
  .well-transparent {
    background-color: transparent;
  }
  #sync-ok {
    color: rgb(166, 206, 57);
    font-size: 1.4em;
    display: none;
  }

.row-fluid
  .span2
  .span8
    .page-header
      %h2 Synchronize with ORCID
    .well.well-large
      .pull-right
        %i.icon-ok.lead#sync-ok
        %button.btn.btn-warning#sync-button
          %i.icon-refresh#sync-icon
          Sync with ORCID
      %span.lead
        Sync changes from your ORCID profile to this site

:javascript
  $(document).ready(function() {
    var performSync = function() {
      $.ajax({url: '/orcid/sync',
              success: function(data) {
                if (data['status'] == 'oauth_timeout') {
                  $.oauthpopup({path: '/auth/orcid',
                                callback: function() {
                                  performSync();
                                }});  
                } else {
                  $('#sync-icon').removeClass('icon-spin');
                  $('#sync-button').removeClass('disabled');
                }

                if (data['status'] == 'ok') {
                  $('#sync-ok').show().delay(1000).fadeOut();
                }
              },
              error: function() {
                $('#sync-icon').removeClass('icon-spin');
                $('#sync-button').removeClass('disabled');
              }
      });
    }
    
    $('#sync-button').click(function(e) {
      if ($(this).hasClass('disabled')) {
        return;
      }
      
      $('#sync-icon').addClass('icon-spin');
      $(this).addClass('disabled');
      performSync();
      
      e.preventDefault();
      return false;
    });
  });