= partial :search_header, :page => page

.row-fluid
  .span2
  .span8.span-help
    %h2.help-title#dois /dois
    %p
      %i Perform a single search and return many results.

    %hr

    %p
      DataCite Metadata Search is backed by a full-text index whose search capabilities are exposed
      by this route. Search terms can be provided to this route along with arguments to paginate, order
      and filter results.

    %p.mini-header
      %b Search Terms and Pagination

    %p.example
      %span GET /dois?q=renear+palmer&page=2&rows=3

    %p
      In this example a search request has been made for the terms &#8220;renear&#8221; or
      &#8220;palmer,&#8221; while the results have been paginated by three results per page
      and the second page of results has been selected.

    %p.mini-header
      %b Sorting

    %p
      Results can be sorted by relevence or year of publication. Relevence sorting orders results
      by their match quality. A result will have a higher match quality if its metadata matches
      more search terms
      relative to the total length of the record's metadata. Specify &#8220;sort=score&#8221; for
      relevence sorting.

    %p.example
      %span GET /dois?q=renear+palmer&sort=score

    %p
      Specify &#8220;sort=year&#8221; to order results by year of publication, beginning with the
      most recent.

    %p.example
      %span GET /dois?q=renear+palmer&sort=year

    %p
      Note that relevence sorting is used if no sort is specified.

    %p.mini-header
      %b Filtering

    %p.example
      %span GET /dois?q=renear+palmer&year=2012

    %p
      Results can be faceted on science category, year of publication, publication type, open access
      status and publication name. The example above will only return DOIs published in 2012.

    %p.mini-header
      %b Search for an Identifier

    %p
      Provide a
      %span.small-caps DOI,
      short
      %span.small-caps DOI
      or
      %span.small-caps ISSN
      as the query term to look up a single
      %span.small-caps DOI
      record or return
      %span.small-caps DOIs
      from a single journal.

    %p.example
      %span GET /dois?q=1234-5678

    %p
      An empty result list will be returned if a non-existent identifer is provided.
      Here's another
      example that selects a specific
      %span.small-caps DOI.
      Notice the url encoding of the
      %span.small-caps DOI.

    %p.example
      %span GET /dois?q=10.5555%2F12345678

    %p.mini-header
      %b OpenSearch Response Headers

    %p
      Meta information about search results can be included in /dois
      responses. Add a &#8220;header=true&#8221; parameter to any search query to
      see a response header that mimics OpenSearch response elements.

    %pre.example
      :preserve
        GET /dois?q=fishing&header=true

        {
          "totalResults": 6138,
          "startIndex": 0,
          "itemsPerPage": 20,
          "query": {
            "searchTerms": "fishing",
            "startPage": 1
          },
          "items": [ ... ]
        }

    .sep

    %h2.help-title#match /links
    %p
      %i Match many free-form citations to DOIs.

    %hr

    %p
      Resolve citations to DOIs by POSTing a JSON list of free-form citations to this route.

    %pre.example
      :preserve
        POST /links

        [
          "Piwowar HA, Vision TJ, Whitlock MC (2011) Data archiving is a good investment. Nature 473: 285.",
          "Bourne 2014"
        ]

    %p
      Be sure to mark the request's content type as JSON by specifying a Content-Type header in the request:

    %pre.example
      :preserve
        Content-Type: application/json

    %p
      Citations must contain at least three words, those with less will not match. Citations
      with a low match score will be returned without a potential match. Here's a sample
      response:

    %pre.example
      :preserve
        {
          "query_ok": true,
          "results": [
            {
              "text": "...",
              "match": true,
              "doi": "10.1111/j.1365-2966.2010.18055.x",
              "score": 5.6733
            },
            {
              "text": "...",
              "match": false,
              "reason": "Too few terms"
            }
          ]
        }

= partial :search_footer, :page => page
