%script{:type => 'text/javascript', :src => '/javascripts/citebox.js'}

.modal.hide#citation-modal
  .modal-header
    %a.button.close#citation-modal-close &times;
    %h3
      %span#citation-modal-title
  .modal-body
    %ul.nav.nav-tabs#cite-nav
      %li.active.citation-link#bibtex
        %a.cite-link{:href => '#'} BibTeX
      %li.citation-link#ris
        %a.cite-link{:href => '#'} RIS
      %li.citation-link#apa
        %a.cite-link{:href => '#'} APA
      %li.citation-link#harvard
        %a.cite-link{:href => '#'} Harvard
      %li.citation-link#ieee
        %a.cite-link{:href => '#'} IEEE
      %li.citation-link#mla
        %a.cite-link{:href => '#'} MLA
      %li.citation-link#vancouver
        %a.cite-link{:href => '#'} Vancouver
      %li.citation-link#chicago
        %a.cite-link{:href => '#'} Chicago

    %pre#citation-text


