.modal.fade#citation-modal
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %a.button.close#citation-modal-close &times;
        %h4#citation-modal-title{'data-conneg': ENV['DATA_URL'] }
      .modal-body
        .nav-tabs-navigation
          .nav-tabs-wrapper
            %ul.nav.nav-tabs#cite-nav
              %li.active.citation-link#apa
                %a.cite-link{:href => '#'} APA
              %li.citation-link#harvard-cite-them-right
                %a.cite-link{:href => '#'} Harvard
              %li.citation-link#modern-language-association
                %a.cite-link{:href => '#'} MLA
              %li.citation-link#vancouver
                %a.cite-link{:href => '#'} Vancouver
              %li.citation-link#chicago-fullnote-bibliography
                %a.cite-link{:href => '#'} Chicago
              %li.citation-link#ieee
                %a.cite-link{:href => '#'} IEEE
              %li.citation-link#bibtex
                %a.cite-link{:href => '#'} BibTeX
              %li.citation-link#ris
                %a.cite-link{:href => '#'} RIS

        #citation-text

        .pull-right
          %button.btn.btn-fill.btn-sm.btn-neutral{id: "clipboard-btn", title: "Copy to Clipboard", style: "display: none;", data: { "clipboard-target" => "#citation-text" }, "onClick" => "_gaq.push(['_trackEvent', 'copytoclipb', 'click', 'Copied Ref', 10, false]);"}
            %i.fa.fa-clipboard
            Copy to Clipboard
        .clearfix
