.modal.hide
  .modal-header
    %a.button.close#claim-modal-close &times;
    %h3
      %span#claim-modal-title
  .modal-body
    %p Claim?
  .modal-footer
    %a.btn{:href => '#'} No, thanks
    %a.btn.btn-primary{:href => '#'} Yes, do it
