:css
  dl, dd, dt {
    line-height: 1.6em;
  }
  dd {
    margin-bottom: 0.4em;
  }

:javascript
  $(document).ready(function() {
    $('.example-link').click(function(e) {
      $('.search-input').val($(this).text());
      $('#search-form').submit();
    });
  });  
  
%dl.lead
  %dt
    %a.example-link{:href => '#'} National Institutes of Health
  %dd
    Find all works produced from research that was funded by the National
    Institutes of Health.
    
