:css
  dl, dd, dt {
    line-height: 1.6em;
  }
  dd {
    margin-bottom: 0.4em;
  }

:javascript
  $(document).ready(function() {
    $('.example-link').click(function(e) {
      var $searchInput = $('.search-input');
      $searchInput.val($(this).text());
      $searchInput.focus();
      $('html, body').animate({scrollTop:0});
    });
  });  
  
%dl.lead
  %dt
    %a.example-link{:href => '#'} National Science Foundation
  %dd
    Find all works produced from research that was funded by the National
    Science Foundation.
  %a.example-link{:href => '#'} NSF
  %dd
    It is possible to search for funders under alternate names, such as
    their acronyms.
