:css
  .funder {
    margin-bottom: 1em;
  }

.row-fluid
  .span1
  .span10
    - render_funders(page[:funder][:nesting], page[:funder][:nesting_names], 0) do |indent, id, name, more|
      - if indent == 1
        .page-header
          %h3{:style => "margin-left:#{indent * 15}px"}= name
      - elsif indent == 2
        %h4.funder{:style => "margin-left:#{indent * 15}px"}= name
      - else
        %p.funder{:style => "margin-left:#{indent * 15}px"}= name
    
