:javascript
  $(document).ready(function() {
    $('.example-link').click(function(e) {
      var $searchInput = $('.search-input');
      $searchInput.val($(this).text());
      $searchInput.focus();
      $('html, body').animate({scrollTop:0});
    });
  });  
  
%dl.lead
  %dt
    %a.example-link{:href => '#'} Palmer ontologies publishing
  %dd Find your own works by searching for your name and something else, such as part of a title. 
  %dt
    %a.example-link{:href => '#'} galaxy classification
  %dd Discover new articles by searching for query terms.
  %dt
    %a.example-link{:href => '#'} +galaxy +bayesian !lensing
  %dd Put a + in front of a query term to force it to appear in search results (or a ! to exclude it).
  %dt
    %a.example-link{:href => '#'} 10.2331/suisan.32.804
  %dd Find a particular work by searching for its DOI.
  %dt
    %a.example-link{:href => '#'} 10/ct8vzd
  %dd
    Find a particular work by searching for its
    %a{:href => 'http://shortdoi.org', :target => '_blank'} short DOI
    :plain
      .
  %dt
    %a.example-link{:href => '#'} 1740-8776
  %dd Find articles within a journal by searching for an ISSN.
  %dt
    %a.example-link{:href => '#'} M. Henrion, D. J. Mortlock, D. J. Hand, and A. Gandy, "A Bayesian approach to star-galaxy classification," Monthly Notices of the Royal Astronomical Society, vol. 412, no. 4, pp. 2286-2302, Apr. 2011.
  %dd Find a particular work by searching for a full citation.
