:javascript
  $(document).ready(function() {
    $('.example-link').click(function(e) {
      var $searchInput = $('.search-input');
      $searchInput.val($(this).text());
      $searchInput.focus();
      $('html, body').animate({scrollTop:0});
    });
  });  
  
%dl.lead
  %dt
    %a.example-link{:href => '#'} Brase datacite
  %dd Find your own works by searching for your name and something else, such as part of a title. 
  %dt
    %a.example-link{:href => '#'} data citation
  %dd Discover new articles by searching for query terms.
  %dt
    %a.example-link{:href => '#'} +cern !physics
  %dd Put a + in front of a query term to force it to appear in search results (or a ! to exclude it).
  %dt
    %a.example-link{:href => '#'} 10.6084/M9.FIGSHARE.154691
  %dd Find a particular work by searching for its DOI.
  %dt
    %a.example-link{:href => '#'} 10/kz6
  %dd
    Find a particular work by searching for its
    %a{:href => 'http://shortdoi.org', :target => '_blank'} short DOI
    :plain
    .
  %dt
    %a.example-link{:href => '#'} John Kaye. (2013). Datasets and Digital Research Resources - Presentation to British Library Doctoral Open Days - Feb 2013. Figshare.
  %dd Find a particular work by searching for a full citation.
