%script{:type => 'text/javascript', :src => '/javascripts/fields.js'}
%script{:type => 'text/javascript', :src => '/javascripts/app.js'}

.row
  .page-header
    %h1
      %span.cr-red DataCite
      %span Search
.row
  %p.lead
    This page will help you find metadata held by DataCite.
    Using this page you can
    %strong look up metadata
    for a DOI,
    %strong find the DOI
    for a citation or turn a list of
    %strong citations into DOIs.

.row{:style => 'margin-top: 50px'}
  %ul.nav.nav-tabs#search-tabs
    %li.active
      %a{:href => '#simple-search', 'data-toggle' => 'tab'}
        %h6.simple-search
          %i.fa.fa-search
          Simple
    %li
      %a{:href => '#adv-search', 'data-toggle' => 'tab'}
        %h6.adv-search
          %i.fa-fa-wrench
          Advanced
    %li
      %a#bib-search-link{:href => '#bib-search', 'data-toggle' => 'tab'}
        %h6.bib-search
          %i.fa.fa-list
          Bibliography

.row
  .tab-content
    .tab-pane.fade.active.in#simple-search
      %form.form-search.well
        %p.lead Find a work and its metadata by entering a DOI, citation or any terms
        .middle
          %input.input-xxlarge.search-query#simple-search-text{:type => 'text', :placeholder => 'DOI, citation, anything...'}
          %button.btn#simple-search-btn{:type => 'submit'} Search

    .tab-pane.fade#adv-search
      %form.form-horizontal.well
        %p.lead Find a work, its metadata and DOI by entering bibliographic information
        .control-group
          %label.control-label I'm looking for
          .controls
            %select.input-xlarge#adv-search-kind
              %option{:value => 'article'} a journal article
              %option{:value => 'conference-paper'} a conference paper
              %option{:value => 'chapter'} a book chapter
              %option{:value => 'book'} a book title
              %option{:value => 'other'} something else (like a standard, report or dissertation)
        .control-group
          %label.control-label That matches
          .controls
            #adv-search-expander
        #adv-search-fields
        .form-actions.right
          %span#completion-msg Pick fields above. Be sure to pick required fields.
          %button.btn.disabled#adv-search-btn{:type => 'submit'} Search

    .tab-pane.fade#bib-search
      %form.form-vertical.well#bib-search-well
        %p.lead Give us a bunch of citations and we'll find DOIs for them
        %label
          Citations (one per line)
        %textarea#bib-search-text
        .form-actions.right
          %button.btn{:type => 'submit'} Find DOIs

