%script{:type => 'text/javascript', :src => '/javascripts/fields.js'}
%script{:type => 'text/javascript', :src => '/javascripts/app.js'}
:css
  h6.simple-search {
    font-size: 1.5em;
    color: rgb(192, 70, 62);
  }
  h6.adv-search {
    font-size: 1.5em;
    color: rgb(49, 145, 177);
  }
  h6.bib-search {
    font-size: 1.5em;
    color: rgb(181, 191, 111);
  }
  .cr-red {
    color: rgb(192, 70, 62);
  }
  .middle {
    text-align: center;
  }
  .right {
    text-align: right;
  }
  .btn {
    font-size: 1.3em;
    line-height: 1.3em;
  }

  .add-more-area {
    background-color: #fbfbfb;
    border: 1px solid rgb(204, 204, 204);
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  .label-add {
    background-color: rgb(192, 70, 62);
    font-size: 0.9em;
    line-height: 0.9em;
    margin: 3px;
    padding: 4px;
    color: white;
    display: inline-block;
  }

  .label-add.optional {
    background-color: rgb(49, 145, 177);
  }
  
  .label-add.added {
    background-color: #8ccb7f;
  }

  .set-label {
    font-size: 0.9em;
    text-align: right;
    line-height: 0.9em;
    color: #a9a9a9;
    padding: 4px;
  }

  #completion-msg {
    font-size: 1.3em;
    padding: 2em;
  }


.row-fluid
  .page-header
    %h1
      %span.cr-red CrossRef
      %span Search
.row-fluid  
  %p.lead
    This page will help you find metadata held by CrossRef.
    Using this page you can
    %strong look up metadata
    for a DOI,
    %strong find the DOI
    for a citation or turn a list of
    %strong citations into DOIs.

.row-fluid{:style => 'margin-top: 50px'}
  %ul.nav.nav-tabs#search-tabs
    %li.active
      %a{:href => '#simple-search', 'data-toggle' => 'tab'}
        %h6.simple-search
          %i.icon-search
          Simple
    %li
      %a{:href => '#adv-search', 'data-toggle' => 'tab'}
        %h6.adv-search
          %i.icon-wrench
          Advanced
    %li
      %a#bib-search-link{:href => '#bib-search', 'data-toggle' => 'tab'}
        %h6.bib-search
          %i.icon-list
          Bibliography

.row-fluid
  .tab-content
    .tab-pane.fade.active.in#simple-search
      %form.form-search.well
        %p.lead Find a work and its metadata by entering a DOI, citation or any terms      
        .middle
          %input.input-xxlarge.search-query#simple-search-text{:type => 'text', :placeholder => 'DOI, citation, anything...'}
          %button.btn#simple-search-btn{:type => 'submit'} Search

    .tab-pane.fade#adv-search              
      %form.form-horizontal.well
        %p.lead Find a work, its metadata and DOI by entering bibliographic information
        .control-group
          %label.control-label I'm looking for
          .controls
            %select.input-xlarge#adv-search-kind
              %option{:value => 'article'} a journal article
              %option{:value => 'conference-paper'} a conference paper
              %option{:value => 'chapter'} a book chapter
              %option{:value => 'book'} a book title
              %option{:value => 'other'} something else (like a standard, report or dissertation)
        .control-group
          %label.control-label That matches
          .controls
            #adv-search-expander
        #adv-search-fields
        .form-actions.right
          %span#completion-msg Pick fields above. Be sure to pick required fields.
          %button.btn.disabled#adv-search-btn{:type => 'submit'} Search

    .tab-pane.fade#bib-search                  
      %form.form-vertical.well#bib-search-well
        %p.lead Give us a bunch of citations and we'll find DOIs for them
        %label
          Citations (one per line)
        %textarea#bib-search-text
        .form-actions.right         
          %button.btn{:type => 'submit'} Find DOIs

