.item-links
  %a
    %i.icon-download-alt
    Metadata
  %a.cite-link
    %i.icon-bullhorn
    Cite
  - unless facet? 'publication'  
    %a{:href => "#{facet_link('publication', item['journal']['full_title'])}"}
      %i.icon-copy
      More from this publication
  .pull-right
    %a{:href => 'http://dx.doi.org/' + item['doi'], :target => '_blank'}
      %i.icon-external-link
      = item['doi']