:css
  .item-tab.conf-proc {
    border-left: 4px solid rgb(49, 145, 177);
  }
  .item-data {
    padding: 1em;
  }
  td {
    vertical-align: top;
    padding: .7em;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  table:first_child {
    border-top: 1px solid #eee;
  }
  tr {
    border-bottom: 1px solid #eee;
    padding-bottom: 5em;
  }
  .item-data a {
    margin-left: 0.2em;
    margin-right: 0.2em;
  }
  .hl {
    background-color: rgb(235,245,167);
    border-bottom: 1px dashed grey;
    color: rgb(51,51,51);
  }
  .extra {
    color: #999;
    font-size: 1.2em;
    line-height: 1.3em;
  }
  .lead {
    margin-bottom: .7em;  
  }
  .oa-tooltip, .oa-tooltip:visited {
    color: rgb(167, 204, 145);
  }
  .oa-tooltip:hover {
    color: rgb(147, 184, 125);
  }
  .item-links a {
    margin-right: 1.5em;
  }
  .item-data .extra span {
    font-size: .9em;
    line-height: 1.5em;
  }
  .label {
    font-weight: normal;
  }

  .item-data .extra b {
    font-size: 1.1em;
  }

:javascript
  MAX_EXPAND_CHARS = 240;
  
  $(document).ready(function() {
    $('.oa-tooltip').tooltip({
      title: 'Article is published in a journal present in the Directory of Open Access Journals.'
    });

    $('.expand').each(function() {
      if ($(this).text().length > MAX_EXPAND_CHARS) {
        $(this).data('full-text', $(this).text());        
        $(this).text($(this).text().substring(0, MAX_EXPAND_CHARS));
        $(this).append($('<a>').addClass('expander').text('...').attr('href', '#'));
      }
    });

    $('.expander').click(function(e) {
      var parent = $(this).parent();
      parent.text(parent.data('full-text'));
      e.preventDefault();
      return false;
    });
  });

%table  
  - page[:items].each do |item|
    - case item.type
    - when 'journal_article'
      = partial :item_article, :page => page, :item => item
    - when 'conference_paper'
      = partial :item_conf_proc, :page => page, :item => item
    - else
      = partial :item_unknown, :page => page, :item => item