!!!
%html
  %head
    %title
      = ENV['APPLICATION']
    %link{:rel => 'stylesheet', :href => '/stylesheets/bootstrap.min.css', :type => 'text/css', :media => 'screen'}
    %link{:rel => 'stylesheet', :href => '/stylesheets/font-awesome.min.css', :type => 'text/css', :media => 'screen'}
    %link{:rel => 'stylesheet', :href => '/stylesheets/application.css', :type => 'text/css', :media => 'screen'}
    %link{:rel =>'search', :href => '/opensearch.xml', :type => 'application/opensearchdescription+xml', :title => 'CrossRef Metadata Search'}
    %script{:type => 'text/javascript', :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/bootstrap.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/spin.min.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/format.min.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/jquery.oauthpopup.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/bootstrap.notify.js'}
    - if ENV['BUGSNAG_JS_KEY']
      %script{:type => 'text/javascript', :src => '//d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js', :data => { 'apikey' => "#{ENV['BUGSNAG_JS_KEY']}" }}
    - if ENV['GABBA_COOKIE']
      :javascript
         var _gaq = _gaq || [];
         _gaq.push(['_setAccount', '#{ENV['GABBA_COOKIE']}']);
         _gaq.push(['_trackPageview']);

         (function() {
           var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
           ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
    :javascript
      $(document).ready(function() {
        $('.number').formatNumber();
      });
  %body
    .notifications.top-left
    .container-fluid
      = yield
    - if expired_session?
      :javascript
        $(document).ready(function() {
          $('.top-left').notify({
            message: {text: "You have been signed out of ORCID (sign-ins last for 1 hour)."},
            type: 'warn',
            fadeOut: {enabled: true, delay: 4000}
          }).show();

          $.ajax({
            url: '/auth/signout',
          });
        });

