!!!
%html
  %head
    %link{:rel => 'stylesheet', :href => '/bootstrap.min.css', :type => 'text/css', :media => 'screen'}
    %link{:rel => 'stylesheet', :href => '/font-awesome.css', :type => 'text/css', :media => 'screen'}
    %script{:type => 'text/javascript', :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '/bootstrap.js'}
  %body
    .container-fluid
      = yield