- if signed_in?
  .dropdown
    %a.dropdown-toggle{:href => '#', :role => 'button', 'data-toggle' => 'dropdown'}
      %img{:src => '/images/orcid_24x24.gif'}
      = user_display
      %b.caret
    %ul.dropdown-menu{'role' => 'menu', :style => 'right: 0; left: auto;'}
      %li
        %a{:href => 'https://orcid.org/my-orcid', :target => '_blank'}
          %i.icon-external-link
          ORCID profile
      %li
        %a{:href => '/orcid/activity'}
          %i.icon-cog
          Settings
      %li.divider
      %li
        %a{:href => "/auth/signout?redirect_uri=#{URI.encode(request.fullpath)}"}
          %i.icon-signout
          Sign out
- else
  %a.sign-in-link{:href => '#'}
    %img{:src => '/images/orcid_24x24.gif'}
    Sign in with ORCID
  :javascript
    $(document).ready(function() {
      $('.sign-in-link').click(function(e) {
        $.oauthpopup({path: '/auth/orcid',
                      callback: function() {
                        document.location.reload(true);
                      }});
        e.preventDefault();
        return false;
      });
    });
