- if signed_in?
  %div{ class: 'dropdown' }
    %img.logo{src: '/images/orcid_24x24.gif'}
    %a.dropdown-toggle{:href => '#', :role => 'button', 'data-toggle' => 'dropdown'}
      = user_display
      %b.caret
    %ul.dropdown-menu.pull-right{'role' => 'menu'}
      %li
        %a{:href => "#{ENV['ORCID_URL']}/#{session[:orcid][:uid]}"}
          %i.icon-external-link
          ORCID Profile
      %li
        %a{:href => '/orcid/activity'}
          %i.icon-cog
          Settings
      %li.divider
      %li
        %a{:href => "/auth/signout?redirect_uri=#{URI.encode(request.fullpath)}"}
          %i.icon-signout
          Sign out
- else
  %img.logo{src: '/images/orcid_24x24.gif'}
  %a#sign-in-link{:href => '#'}
    Sign in with ORCID

  :javascript
    $(document).ready(function() {
      $('#sign-in-link').click(function(e) {
        $.oauthpopup({path: '/auth/orcid',
          callback: function() {
            document.location.reload(true);
          }});
        e.preventDefault();
        return false;
      });
    });
