= partial :search_header, :page => page

.row-fluid
  .span2
  .span8
    .page-header
      %h2 Link References
    .well.well-large
      %span.lead
        Match references to DOIs using CrossRef Metadata Search fuzzy matching
      %p{:style => 'margin-top: 15px; margin-bottom: 15px'}
        Paste references into the box below, making sure that
        there is one reference on each line. You may copy and paste
        the references section of an article but must adjust
        the references to one-per-line. This tool does not understand
        reference numbering.

      %form{:method => 'POST'}
        %textarea{:name => 'references', :style => 'width:100%; padding:0;', :rows => '30'}
        %div{:style => 'margin-bottom: 30px'}
          .pull-right
            %button.btn.btn-success.btn-large
              %i.icon-search
              Match to DOIs
    
