.row-fluid
  - if page[:mini_header]
    .span-header
      .pull-right
        .simple-nav-outer.simple-nav-bump-up
          .simple-nav
            .pull-right
              = partial :profile_link, {}
            %a{:href => '/help/search'} Help  
            %a{:href => '/help/status'} Status
            %a{:href => '/help/api'} API
            %a{:href => settings.contact_url} Contact
  - else
    .span-header.span3
      %a.home-link{:href => '/'}
        %img{:src => '/images/logo.png'}
    .span-header.span9
      .pull-right
        .simple-nav-outer
          .simple-nav.smaller
            .pull-right
              = partial :profile_link, {}
            %a{:href => '/help/search'} Help  
            %a{:href => '/help/api'} API
            %a{:href => '/help/status'} Status
            %a{:href => settings.contact_url} Contact
      %form{:method => 'GET', :action => '/'}
        .search-in-header
          %input.input.input-xlarge.search-input{:placeholder => 'Search', :style => 'width: 22em; padding-left: 2em;', :name => 'q', :type => 'text', :value => page[:bare_query]}
          %i.icon-search      
%hr
    
