:css
  .cr-red {
    color: rgb(192, 70, 62);
  }
  .home-link, .home-link:visited, .home-link:hover {
    text-decoration: none;
    color: black;
  }
  .simple-nav {
    font-size: 1.2em;
    line-height: 1.1em;
    margin-top: 1em;
  }
  .simple-nav a, .simple-nav a:visited {
    color: grey;
    padding-left: .4em;
  }
  .search-in-header {
    position: relative;
    margin-top: .5em;
    margin-right: 16em;
    width: 22em;
  }
  .search-in-header i {
    position: absolute;
    top: 0.35em;
    left: 0.5em;
    font-size: 1.8em;
    color: #aaa;
  }
  .search-in-header input {
    line-height: 1.2em;
    height: 1.4em;
    font-size: 1.6em;
    width: 22em;
    padding-left: 2em;
  }
  a.home-link img {
    width: 175px;
  }
  .span-header {
    margin-top: 1.2em;
    margin-bottom: -1.3em;
  }
  .simple-nav-outer {
    position: relative;
    width: 45em;
  }
  .simple-nav-bump-up {
    margin-top: -1em;
  }
  .simple-nav {
    position: absolute;
    height: 2em;
    top: 50%;
    margin-top: 1em;
    right: 0;
  }
  .simple-nav .pull-right {
    margin-top: -0.05em;
  }
  .simple-nav .pull-right img {
    margin-top: -0.2em;
  }
  .simple-nav > * {
    margin-left: .4em;
  }
  .simple-nav.smaller {
    font-size: 1em;
    line-height: 2em;
  }

- if page[:branding][:search_typeahead] == :funder_name
  :javascript
    $(document).ready(function() {
      $('#search-input').typeahead({
        name: 'funders',
        remote: '/funders?q=%QUERY',
        template: '<p>{{value}} <small>{{country}}</small></p>',
        engine: Hogan,
        limit: 16
      });
      $('#search-input').bind('typeahead:autocompleted typeahead:selected', function(e, datum) {
        $('#fundref-input').val(datum['id']);
        $('#fundref-form').submit();
      });
    });

  .proxy-form{:style => 'display: none;'}
    %form#fundref-form{:method => 'GET', :action => page[:branding][:search_action]}
      %input#fundref-input{:name => 'q'}

.row-fluid
  - if page[:mini_header]
    .span-header
      .pull-right
        .simple-nav-outer.simple-nav-bump-up
          .simple-nav
            - if page[:branding][:show_profile_link]
              .pull-right
                = partial :profile_link, {}
            - if page[:branding][:header_links_profile] == :fundref
              %a{:href => '/'} Metadata Search
            - elsif page[:branding][:header_links_profile] == :crmds
              %a{:href => '/fundref'} FundRef
              %a{:href => '/references'} Link References
              %a{:href => '/help/status'} Status
              %a{:href => '/help/api'} API
              %a{:href => '/help/search'} Help
            - elsif page[:branding][:header_links_profile] == :chorus
              %a{:href => 'http://chorusaccess.org'} CHORUS
            - else
              %a{:href => '/help/search'} Help  
              %a{:href => '/help/status'} Status
              %a{:href => '/help/api'} API
  - else
    .span-header.span3
      %a.home-link{:href => page[:branding][:logo_link]}
        %img{:src => page[:branding][:logo_path]}
    .span-header.span9
      .pull-right
        .simple-nav-outer
          .simple-nav.smaller
            - if page[:branding][:show_profile_link]
              .pull-right
                = partial :profile_link, {}
            - if page[:branding][:header_links_profile] == :fundref
              %a{:href => '/'} Metadata Search
            - elsif page[:branding][:header_links_profile] == :crmds
              %a{:href => '/fundref'} FundRef
              %a{:href => '/references'} Link References
              %a{:href => '/help/status'} Status
              %a{:href => '/help/api'} API
              %a{:href => '/help/search'} Help
            - elsif page[:branding][:header_links_profile] == :chorus
              %a{:href => 'http://chorusaccess.org'} CHORUS
            - else
              %a{:href => '/help/search'} Help  
              %a{:href => '/help/status'} Status
              %a{:href => '/help/api'} API
      %form#search-form{:method => 'GET', :action => page[:branding][:search_action]}
        .search-in-header
          %input.input.input-xlarge.search-input#search-input{:placeholder => page[:branding][:search_placeholder], :name => 'q', :type => 'text', :value => page[:bare_query]}
          %i.icon-search   
%hr
    
