.row-fluid
  - if page[:mini_header]
    .span12
      .profile.pull-right
        = haml :profile_link
  - else
    .span2
      .logo
        %a{:href => '/'}
          %img.logo-small{src: "/images/#{ENV['RA']}/logo-small.png", alt: ENV['SITENAME'] }
    .span10
      .profile.pull-right
        = haml :profile_link
      %form{:method => 'GET', :action => '/'}
        .search-in-header
          %input#search-input{placeholder: 'Enter search term', name: 'q', type: 'text', value: page[:bare_query]}
          %button.btn.btn-large{type: "submit"}
            %i.icon-search
        = haml :hidden
