- if page[:mini_header]
  .profile.pull-right
    = partial :profile_link, {}
- else
  .logo.pull-left
    %a{:href => '/'}
      %img.logo-small{src: '/images/logo-small.png', alt: 'DataCite' }
  .profile.pull-right
    = partial :profile_link, {}
  %form{:method => 'GET', :action => '/'}
    .search-in-header
      %input.search-input{placeholder: 'Enter search term', name: 'q', type: 'text', value: page[:bare_query]}
