:css
  .cr-red {
    color: rgb(192, 70, 62);
  }
  .search {
    position: relative;
    margin-top: .1em;
  }
  .search i {
    position: absolute;
    top: 0.35em;
    left: 0.4em;
    font-size: 1.5em;
    color: #aaa;
  }
  .home-link, .home-link:visited, .home-link:hover {
    text-decoration: none;
    color: black;
  }
  
.page-header
  .pull-right
    %form{:method => 'GET'}
      .search
        %input.input.input-xlarge{:placeholder => 'Search', :style => 'padding-left: 2em;', :name => 'q', :type => 'text', :value => page[:query]}
        %i.icon-search
  %h1
    %a.home-link{:href => '/'}
      %span.cr-red CrossRef
      %span Metadata Search
    