.search
  %form.form-horizontal{:method => 'GET', :action => '/'}
    .input-group
      %input.form-control{type: "text", name: 'q', id: 'search-input', value: page[:bare_query], placeholder: "Enter search term"}
      .input-group-btn
        %button.btn.btn-primary{type: "submit"}
          %i.fa.fa-search
