= haml :search_header, locals: { page: page.merge({:mini_header => true}) }

.row-centered
  %img{class: 'logo-big', src: '/images/logo-big.png'}

  %form{:method => 'GET', :action => '/'}
    .search-in-header
      %input.search-input{placeholder: 'Enter search term', name: 'q', type: 'text', value: page[:bare_query]}
  .splash

= haml :search_footer, locals: { page: page }
