:css
  .cr-red {
    color: rgb(192, 70, 62);
  }
  .search {
    margin-top: 2em;
    position: relative;
  }
  .search i {
    position: absolute;
    top: 0.25em;
    left: 0.3em;
    font-size: 2.8em;
    color: #aaa;
  }
  .search input {
    padding-left: 1.5em;
    line-height: 1.2em;
    height: 1.4em;
    font-size: 2.5em;
    width: 20em;
  }
  h1 {  
    font-size: 4em;
    line-height: 1.2em;
  }
  .row-centered {
    margin: 0 auto;
    width: 700px;
  }
  #help-accordion {
    margin-top: 2em;
    margin-left: 4px;
  }
  .break-below {
    margin-bottom: 6em;
  }

:javascript
  $(document).ready(function() {
    $('#help-body').collapse('hide');
    $('#search-input').focus();
  });

- if page[:branding][:search_typeahead] == :funder_name
  :javascript
    $(document).ready(function() {
      $('#search-input').typeahead({
        name: 'funders',
        remote: '/funders?q=%QUERY',
        limit: 8
      });
      $('#search-input').bind('typeahead:autocompleted typeahead:selected', function(e, datum) {
        $('#search-form').submit();
      });
    });

.row-centered.break-below
  = partial :search_header, :page => page.merge({:mini_header => true})
  
.spacer  
.row-centered
  %h1
    %center
      %img{:src => page[:branding][:logo_path]}
  %form#search-form{:method => 'GET', :action => page[:branding][:search_action]}
    .search
      %input.input.input-xlarge.search-input#search-input{:name => 'q', :type => 'text', :value => page[:query], :placeholder => page[:branding][:search_placeholder]}
      %i.icon-search

.row-centered
  .accordion#help-accordion
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{:href => '#help-body', 'data-toggle' => 'collapse', 'data-parent' => '#help-accordion'}
          .pull-right
            %i.icon-caret-down
          %span Help! - Example Queries
      .accordion-body#help-body  
        .accordion-inner
          = partial page[:branding][:examples_layout], :page => page

