.row-centered.break-below
  = partial :search_header, :page => page.merge({:mini_header => true})
  
.spacer  
.row-centered
  %h1.logo
    %img{:src => '/images/logo.png'}
  %p.lead
    Make your research data count. Claim them in your ORCID profile.

