---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/events?doi=10.21956/aasopenres.13896.r26067&extra=true&page%5Bnumber%5D=1&page%5Bsize%5D=25&relation-type-id=cites,is-cited-by,compiles,is-compiled-by,documents,is-documented-by,has-metadata,is-metadata-for,is-supplement-to,is-supplemented-by,is-derived-from,is-source-of,references,is-referenced-by,reviews,is-reviewed-by,requires,is-required-by,describes,is-described-by,unique-dataset-investigations-regular,total-dataset-investigations-regular,unique-dataset-requests-regular,total-dataset-requests-regular&sort=relation_type_id&source-id=datacite-related,datacite-crossref,crossref,datacite-usage,datacite-funder
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"5da3e394968abfce424b2adceadd7db0"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"total":0,"totalPages":0,"page":1},"links":{"self":"https://api.datacite.org/events?doi=10.21956%2Faasopenres.13896.r26067&extra=true&page%5Bnumber%5D=1&page%5Bsize%5D=25&relation-type-id=cites%2Cis-cited-by%2Ccompiles%2Cis-compiled-by%2Cdocuments%2Cis-documented-by%2Chas-metadata%2Cis-metadata-for%2Cis-supplement-to%2Cis-supplemented-by%2Cis-derived-from%2Cis-source-of%2Creferences%2Cis-referenced-by%2Creviews%2Cis-reviewed-by%2Crequires%2Cis-required-by%2Cdescribes%2Cis-described-by%2Cunique-dataset-investigations-regular%2Ctotal-dataset-investigations-regular%2Cunique-dataset-requests-regular%2Ctotal-dataset-requests-regular&sort=relation_type_id&source-id=datacite-related%2Cdatacite-crossref%2Ccrossref%2Cdatacite-usage%2Cdatacite-funder"}}'
  recorded_at: Wed, 19 Jun 2019 08:31:00 GMT
- request:
    method: get
    uri: https://api.datacite.org/works?ids=10.21956/aasopenres.13896.r26067&include=data-center,resource-type,member&page%5Bnumber%5D=1&page%5Bsize%5D=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"df6f4ef889ed84e1fa064d5ec950cddb"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"included":[],"meta":{"total":0,"total-pages":0,"page":1}}'
  recorded_at: Wed, 19 Jun 2019 08:31:01 GMT
recorded_with: VCR 2.9.3
