---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/works/10.21956/aasopenres.13896.r26067?include=data-center,resource-type,member
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"cbebccb76f37c9c6562cc29b12667a90"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"https://handle.test.datacite.org/10.21956/aasopenres.13896.r26067","type":"works","attributes":{"doi":"10.21956/aasopenres.13896.r26067","identifier":"https://handle.test.datacite.org/10.21956/aasopenres.13896.r26067","url":"https://dev1aas.f1000internal.com/articles/1-7/v1#referee-response-26067","author":[{"given":"Lina","family":"Patel"}],"title":"Referee
        report. For: AAS Email colours test. Pellentesque in ipsum id orci porta dapibus.
        Donec sollicitudin molestie malesuada. [version 1; referees: 1 approved with
        reservations]","container-title":"F1000 Research Limited","description":null,"resource-type-subtype":null,"data-center-id":"bl.f1000r","member-id":"bl","resource-type-id":"text","version":null,"license":null,"schema-version":"3","results":[],"related-identifiers":[],"published":"2018","registered":"2018-05-25T11:00:06.000Z","checked":null,"updated":"2019-08-02T05:50:24.000Z","media":[],"xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxyZXNvdXJjZSB4c2k6c2NoZW1hTG9jYXRpb249Imh0dHA6Ly9kYXRhY2l0ZS5vcmcvc2NoZW1hL2tlcm5lbC0zIGh0dHA6Ly9zY2hlbWEuZGF0YWNpdGUub3JnL21ldGEva2VybmVsLTMvbWV0YWRhdGEueHNkIiB4bWxucz0iaHR0cDovL2RhdGFjaXRlLm9yZy9zY2hlbWEva2VybmVsLTMiIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiPjxpZGVudGlmaWVyIGlkZW50aWZpZXJUeXBlPSJET0kiPjEwLjIxOTU2L2Fhc29wZW5yZXMuMTM4OTYucjI2MDY3PC9pZGVudGlmaWVyPjxjcmVhdG9ycz48Y3JlYXRvcj48Y3JlYXRvck5hbWU+TGluYSBQYXRlbDwvY3JlYXRvck5hbWU+PC9jcmVhdG9yPjwvY3JlYXRvcnM+PHRpdGxlcz48dGl0bGU+UmVmZXJlZSByZXBvcnQuIEZvcjogQUFTIEVtYWlsIGNvbG91cnMgdGVzdC7CoFBlbGxlbnRlc3F1ZSBpbiBpcHN1bSBpZCBvcmNpIHBvcnRhIGRhcGlidXMuIERvbmVjIHNvbGxpY2l0dWRpbiBtb2xlc3RpZSBtYWxlc3VhZGEuIFt2ZXJzaW9uIDE7IHJlZmVyZWVzOiAxIGFwcHJvdmVkIHdpdGggcmVzZXJ2YXRpb25zXTwvdGl0bGU+PC90aXRsZXM+PHB1Ymxpc2hlcj5GMTAwMCBSZXNlYXJjaCBMaW1pdGVkPC9wdWJsaXNoZXI+PHB1YmxpY2F0aW9uWWVhcj4yMDE4PC9wdWJsaWNhdGlvblllYXI+PHJlc291cmNlVHlwZSByZXNvdXJjZVR5cGVHZW5lcmFsPSJUZXh0Ii8+PHJlbGF0ZWRJZGVudGlmaWVycz48cmVsYXRlZElkZW50aWZpZXIgcmVsYXRlZElkZW50aWZpZXJUeXBlPSJET0kiIHJlbGF0aW9uVHlwZT0iUmV2aWV3cyI+MTAuMTI2ODgvYWFzb3BlbnJlcy4xMjgyNi4xPC9yZWxhdGVkSWRlbnRpZmllcj48L3JlbGF0ZWRJZGVudGlmaWVycz48L3Jlc291cmNlPg=="},"relationships":{"data-center":{"data":{"id":"bl.f1000r","type":"data-centers"}},"member":{"data":{"id":"bl","type":"members"}},"resource-type":{"data":{"id":"text","type":"resource-types"}}}},"included":[{"id":"bl.f1000r","type":"data-centers","attributes":{"title":"Faculty
        of 1000 Research","other-names":[],"prefixes":[],"member-id":"bl","year":2013,"created":"2013-11-07T13:41:36.000Z","updated":"2018-10-14T22:56:51.000Z"},"relationships":{"member":{"data":{"id":"bl","type":"members"}}}},{"id":"bl","type":"members","attributes":{"title":"The
        British Library","display-title":"The British Library","description":null,"member-type":"direct_member","organization-type":null,"focus-area":"general","region":"EMEA","country":"GB","year":null,"logo-url":null,"email":null,"website":"https://www.british.co.uk","joined":null,"created":"2010-01-01T00:00:00.000Z","updated":"2019-06-25T09:45:31.000Z"}},{"id":"text","type":"resource-types","attributes":{"title":"Text","updated":"2016-09-21T00:00:00Z"},"relationships":{}}]}'
  recorded_at: Mon, 18 Nov 2019 09:33:03 GMT
- request:
    method: get
    uri: https://api.test.datacite.org/events?aggregations=query_aggregations,metrics_aggregations,citations_aggregations&doi=10.21956/aasopenres.13896.r26067&extra=true&include=dois&page%5Bnumber%5D=1&page%5Bsize%5D=25&sort=relation_type_id&source-id=datacite-related,datacite-crossref,crossref,datacite-usage,datacite-funder
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"277283aaaa359236926d2be155b4213c"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"68679f6e-5462-40b3-aed8-04465905b26e","type":"events","attributes":{"subjId":"https://doi.org/10.21956/aasopenres.13896.r26067","objId":"https://doi.org/10.12688/aasopenres.12826.1","sourceId":"datacite-crossref","relationTypeId":"reviews","total":1,"messageAction":"create","sourceToken":"28276d12-b320-41ba-9272-bb0adc3466ff","license":"https://creativecommons.org/publicdomain/zero/1.0/","occurredAt":"2019-08-02T05:50:24.000Z","timestamp":"2019-08-02T05:54:47.149Z"}}],"meta":{"total":1,"totalPages":1,"page":1,"sources":[{"id":"datacite-crossref","title":"DataCite
        to Crossref","count":1}],"prefixes":[{"id":"10.12688","title":"10.12688","count":1},{"id":"10.21956","title":"10.21956","count":1}],"citationTypes":[{"id":"ScholarlyArticle-ScholarlyArticle","title":"ScholarlyArticle-ScholarlyArticle","count":1,"year-months":[{"id":"2019-08","title":"August
        2019","sum":1.0}]}],"relationTypes":[{"id":"reviews","title":"reviews","count":1.0,"yearMonths":[{"id":"2019-08","title":"August
        2019","sum":1.0}]}],"pairings":[{"id":"datacite.bl.f1000r","title":"datacite.bl.f1000r","count":1,"registrants":[{"id":"datacite.crossref.citations","title":"datacite.crossref.citations","sum":1.0}]},{"id":"datacite.crossref.citations","title":"datacite.crossref.citations","count":1,"registrants":[{"id":"datacite.bl.f1000r","title":"datacite.bl.f1000r","sum":1.0}]}],"registrants":[{"id":"datacite.bl.f1000r","title":"datacite.bl.f1000r","count":1,"years":[{"id":"2019","title":"2019","sum":1.0}]},{"id":"datacite.crossref.citations","title":"datacite.crossref.citations","count":1,"years":[{"id":"2019","title":"2019","sum":1.0}]}],"doisRelationTypes":[{"id":"https://doi.org/10.12688/aasopenres.12826.1","title":"https://doi.org/10.12688/aasopenres.12826.1","count":1,"relationTypes":[{"id":"reviews","title":"reviews","sum":1.0}]}],"doisUsageTypes":[],"doisCitations":{"count":0.0,"years":[]},"citationsHistogram":{"count":0.0,"years":[]},"uniqueCitations":[],"references":[],"relations":[{"id":"10.12688/aasopenres.12826.1","title":"10.12688/aasopenres.12826.1","count":1},{"id":"10.21956/aasopenres.13896.r26067","title":"10.21956/aasopenres.13896.r26067","count":1}],"uniqueNodes":{"objCount":null,"subjCount":null},"viewsHistogram":{"count":0.0,"yearMonths":[]},"views":[],"downloadsHistogram":{"count":0.0,"yearMonths":[]},"downloads":[]},"links":{"self":"https://api.test.datacite.org/events?aggregations=query_aggregations%2Cmetrics_aggregations%2Ccitations_aggregations&doi=10.21956%2Faasopenres.13896.r26067&extra=true&include=dois&page%5Bnumber%5D=1&page%5Bsize%5D=25&sort=relation_type_id&source-id=datacite-related%2Cdatacite-crossref%2Ccrossref%2Cdatacite-usage%2Cdatacite-funder"},"included":[{"id":"10.21956/aasopenres.13896.r26067","type":"dois","attributes":{"doi":"10.21956/aasopenres.13896.r26067","identifiers":[{"identifier":"https://handle.test.datacite.org/10.21956/aasopenres.13896.r26067","identifierType":"DOI"}],"creators":[{"name":"Patel,
        Lina","nameType":"Personal","givenName":"Lina","familyName":"Patel","affiliation":[]}],"titles":[{"title":"Referee
        report. For: AAS Email colours test. Pellentesque in ipsum id orci porta dapibus.
        Donec sollicitudin molestie malesuada. [version 1; referees: 1 approved with
        reservations]"}],"publisher":"F1000 Research Limited","container":{},"publicationYear":2018,"subjects":[],"contributors":[],"dates":[{"date":"2018","dateType":"Issued"}],"language":null,"types":{"ris":"RPRT","bibtex":"article","citeproc":"article-journal","schemaOrg":"ScholarlyArticle","resourceTypeGeneral":"Text"},"relatedIdentifiers":[{"relationType":"Reviews","relatedIdentifier":"10.12688/aasopenres.12826.1","relatedIdentifierType":"DOI"}],"sizes":[],"formats":[],"version":null,"rightsList":[],"descriptions":[],"geoLocations":[],"fundingReferences":[],"url":"https://dev1aas.f1000internal.com/articles/1-7/v1#referee-response-26067","contentUrl":null,"metadataVersion":0,"schemaVersion":"http://datacite.org/schema/kernel-3","source":null,"isActive":true,"state":"findable","reason":null,"created":"2018-05-25T11:00:06.000Z","registered":"2018-05-25T11:00:06.000Z","published":"2018","updated":"2019-08-02T05:50:24.000Z"},"relationships":{"client":{"data":{"id":"bl.f1000r","type":"clients"}}}},{"id":"10.12688/aasopenres.12826.1","type":"dois","attributes":{"doi":"10.12688/aasopenres.12826.1","identifiers":[{"identifier":"https://doi.org/10.12688/aasopenres.12826.1","identifierType":"DOI"},{"identifier":["13892","14"],"identifierType":"Publisher
        ID"}],"creators":[{"name":"Garutsa, Tendayi C.","nameType":"Personal","givenName":"Tendayi
        C.","familyName":"Garutsa","affiliation":[],"nameIdentifiers":[{"schemeUri":"https://orcid.org","nameIdentifier":"https://orcid.org/0000-0003-1904-2764","nameIdentifierScheme":"ORCID"}]},{"name":"Mubaya,
        Chipo P.","nameType":"Personal","givenName":"Chipo P.","familyName":"Mubaya","affiliation":[]},{"name":"Zhou,
        Leocadia","nameType":"Personal","givenName":"Leocadia","familyName":"Zhou","affiliation":[]}],"titles":[{"title":"Gendered
        differentials in climate change adaptation amongst the Shona ethnic group
        in Marondera Rural District, Zimbabwe: A social inclusions lens."}],"publisher":"(:unav)","container":{"type":"Journal","title":"AAS
        Open Research","volume":"1","firstPage":"14","identifier":"2515-9321","identifierType":"ISSN"},"publicationYear":2018,"subjects":[],"contributors":[],"dates":[{"date":"2018-04-26","dateType":"Issued"},{"date":"2018-11-14T12:00:11Z","dateType":"Updated"}],"language":null,"types":{"ris":"JOUR","bibtex":"article","citeproc":"article-journal","schemaOrg":"ScholarlyArticle","resourceType":"JournalArticle","resourceTypeGeneral":"Text"},"relatedIdentifiers":[{"relationType":"IsPartOf","relatedIdentifier":"2515-9321","resourceTypeGeneral":"Collection","relatedIdentifierType":"ISSN"},{"relationType":"References","relatedIdentifier":"10.1016/j.worlddev.2007.05.009","relatedIdentifierType":"DOI"},{"relationType":"References","relatedIdentifier":"10.1111/gec3.12121","relatedIdentifierType":"DOI"},{"relationType":"References","relatedIdentifier":"10.1007/978-1-349-24450-8_12","relatedIde[...]
- request:
    method: get
    uri: https://api.test.datacite.org/dois/10.21956/aasopenres.13896.r26067
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.schemaorg.ld+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"245f99cfc2c977e966ffaa1f8bcc64f0"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@context": "http://schema.org",
          "@type": "ScholarlyArticle",
          "@id": "https://doi.org/10.21956/aasopenres.13896.r26067",
          "identifier": {
            "@type": "PropertyValue",
            "propertyID": "DOI",
            "value": "https://handle.test.datacite.org/10.21956/aasopenres.13896.r26067"
          },
          "url": "https://dev1aas.f1000internal.com/articles/1-7/v1#referee-response-26067",
          "name": "Referee report. For: AAS Email colours test. Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. [version 1; referees: 1 approved with reservations]",
          "author": {
            "name": "Lina Patel",
            "givenName": "Lina",
            "familyName": "Patel",
            "@type": "Person"
          },
          "datePublished": "2018",
          "schemaVersion": "http://datacite.org/schema/kernel-3",
          "publisher": {
            "@type": "Organization",
            "name": "F1000 Research Limited"
          },
          "provider": {
            "@type": "Organization",
            "name": "DataCite"
          }
        }
  recorded_at: Mon, 18 Nov 2019 09:33:03 GMT
recorded_with: VCR 2.9.3
