---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/works/10.7272/q6g15xs4?include=data-center,resource-type,member
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"83dc1fefe2a010dd6ec9780b77dbaaff"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"https://handle.test.datacite.org/10.7272/q6g15xs4","type":"works","attributes":{"doi":"10.7272/q6g15xs4","identifier":"https://handle.test.datacite.org/10.7272/q6g15xs4","url":"https://datashare.ucsf.edu/stash/dataset/doi:10.7272/Q6G15XS4","author":[{"given":"Robert","family":"Rodriguez"},{"given":"William","family":"Mower"}],"title":"NEXUS
        Head CT","container-title":"UC San Francisco","description":null,"resource-type-subtype":null,"data-center-id":"cdl.ucsfctsi","member-id":"cdl","resource-type-id":"dataset","version":null,"license":"https://creativecommons.org/licenses/by/4.0","schema-version":"3","results":[],"related-identifiers":[],"published":"2017","registered":"2018-12-07T09:48:20.000Z","checked":null,"updated":"2019-02-19T21:03:08.000Z","media":[],"xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291cmNlIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC0zL21ldGFkYXRhLnhzZCI+CiAgPGlkZW50aWZpZXIgaWRlbnRpZmllclR5cGU9IkRPSSI+MTAuNzI3Mi9RNkcxNVhTNDwvaWRlbnRpZmllcj4KICA8Y3JlYXRvcnM+CiAgICA8Y3JlYXRvcj4KICAgICAgPGNyZWF0b3JOYW1lPlJvZHJ[...]
- request:
    method: get
    uri: https://api.test.datacite.org/events?obj-id=https://doi.org/10.7272/q6g15xs4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"6a4b9cce8c937c0bd3916a17657f27fb"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"ef894831-0376-4d00-9977-bbced1d0fcf7","type":"events","attributes":{"subjId":"https://api.test.datacite.org/reports/961e7eaa-7c3a-485a-85ed-94f94a535519","objId":"https://doi.org/10.7272/q6g15xs4","sourceId":"datacite-usage","relationTypeId":"total-dataset-requests-regular","total":6,"messageAction":"create","sourceToken":"43ba99ae-5cf0-11e8-9c2d-fa7ae01bbebc","license":"https://creativecommons.org/publicdomain/zero/1.0/","occurredAt":"2018-04-30T00:00:00.000Z","timestamp":"2018-09-05T18:21:34.860Z"},"relationships":{"subj":{"data":{"id":"https://api.test.datacite.org/reports/961e7eaa-7c3a-485a-85ed-94f94a535519","type":"objects"}},"obj":{"data":{"id":"https://doi.org/10.7272/q6g15xs4","type":"objects"}}}},{"id":"d4e00d29-2281-495e-8df5-05f3c4d50dc9","type":"events","attributes":{"subjId":"https://api.test.datacite.org/reports/961e7eaa-7c3a-485a-85ed-94f94a535519","objId":"https://doi.org/10.7272/q6g15xs4","sourceId":"datacite-usage","relationTypeId":"unique-dataset-requests-regular","total":4,"messageAction":"create","sourceToken":"43ba99ae-5cf0-11e8-9c2d-fa7ae01bbebc","license":"https://creativecommons.org/publicdomain/zero/1.[...]
