- if @relations.length > 0
  - if @relations.length > 1
    %h4.results
      = "#{number_with_delimiter(@meta['total'])} Works"

  - @relations.each do |item|
    = haml :'relations/item', locals: { item: item }

  .text-center
    = will_paginate @relations, renderer: BootstrapPagination::Sinatra, inner_window: 1

- else
  %div.alert.alert-info
    Nothing found.
