$body-bg:               white;
$text-color:            black;
$inverse:               white;
$link-color:            rgb(56, 166, 203);
$link-hover-color:      rgb(6, 116, 153);

$font-family-base:      'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-monospace: Monaco, "Courier New", monospace;
$font-size-base:        16px;
$font-size-large:       ceil(($font-size-base * 1.25));

$line-height-base:      1.25;

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  position: relative;
  min-height: 100%;
}

.stat-list, .help-list {
  font-size: 1.25em;
  line-height: 1.5em;
  padding: 0 0 .5em 1em;
}

.stat-name {
  color: gray;
}

.stat-value {
  font-weight: 600;
}
.dropdown .label {
  font-size: .85em;
  color: #000000;
  background-color: $body-bg;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  padding: .25em .35em;
}
.dropdown-header {
  font-size: $font-size-large;
  color: gray;
}
.logo-small {
  margin: .8em 0 0 0;
}
.logo-big {
  margin: 8em 0 2em 0;
}
h1,h2,h3 {
  font-weight: 600;
}
h1 {
  font-size: 3em;
  line-height: $line-height-base;
  margin-bottom: 0;
}
h4 {
  font-weight: 300;
}
.centered, .search {
  margin: auto;
  max-width: 700px;
}
#help-accordion {
  margin-top: 2em;
  margin-left: 4px;
}
.break-below {
  margin-bottom: 6em;
}
.page-header {
  padding-left: 0;
  padding-bottom: 0;
  border-bottom-width: 0;

  p {
    font-size: 1.25em;
  }
}
.panel {
  font-size: 1.25em;
}
.panel-heading {
  h2 {
    font-size: 1em;

    .small {
      font-size: .75em;
      padding-top: .75em;
    }
  }
}
.item-paging {
  text-align: center;
  margin-top: 1em;
}
.list-info, .alert-info {
  background-color: $body-bg;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  color: gray;
  margin-top: 1em;
  margin-bottom: 2em;
  padding: .5em 1em;
}
.alert-error {
  background-color: $body-bg;
  border: 1px solid #e88832;
  border-radius: 4px;
  color: #e88832;
  margin-top: 1em;
  margin-bottom: .5em;
  padding: .5em 1em;
}
.alert-success {
  background-color: $body-bg;
  border: 1px solid #1bc5a4;
}
.sync-info {
  padding: 1.5em .75em 0 0;
}
#sync-button {
  margin-bottom: 8px;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.gap {
  display: none;
}
.splash {
  padding-bottom: 6em;
}

a, a:visited, .pagination li a, .pagination li a:visited {
  color: $link-color;
}
a:hover {
  color: $link-hover-color;
}
.pagination li.active span {
  background-color: gray;
  border-color: gray;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  margin-bottom: 300px;
}
.header {
  padding: 0 1.5em;

  .container-fluid {
    padding: 0 1em;
    max-width: 1150px;
  }
}
.container-fluid {
  padding: 2em;
  max-width: 1150px;
}
.search input {
  font-size: 1.25em;
}
.orcid {
  margin-top: 1em;

  .input-group {
    font-size: .75em;
    width: 50%;
    margin: 0 auto;
  }
}
p.orcid {
  font-size: 1.25em;
}
input, button, select, textarea {
  font-family: $font-family-base;
  font-size: 1em;
}
.btn-container button {
  margin-left: .5em;
  margin-top: 1em;
}
.btn-container {
  text-align: right;
}
.btn-container button i {
  margin-right: 0.4em;
}
.item-tab.conf-proc {
  border-left: 4px solid rgb(49, 145, 177);
}
.item-data {
  padding: 1em 0;
}
.item-data a {
  margin-left: 0;
  margin-right: 0;
}
.hl {
  background-color: rgb(235,245,167);
  border-bottom: 1px dashed gray;
  color: rgb(51,51,51);
}
b, strong {
  font-weight: 600;
}
.item-data p {
  font-size: $font-size-base;
  line-height: $line-height-base;
  margin-bottom: 4px;
}
h2 {
  font-size: 1.75em;
  font-weight: bold;
  line-height: 1.9em;
  margin-bottom: 0;
}
h3 {
  font-size: $font-size-large;
  line-height: $line-height-base;
}
p.description {
  color: gray;
}
.facets {
  color: gray;
  font-size: 1em;
  padding: .5em;
}
.facets ul {
  list-style: none;
  list-style-position: outside;
  padding-left: 0;
}
.facets h3 {
  font-weight: normal;
  border-bottom: 1px solid gray;
  margin: .65em 0 .5em 0;
}
.facets div {
  border: 0;
}
.facets li a, .facets li.active a, .facets li a:hover, .facets li.active a:hover {
  font-size: .75em;
  line-height: 18px;
  display: inline;
  color: gray;
  background-color: white;
  padding: 0 .5em 0 0;
  margin-left: 0;
}
.oa-tooltip, .oa-tooltip:visited, .oa-tooltip:hover {
  color: rgb(246, 130, 18);
  text-decoration: none;
}
.nowrap {
  white-space: nowrap;
}
.claim-none, .claim-ok, .claim-warn {
  cursor: pointer;
  font-size: $font-size-base;
  line-height: $line-height-base;
  margin-bottom: 4px;
}
.claim-ok {
  color: rgb(167, 204, 145);
}
.claim-ok:hover {
  color: rgb(137, 194, 115);
}
.claim-warn {
  color: rgb(246, 130, 18);
}
.claim-warn:hover {
  color: rgb(216, 100, 0);
}
.claim-none {
  color: #999999;
}
.claim-none {
  margin-left: .2em;
}
.claim-none:hover {
  color: rgb(167, 204, 145);
}
.popover-inner {
  padding: 2px;
}
.popover-inner .popover-title {
  margin-top: 1px;
  margin-bottom: 1px;
}
.item-links {
  margin-top: .25em;
  line-height: 1.4em;
}
.item-links img {
  margin-top: -0.33em;
}
.item-links a {
  margin-right: 1.5em;
}
.item-links a:hover {
  color: black;
  text-decoration: underline;
}
.item-links span a {
  margin-right: .2em;
}
.related {
  margin-bottom: .4em;
}
.label {
  font-weight: normal;
}
.item-data h3 {
  margin-top: .25em;
  margin-bottom: 0;
}
.modal-content p {
  font-size: 1.3em;
  line-height: $line-height-base;
}
.add-more-area {
  background-color: #fbfbfb;
  border: 1px solid rgb(204, 204, 204);
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.label-add {
  background-color: rgb(192, 70, 62);
  font-size: 0.9em;
  line-height: 0.9em;
  margin: 3px;
  padding: 4px;
  color: white;
  display: inline-block;
}

.label-add.optional {
  background-color: rgb(49, 145, 177);
}

.label-add.added {
  background-color: #8ccb7f;
}

.set-label {
  font-size: 0.9em;
  text-align: right;
  line-height: 0.9em;
  color: #a9a9a9;
  padding: 4px;
}

#completion-msg {
  font-size: 1.3em;
  padding: 2em;
}

dd {
  font-size: $font-size-base;
  margin-left: 0;
  margin-bottom: 0.5em;
}
dt, dd {
  line-height: $line-height-base;
}
dt a {
  font-weight: normal;
}

li {
  margin: 0.1em 0em;
}

.pre {
  font-size: 1em;
}

.modal {
  font-size: 1em;
  max-width: 100%;
  overflow-y: auto;

  .pre {
    font-size: .8em;
    line-height: $line-height-base;
    margin-top: 1em;
    max-height: 300px;
    min-height: 100px;
    overflow-y: scroll;
  }
}

.span-help p {
  font-family: "Bookman", "Times", serif;
  font-size: 1.5em;
  line-height: 1.3em;
}

.small-caps {
  font-variant: small-caps;
}

.mini-header {
  margin-top: 1em;
}

.example span, pre.example {
  font-family: $font-family-monospace;
  font-size: .9em;
  background-color: white;
  border: none;
  padding: 0;
  margin: 0;
}

pre.example {
  font-family: $font-family-monospace;
  font-size: 1.2em;
  line-height: 1.3em;
  background-color: white;
  border: none;
  padding: .3em .7em;
  margin-top: .8em;
  margin-bottom: .8em;
}

.sep {
  height: 3em;
}

p, h2 {
  color: #333;
}
#sync-ok {
  color: rgb(166, 206, 57);
  display: none;
}

.home-link, .home-link:visited, .home-link:hover {
  text-decoration: none;
  color: black;
}
.simple-nav {
  font-size: 1.2em;
  line-height: 1.1em;
  margin-top: 1em;
}
.simple-nav a, .simple-nav a:visited {
  background-color: gray;
  padding-left: .4em;
}
.span-header {
  margin-top: 1.2em;
  margin-bottom: -1.3em;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 300px;
  width: 100%;
  color: $inverse;
  font-weight: 300;
  background-color: #393939;
  padding: 1em;
  margin: 0;

  .container-fluid {
    max-width: 1150px;
    padding: 0 1em;
  }
  h4, h5 {
    font-size: $font-size-large;
    font-weight: 300;
    margin-top: .5em;
    margin-bottom: .1em;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  a, a:hover, a:visited {
    color: $inverse;
  }
  .share h4 {
    margin-bottom: .5em;
  }
  .share a {
    margin-right: 1em;
  }
}
.logo {
  padding-bottom: .75em;
}

.profile {
  padding: .75em 0 0 0;
}
.profile button {
  border: 0;
}
.profile img.logo {
  padding-right: .25em;
  padding-bottom: 8px;
}
.profile a {
  color: black;
  text-decoration: none;
}
.profile .dropdown-toggle, #sign-in-link, #help {
  font-size: $font-size-large;
  line-height: 1.5em;
}
.alternate {
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
}
.btn-primary {
  background-color: gray;
  border-color: gray;
}
