.centered, .search {
  margin: auto;
  max-width: 700px;
  padding-bottom: 1.5em;
}
.logo-big {
  margin: 6em 0 2em 0;
}
.facets {
  color: $gray-darker;
  font-size: 1em;
  padding: 0;
  border: 0 !important;
  box-shadow: none !important;

  .panel-body {
    background-color: $gray-light;
  }

  ul {
    list-style: none;
    list-style-position: outside;
    padding-left: 0;
  }
  h4 {
    font-weight: normal;
    font-size: 1.25em;
    border-bottom: 1px solid $gray-darker;
    padding-bottom: .15em;
    margin: 0 0 .5em 0;
  }
  div {
    border: 0;
  }
  li a, li.active a, li a:hover, li.active a:hover {
    display: inline;
    color: $gray-darker;
    background-color: $gray-light;
    padding: 0 .5em 0 0;
    margin-left: 0;
  }
}
.description {
  color: $gray-darker;
}
.panel-footer {
  margin-top: .25em;
  line-height: 1.4em;

  .dropdown .boxed {
    color: black;
    vertical-align: 2px;
  }
  img {
    margin-top: -0.33em;
  }
  a, span.well-transparent {
    color: $gray-darker;
    margin-right: 1.5em;
  }
  a:hover {
    text-decoration: underline;
  }
  span a {
    margin-right: .2em;
  }
  .btn-xs {
    font-size: .75em;
    border: 1px solid black;
    background-color: $inverse;
  }
  .claim-none, .claim-ok, .claim-waiting {
    cursor: pointer;
    font-size: $font-size-base;
    line-height: $line-height-base;
    margin-bottom: 4px;
  }
  span.claim-ok {
    color: rgb(167, 204, 145);
  }
  span.claim-ok:hover {
    color: rgb(137, 194, 115);
  }
  span.claim-waiting {
    color: rgb(246, 130, 18);
  }
  span.claim-waiting:hover {
    color: rgb(216, 100, 0);
  }
  span.claim-none {
    color: $gray_darker;
  }
  span.claim-none {
    margin-left: .2em;
  }
  span.claim-none:hover {
    color: rgb(167, 204, 145);
  }
}
.modal {
  font-size: 1em;
  max-width: 100%;
  overflow-y: auto;

  .pre {
    font-size: .6em;
    line-height: $line-height-base;
    margin-top: 1em;
    max-height: 300px;
    min-height: 100px;
    overflow-y: scroll;
  }
  .modal-header {
    background-color: $gray-light;
    border-bottom-color: $gray-light;
  }
}
.modal-content p {
  font-size: 1em;
  line-height: $line-height-base;
}
.item-list {
  padding: 6px 0;
}
.alert-info a {
  color: $inverse;
}
.cite-link {
  font-size: .85em;
}
.popover-content .btn-toolbar {
  padding-bottom: 10px;
}
.alternate {
  padding: 0 .5em;
}
.dropdown-menu-right {
  max-width: 600px;

  h5 {
    font-size: 1em;
    white-space: normal;
  }
}
h4.results {
  font-weight: normal;
  font-size: 1.25em;
  margin: 0 0 .5em .75em;
}
