/*
Error: File to import not found or unreadable: ../../../vendor/assets/bootstrap-sass/assets/stylesheets/bootstrap-sprockets.
       Load path: /home/app/webapp/public/stylesheets/sass
        on line 494 of public/stylesheets/sass/application.scss
        from line 5 of ./public/stylesheets/sass/crossref.scss

Backtrace:
public/stylesheets/sass/application.scss:494
./public/stylesheets/sass/crossref.scss:5
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/tree/import_node.rb:67:in `rescue in import'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/tree/import_node.rb:45:in `import'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:313:in `visit_import'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:328:in `block (2 levels) in visit_import'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:328:in `map'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:328:in `block in visit_import'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/stack.rb:88:in `block in with_import'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/stack.rb:88:in `with_import'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:159:in `visit'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/plugin.rb:82:in `update_stylesheets'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/plugin.rb:54:in `check_for_updates'
/home/app/webapp/vendor/bundle/ruby/2.2.0/gems/sass-3.4.22/lib/sass/plugin/rack.rb:51:in `call'
/usr/lib/ruby/vendor_ruby/phusion_passenger/rack/thread_handler_extension.rb:97:in `process_request'
/usr/lib/ruby/vendor_ruby/phusion_passenger/request_handler/thread_handler.rb:152:in `accept_and_process_next_request'
/usr/lib/ruby/vendor_ruby/phusion_passenger/request_handler/thread_handler.rb:113:in `main_loop'
/usr/lib/ruby/vendor_ruby/phusion_passenger/request_handler.rb:416:in `block (3 levels) in start_threads'
/usr/lib/ruby/vendor_ruby/phusion_passenger/utils.rb:113:in `block in create_thread_and_abort_on_exception'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: ../../../vendor/assets/bootstrap-sass/assets/stylesheets/bootstrap-sprockets.\A        Load path: /home/app/webapp/public/stylesheets/sass\A         on line 494 of public/stylesheets/sass/application.scss\A         from line 5 of ./public/stylesheets/sass/crossref.scss"; }
