---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"02f3297637256312dfa5e60b9c4c20b2"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"crossref-datacite","type":"sources","attributes":{"title":"Crossref
        (DataCite)","description":"Import works linked to a DataCite DOI from Crossref.","state":"active","group-id":"relations","work-count":0,"relation-count":0,"result-count":0,"by-day":{"with-results":0,"without-results":0,"not-updated":0},"by-month":{"with-results":0,"without-results":0,"not-updated":0},"updated":"2016-08-16T09:37:54Z"}},{"id":"datacite-crossref","type":"sources","attributes":{"title":"DataCite
        (Crossref)","description":"Import works with Crossref DOIs as relatedIdentifier
        via the DataCite Solr API.","state":"active","group-id":"relations","work-count":19907,"relation-count":225444,"result-count":74563,"by-day":{"with-results":6,"without-results":29,"not-updated":225354},"by-month":{"with-results":79,"without-results":351,"not-updated":224959},"updated":"2016-08-16T09:37:[...]
