---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"4a1b51d0cb79f3c4f7aeed403ca52443"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"crossref-datacite","type":"sources","attributes":{"title":"Crossref
        (DataCite)","description":"Import works linked to a DataCite DOI from Crossref.","state":"active","group-id":"relations","work-count":0,"relation-count":0,"result-count":0,"by-day":{"with-results":0,"without-results":0,"not-updated":0},"by-month":{"with-results":0,"without-results":0,"not-updated":0},"updated":"2016-07-01T23:41:04Z"}},{"id":"datacite-crossref","type":"sources","attributes":{"title":"DataCite
        (Crossref)","description":"Import works with Crossref DOIs as relatedIdentifier
        via the DataCite Solr API.","state":"active","group-id":"relations","work-count":0,"relation-count":0,"result-count":0,"by-day":{"with-results":0,"without-results":0,"not-updated":0},"by-month":{"with-results":0,"without-results":0,"not-updated":0},"updated":"2016-07-01T23:05:10Z"}},{"id":"datacite-gith[...]
