---
http_interactions:
- request:
    method: get
    uri: http://api.labs.datacite.org/sources?include=group
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"180521968d34bac5a45f50920bf3b963"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"crossref-datacite","type":"sources","attributes":{"title":"Crossref
        (DataCite)","description":"Import works linked to a DataCite DOI from Crossref.","state":"active","work-count":0,"relation-count":0,"result-count":0,"by-day":{"with-results":0,"without-results":0,"not-updated":0},"by-month":{"with-results":0,"without-results":0,"not-updated":0},"updated":"2016-10-12T13:15:54Z"},"relationships":{"group":{"data":{"id":"relations","type":"groups"}}}},{"id":"datacite-crossref","type":"sources","attributes":{"title":"DataCite
        (Crossref)","description":"Import works with Crossref DOIs as relatedIdentifier
        via the DataCite Solr API.","state":"active","work-count":0,"relation-count":0,"result-count":0,"by-day":{"with-results":0,"without-results":0,"not-updated":0},"by-month":{"with-results":0,"without-results":0,"not-updated":0},"updated":"2016-10-12T13:05:11Z"},"relationships":{"group[...]
