---
http_interactions:
- request:
    method: get
    uri: http://api.labs.datacite.org/sources?id=datacite-crossref&include=group
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"8f11f382ef595e893f9bfed658631d38"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"datacite-crossref","type":"sources","attributes":{"title":"DataCite
        (Crossref)","description":"Import works with Crossref DOIs as relatedIdentifier
        via the DataCite Solr API.","state":"active","work-count":0,"relation-count":0,"result-count":0,"by-day":{"with-results":0,"without-results":0,"not-updated":0},"by-month":{"with-results":0,"without-results":0,"not-updated":0},"updated":"2016-10-12T13:05:11Z"},"relationships":{"group":{"data":{"id":"relations","type":"groups"}}}},"included":[{"id":"relations","type":"groups","attributes":{"title":"Relations","updated":"2016-03-28T15:25:06Z"}}]}'
  recorded_at: Wed, 12 Oct 2016 13:30:10 GMT
recorded_with: VCR 2.9.3
