---
http_interactions:
- request:
    method: get
    uri: http://api.labs.datacite.org/sources?id=datacite-crossref&include=group
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"a92d4e13f72ee12bfc3f075acca55d51"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"datacite-crossref","type":"sources","attributes":{"title":"DataCite
        (Crossref)","description":"Import works with Crossref DOIs as relatedIdentifier
        via the DataCite Solr API.","state":"active","work-count":19893,"relation-count":225467,"result-count":74369,"by-day":{"with-results":0,"without-results":0,"not-updated":225412},"by-month":{"with-results":0,"without-results":0,"not-updated":225412},"updated":"2016-10-20T05:05:24Z"},"relationships":{"group":{"data":{"id":"relations","type":"groups"}}}},"included":[{"id":"relations","type":"groups","attributes":{"title":"Relations","updated":"2016-03-28T15:25:06Z"}}]}'
  recorded_at: Thu, 20 Oct 2016 05:49:00 GMT
recorded_with: VCR 2.9.3
