---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/sources?id=datacite-crossref&include=group
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"e90d779696b4f826eb7b1ed863734874"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"datacite-crossref","type":"sources","attributes":{"title":"DataCite
        (Crossref)","description":"Import works with Crossref DOIs as relatedIdentifier
        via the DataCite Solr API.","state":"active","group-id":"relations","work-count":19893,"relation-count":225467,"result-count":74369,"by-day":{"with-results":0,"without-results":0,"not-updated":225412},"by-month":{"with-results":0,"without-results":0,"not-updated":225412},"updated":"2017-01-04T19:40:44Z"},"relationships":{"group":{"data":{"id":"relations","type":"groups"}}}},"included":[{"id":"relations","type":"groups","attributes":{"title":"Relations","updated":"2016-03-28T15:25:06Z"}}]}'
  recorded_at: Wed, 25 Jan 2017 08:22:04 GMT
recorded_with: VCR 2.9.3
