---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/sources?include=group&query=cross
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"c96f0cbaeba753a3a3f3c04f63065c7a"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"crossref-datacite","type":"sources","attributes":{"title":"Crossref
        (DataCite)","description":"Import works linked to a DataCite DOI from Crossref.","state":"active","group-id":"relations","work-count":0,"relation-count":0,"result-count":0,"by-day":{"with-results":0,"without-results":0,"not-updated":0},"by-month":{"with-results":0,"without-results":0,"not-updated":0},"updated":"2017-01-04T19:40:44Z"},"relationships":{"group":{"data":{"id":"relations","type":"groups"}}}},{"id":"datacite-crossref","type":"sources","attributes":{"title":"DataCite
        (Crossref)","description":"Import works with Crossref DOIs as relatedIdentifier
        via the DataCite Solr API.","state":"active","group-id":"relations","work-count":19893,"relation-count":225467,"result-count":74369,"by-day":{"with-results":0,"without-results":0,"not-updated":225412},"by-month":{"with-results":0,"without-results":0,"not-updated":225412},"updated":"2017-01-04T19:40:44Z"},"relationships":{"group":{"data":{"id":"relations","type":"groups"}}}},{"id":"crossref-publisher","type":"sources","attributes":{"title":"Crossref
        (Publisher)","description":"Import publishers via the Crossref REST API.","state":"active","group-id":"publishers","work-count":0,"relation-count":0,"result-count":0,"by-day":{"with-results":0,"without-results":0,"not-updated":0},"by-month":{"with-results":0,"without-results":0,"not-updated":0},"updated":"2017-01-04T19:40:46Z"},"relationships":{"group":{"data":{"id":"publishers","type":"groups"}}}}],"included":[{"id":"relations","type":"groups","attributes":{"title":"Relations","updated":"2016-03-28T15:25:06Z"}},{"id":"publishers","type":"groups","attributes":{"title":"Publishers","updated":"2016-03-28T15:25:06Z"}}],"meta":{"total":3,"groups":[{"id":"relations","title":"Relations","count":2},{"id":"publishers","title":"Publishers","count":1}]}}'
  recorded_at: Wed, 25 Jan 2017 08:22:03 GMT
recorded_with: VCR 2.9.3
