---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/sources?query=cross
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"27e3072fc259f54f5d656b3cbd3a0929"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"crossref-datacite","type":"sources","attributes":{"title":"Crossref
        (DataCite)","description":"Import works linked to a DataCite DOI from Crossref.","state":"active","group-id":"relations","work-count":0,"relation-count":0,"result-count":0,"by-day":{"with-results":0,"without-results":0,"not-updated":0},"by-month":{"with-results":0,"without-results":0,"not-updated":0},"updated":"2016-09-03T14:37:20Z"}},{"id":"datacite-crossref","type":"sources","attributes":{"title":"DataCite
        (Crossref)","description":"Import works with Crossref DOIs as relatedIdentifier
        via the DataCite Solr API.","state":"active","group-id":"relations","work-count":0,"relation-count":0,"result-count":0,"by-day":{"with-results":0,"without-results":0,"not-updated":0},"by-month":{"with-results":0,"without-results":0,"not-updated":0},"updated":"2016-09-03T14:37:20Z"}},{"id":"crossref-publisher","type":"sources","attributes":{"title":"Crossref
        (Publisher)","description":"Import publishers via the Crossref REST API.","state":"active","group-id":"publishers","work-count":0,"relation-count":0,"result-count":0,"by-day":{"with-results":0,"without-results":0,"not-updated":0},"by-month":{"with-results":0,"without-results":0,"not-updated":0},"updated":"2016-09-03T14:45:49Z"}},{"id":"publishers","type":"groups","attributes":{"title":"Publishers","sources":["crossref_publisher","datacite_datacentre"],"updated":"2016-03-28T15:25:06Z"}},{"id":"relations","type":"groups","attributes":{"title":"Relations","sources":["crossref_datacite","datacite_crossref","datacite_github","datacite_related","europe_pmc_fulltext","plos_fulltext"],"updated":"2016-03-28T15:25:06Z"}}],"meta":{"total":3,"groups":{"relations":2,"publishers":1}}}'
  recorded_at: Sat, 03 Sep 2016 15:41:33 GMT
recorded_with: VCR 2.9.3
