---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/relations?include=relation-type,source,publisher&offset=0&rows=25&work-id=10.5281/ZENODO.48705
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"ec9a09ffe7e1853830b627a8232f1de5"
    body:
      encoding: UTF-8
      string: '{"data":[],"meta":{"total":null,"sources":null,"publishers":null,"relation-types":null}}'
  recorded_at: Wed, 25 Jan 2017 08:21:45 GMT
recorded_with: VCR 2.9.3
