---
http_interactions:
- request:
    method: get
    uri: http://api.labs.datacite.org/relations?include=relation-type,source&offset=0&rows=25&work-id=10.5281/ZENODO.48705
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"4f0d3a78bb887e63ad3556c3357bc659"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"7429d9db-a9b3-419f-b44f-f761e5b7b32d","type":"relations","attributes":{"subj-id":"http://doi.org/10.5281/ZENODO.46761","obj-id":"http://doi.org/10.5281/ZENODO.48705","doi":"10.5281/ZENODO.46761","author":[],"title":"THOR:
        Metrics and Tools","container-title":null,"publisher-id":"CERN.ZENODO","registration-agency-id":"datacite","work-type":null,"total":1,"published":"2016","issued":"2016-01-01T00:00:00Z","updated":"2016-06-16T00:49:59Z"},"relationships":{"relation-type":{"data":{"id":"is-supplemented-by","type":"relation-types"}},"source":{"data":{"id":"datacite-related","type":"sources"}}}},{"id":"ff8c2df3-3e19-444b-afad-f128cda886a3","type":"relations","attributes":{"subj-id":"http://doi.org/10.5281/ZENODO.48228","obj-id":"http://doi.org/10.5281/ZENODO.48705","doi":"10.5281/ZENODO.48228","author":[],"title":"THOR
        Communications Plan","container-title":null,"publisher-id":"CERN.ZENODO","registration-agency-id":"datacite","work-type":null,"total":1,"published":"2016","issued":"2016-01-01T00:00:00Z","updated":"2016-06-16T00:49:58Z"},"relationships":{"relation-type":{"data":{"id":"is-supplemented-by","type":"relation-types"}},"source":{"data":{"id":"datacite-related","type":"sources"}}}},{"id":"c4fff7c4-1c1a-4d7e-9294-2b5c1b0a64f4","type":"relations","attributes":{"subj-id":"http://doi.org/10.5281/ZENODO.30799","obj-id":"http://doi.org/10.5281/ZENODO.48705","doi":"10.5281/ZENODO.30799","author":[],"title":"D2.1:
        Artefact, Contributor, and Organisation Relationship Data Schema","container-title":null,"publisher-id":"CERN.ZENODO","registration-agency-id":"datacite","work-type":null,"total":1,"published":"2015","issued":"2015-01-01T00:00:00Z","updated":"2016-06-16T00:49:57Z"},"relationships":{"relation-type":{"data":{"id":"is-supplemented-by","type":"relation-types"}},"source":{"data":{"id":"datacite-related","type":"sources"}}}}],"included":[{"id":"is-supplemented-by","type":"relation-types","attributes":{"title":"Is
        supplemented by","inverse-title":"Is supplement to","updated":"2016-03-21T15:05:03Z"}},{"id":"datacite-related","type":"sources","attributes":{"title":"DataCite
        (RelatedIdentifier)","description":"Import works with relatedIdentifiers via
        the DataCite Solr API.","state":"active","work-count":283372,"relation-count":420693,"result-count":2964592,"by-day":{"with-results":0,"without-results":0,"not-updated":420634},"by-month":{"with-results":94,"without-results":16,"not-updated":420524},"updated":"2016-10-12T16:47:19Z"},"relationships":{"group":{"meta":{}}}}],"meta":{"total":3,"sources":{"datacite-related":3},"relation-types":{"is-supplemented-by":3}}}'
  recorded_at: Wed, 12 Oct 2016 17:46:51 GMT
- request:
    method: get
    uri: http://profiles.datacite.org/api/users/0000-0003-1419-2405/claims?dois=10.5281/ZENODO.46761,10.5281/ZENODO.48228,10.5281/ZENODO.30799
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<ORCID_UPDATE_KEY>
  response:
    status:
      code: 301
      message: ''
    headers:
      Content-Type:
      - text/html
      Location:
      - https://profiles.datacite.org/api/users/0000-0003-1419-2405/claims?dois=10.5281%2FZENODO.46761%2C10.5281%2FZENODO.48228%2C10.5281%2FZENODO.30799
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx/1.11.3</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Wed, 12 Oct 2016 17:46:51 GMT
- request:
    method: get
    uri: https://profiles.datacite.org/api/users/0000-0003-1419-2405/claims?dois=10.5281/ZENODO.46761,10.5281/ZENODO.48228,10.5281/ZENODO.30799
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<ORCID_UPDATE_KEY>
  response:
    status:
      code: 401
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"401","title":"You are not authorized to access
        this page."}]}'
  recorded_at: Wed, 12 Oct 2016 17:46:52 GMT
recorded_with: VCR 2.9.3
