---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/contributions?contributor-id=orcid.org/0000-0003-1419-2405&offset=0&rows=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"e653b2258a1cc6ec59b7a43468f6b172"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"1ee38cdc-792c-4414-87f8-7b2687c306b7","type":"contributions","attributes":{"subj-id":"http://orcid.org/0000-0003-1419-2405","obj-id":"http://doi.org/10.6084/M9.FIGSHARE.3479141","credit-name":"Martin
        Fenner","orcid":"0000-0003-1419-2405","github":null,"author":[],"doi":"10.6084/M9.FIGSHARE.3479141","url":null,"title":"Organisation
        Identifiers - Minimum viable product requirements","container-title":null,"source-id":"datacite-orcid","contributor-role-id":"contribution","type":null,"published":"2016","issued":"2016-07-11T10:40:48Z","updated":"2016-07-26T09:18:39Z"}},{"id":"cf86cc01-db6a-4e60-828e-4d2a65774afa","type":"contributions","attributes":{"subj-id":"http://orcid.org/0000-0003-1419-2405","obj-id":"http://doi.org/10.6084/M9.FIGSHARE.3479141.V1","credit-name":"Martin
        Fenner","orcid":"0000-0003-1419-2405","github":null,"author":[{"family":"Demeranville","given":"Tom","orcid":"http://orcid.org/0000-0003-0902-4386"},{"family":"Brown","given":"Josh","orcid":"http://orcid.org/0000-0002-8689-4935"},{"family":"Fenner","given":"Martin","orcid":"http://orcid.org/0000-0003-1419-2405"},{"family":"Cruse","given":"Patricia"},{"family":"Haak","given":"Laure"},{"family":"Paglione","given":"Laura"},{"family":"Bilder","given":"Geoffrey"},{"family":"Lin","given":"Jennifer"},{"family":"Pentz","given":"Ed"}],"doi":"10.6084/M9.FIGSHARE.3479141.V1","url":null,"title":"Orga[...]
- request:
    method: get
    uri: http://profiles/api/users/0000-0003-1419-2405/claims?dois=10.6084/M9.FIGSHARE.3479141,10.6084/M9.FIGSHARE.3479141.V1,10.6084/M9.FIGSHARE.154691.V1,10.6084/M9.FIGSHARE.107019.V4,10.6084/M9.FIGSHARE.107019.V3,10.6084/M9.FIGSHARE.107019.V2,10.6084/M9.FIGSHARE.107019.V1,10.2312/LIS.16.01,10.6084/M9.FIGSHARE.90829,10.6084/M9.FIGSHARE.90828,10.6084/M9.FIGSHARE.154691,10.6084/M9.FIGSHARE.90829.V1,10.6084/M9.FIGSHARE.90828.V1,10.6084/M9.FIGSHARE.107019,10.2314/COSCV2.[...]
