.nav-tabs-padding
  -### USing HTML because halm transforms objects into attributes 
  -# %datacite-components-links-tabs{ doi: attributes["doi"], client:client_name, 'data-input': data_input }
  <datacite-components-links-tabs doi="#{attributes["doi"]}" client="#{client_name}" data-input='#{list}' />
  