.panel.panel-default
  .panel-body
    .row
      .col-md-4
        .p 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare nibh at ligula feugiat, non malesuada turpis facilisis. Morbi interdum bibendum elit sit amet dignissim. Mauris cursus felis in auctor dictum. In vel elit sagittis, vulputate massa nec, hendrerit est. Suspendisse pharetra ex vel viverra cursus. Integer quis vehicula quam, auctor blandit nulla. Maecenas ullamcorper magna in nisl tincidunt fermentum. Donec nulla lacus, scelerisque eget lorem et, lacinia fringilla mi. Suspendisse semper quis arcu ut viverra. Suspendisse nec est eget massa euismod sodales. Sed id tincidunt quam. Sed vestibulum diam sit amet vehicula ultricies.
      .col-md-8#visualisation
      


      