---
http_interactions:
- request:
    method: get
    uri: http://api.labs.datacite.org/works?offset=0&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"56abfa79d4adc9095cce716f46271073"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"http://doi.org/10.3932/ETHZ-A-000365332","type":"works","attributes":{"author":[],"title":null,"container-title":null,"description":null,"published":null,"issued":"2016-05-24T17:33:01Z","updated":null,"doi":"10.3932/ETHZ-A-000365332","resource-type-general":null,"resource-type":null,"type":null,"license":null,"publisher-id":"ethz.unknown"}},{"id":"http://doi.org/10.3932/ETHZ-A-000365333","type":"works","attributes":{"author":[],"title":null,"container-title":null,"description":null,"published":null,"issued":"2016-05-24T17:33:01Z","updated":null,"doi":"10.3932/ETHZ-A-000365333","resource-type-general":null,"resource-type":null,"type":null,"license":null,"publisher-id":"ethz.unknown"}},{"id":"http://doi.org/10.3932/ETHZ-A-000365313","type":"works","attributes":{"author":[],"title":null,"container-title":null,"descrip[...]
