---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/works?offset=0&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"db018b08d738655fb8676181d11f965b"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"http://doi.org/10.13140/RG.2.2.22500.99207","type":"works","attributes":{"doi":"10.13140/RG.2.2.22500.99207","url":null,"author":[{"literal":"Marc
        LeBane"}],"title":"Newspaper Article","container-title":"Unpublished","description":null,"resource-type-general":null,"resource-type":null,"type":null,"license":null,"publisher-id":"tib.r-gate","member-id":"tib","registration-agency-id":"datacite","results":{},"published":"2016","deposited":"2016-09-03T02:00:30Z","updated":"2016-09-03T02:00:30Z"}},{"id":"http://doi.org/10.17877/DE290R-17244","type":"works","attributes":{"doi":"10.17877/DE290R-17244","url":null,"author":[{"family":"Belomestny","given":"Denis"},{"family":"Panov","given":"Vladimir"},{"family":"Woerner","given":"Jeannette
        H. C."}],"title":"Low-frequency estimation of continuous-time moving average
        Lévy processes","container-title":"Technische Universität Dortmund","description":"In
        this paper we study the problem of statistical inference for a continuoustime
        moving average Lévy process of the form Zt=∫ℝκ(t-s)dLs, t∈ℝ with a deterministic
        kernel κ and a Lévy process L. Especially the estima[...]
