---
http_interactions:
- request:
    method: get
    uri: http://api.labs.datacite.org/works?id=10.2314/COSCV2.53&include=publisher,resource-type,work-type,member,registration-agency&offset=0&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"7387a1100adf5915e2c0b91e2cd4a9d0"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"https://doi.org/10.2314/COSCV2.53","type":"works","attributes":{"doi":"10.2314/COSCV2.53","url":null,"author":[{"family":"Pampel","given":"Heinz","orcid":"http://orcid.org/0000-0003-3334-2771"},{"family":"Neumann","given":"Janna","orcid":"http://orcid.org/0000-0002-0161-1888"}],"title":"Publikation
        von Forschungsdaten","container-title":"Technische Informationsbibliothek
        (TIB), Hannover","description":null,"resource-type-subtype":null,"license":null,"schema-version":"3","results":{},"published":"2015","deposited":"2015-05-20T06:35:12Z","updated":"2015-05-20T06:35:12Z"},"relationships":{"resource-type":{"data":{"id":"text","type":"resource-types"}},"work-type":{"data":{"id":"report","type":"work-types"}},"publisher":{"data":{"id":"tib.handbuch","type":"publishers"}}}},"included":[{"id":"text","type":"resource-types","attributes":{"title":"Text","updated":"2016-09-21T00:00:00Z"}},{"id":"report","type":"work-types","attributes":{"title":"Report","container":null,"updated":"2016-03-21T15:05:03Z"}},{"id":"tib.handbuch","type":"publishers","attributes":{"title":"Technische
        Informationsbibliothek  Open Science Lab","other-names":[],"prefixes":[],"updated":"2016-10-20T05:44:00Z"},"relationships":{"member":{"meta":{}},"registration-agency":{"meta":{}}}}],"meta":{"total":1,"sources":[],"relation-types":[{"id":"is_part_of","title":"Is
        part of","count":1}]}}'
  recorded_at: Thu, 20 Oct 2016 06:12:31 GMT
recorded_with: VCR 2.9.3
