---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/works?id=10.6084/M9.FIGSHARE.C.1909847&offset=0&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"20e75c5ba96709f716246aca0f265c6a"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"http://doi.org/10.6084/M9.FIGSHARE.C.1909847","type":"works","attributes":{"doi":"10.6084/M9.FIGSHARE.C.1909847","url":null,"author":[{"literal":"Carly
        Strasser","orcid":"http://orcid.org/0000-0001-9592-2339"},{"literal":"Patricia
        Cruse"},{"literal":"John Kunze"},{"literal":"Stephen Abrams"}],"title":"DataUp
        manuscript data","container-title":"Figshare","description":null,"resource-type-general":"collection","resource-type":"Collection","type":null,"license":"https://creativecommons.org/licenses/by/3.0/us/","publisher-id":"cdl.digsci","member-id":"cdl","registration-agency-id":"datacite","results":{},"published":"2015","deposited":"2015-12-04T15:40:42Z","updated":"2016-03-11T10:57:59Z"}},{"id":"cdl.digsci","type":"publishers","attributes":{"title":"Digital
        Science","other-names":[],"prefixes":[],"member-id":"CDL","registration-agency-id":"datacite","updated":"2016-09-03T14:37:29Z"}},{"id":"cdl","type":"members","attributes":{"title":"California
        Digital Library","description":"\u003cp\u003eCalifornia Digital Library (CDL)
        deals with information at every stage of its life. CDL provides technology
        and expertise to help the University of California (UC) collect, publish,
        access, and preserve its full range of information resources. CDL partners
        with organizations outside the UCs on far-reaching problems.\u003c/p\u003e\n\n\u003cp\u003eCDL
        offers DataCite DOIs and other identifiers via the EZID service, a service
        CDL developed to support easy identifier creation and maintenance for educational,
        non-profit, governmental and commercial clients.\u003c/p\u003e\n","member-type":"allocating","region":"Americas","country":"United
        States","year":2009,"logo-url":"https://assets.datacite.org/images/members/CDL.png","email":"ezid@ucop.edu","website":"http://ezid.cdlib.org","phone":"1-510-987-0469","updated":"2016-07-31T22:54:26.000Z"}}],"meta":{"total":1,"sources":{},"relation-types":{}}}'
  recorded_at: Sat, 03 Sep 2016 15:12:38 GMT
recorded_with: VCR 2.9.3
