- new_params = params[:model] == "people" && params["id"].present? ? params.merge(external_link: true) : params

.panel.panel-default
  .panel-body
    %h3.work
      %a{:href => people_action(item, new_params)}
        = credit_name(item["attributes"])
  .panel-footer.item-links
    %a{ href: item.dig("attributes", "orcid") }
      %i.fas.fa-external-link-alt
      = item.dig("attributes", "orcid")
