---
http_interactions:
- request:
    method: get
    uri: https://profiles.test.datacite.org/people/0000-0001-6528-2027
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"b236cc13b2a3a1d4acdb362e96abc06f"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"https://orcid.org/0000-0001-6528-2027","type":"people","attributes":{"given":"Martin","family":"Fenner","literal":"Martin
        Fenner","orcid":"https://orcid.org/0000-0001-6528-2027","github":"mfenner","updated":"2018-01-03T16:18:11.000Z"}}}'
  recorded_at: Wed, 11 Apr 2018 09:34:00 GMT
recorded_with: VCR 2.9.3
