---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/people/0000-0001-6528-2027
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"af06cc8bf6288fd54e7544a7975b8c29"
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"https://orcid.org/0000-0001-6528-2027","type":"people","attributes":{"given":"Martin","family":"Fenner","literal":"Martin
        Fenner","orcid":"https://orcid.org/0000-0001-6528-2027","github":"mfenner","updated":"2017-10-20T08:28:24.000Z"}}}'
  recorded_at: Fri, 08 Dec 2017 23:24:13 GMT
recorded_with: VCR 2.9.3
