---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/users/0000-0002-2220-6072
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"7921428fda65515e920d89109c19e275"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"0000-0002-2220-6072","type":"users","attributes":{"givenNames":"Michael","familyName":"''t
        Sas-Rolfes","name":"Michael ''t Sas-Rolfes","orcid":"https://orcid.org/0000-0002-2220-6072","github":null,"roleId":"user","isActive":false,"created":"2017-12-15T16:50:05.000Z","updated":"2017-12-15T16:50:05.000Z"},"relationships":{}}}'
  recorded_at: Sun, 06 Oct 2019 16:37:23 GMT
recorded_with: VCR 2.9.3
