---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/people?id=0000-0003-3484-6875&offset=0&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"06b6ef5183e29b507a712d50a51277f3"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":{"id":"http://orcid.org/0000-0003-3484-6875","type":"people","attributes":{"given":"Kristian","family":"Garza","literal":"K.
        J. Garza","orcid":"http://orcid.org/0000-0003-3484-6875","github":"https://github.com/kjgarza","updated":"2016-09-07T13:24:13.000Z"}}}'
  recorded_at: Thu, 20 Apr 2017 21:40:40 GMT
recorded_with: VCR 2.9.3
