---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/people?id=0000-0003-3484-6875&offset=0&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"691d7507e8a1427e7e7be022240eb8b9"
      Status:
      - 200 OK
      X-Ratelimit-Limit-Hour:
      - '100000'
      X-Ratelimit-Remaining-Hour:
      - '99986'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"http://orcid.org/0000-0003-3484-6875","type":"people","attributes":{"given":"Kristian","family":"Garza","literal":"K.
        J. Garza","orcid":"http://orcid.org/0000-0003-3484-6875","github":"https://github.com/kjgarza","updated":"2017-06-12T13:40:13.000Z"}}}'
  recorded_at: Sat, 24 Jun 2017 17:37:14 GMT
recorded_with: VCR 2.9.3
