---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/users/0000-0002-2220-6072
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"81c22b71d8e7d4455ad35a674c3fed3a"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"0000-0002-2220-6072","type":"users","attributes":{"givenName":"Michael","familyName":"''t
        Sas-Rolfes","name":"Michael ''t Sas-Rolfes","orcid":"https://orcid.org/0000-0002-2220-6072","github":null,"roleId":"user","isActive":false,"created":"2017-12-15T16:50:05.000Z","updated":"2017-12-15T16:50:05.000Z"},"relationships":{}},"meta":{"dois":[],"published":[],"resourceTypes":[],"views":[],"downloads":[],"citations":[]}}'
  recorded_at: Thu, 26 Mar 2020 08:49:40 GMT
recorded_with: VCR 2.9.3
