---
http_interactions:
- request:
    method: get
    uri: https://profiles.test.datacite.org/people/0000-0001-6528-2027
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"7ea05081e9c6b9515d686019975af66c"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"0000-0001-6528-2027","type":"people","attributes":{"given":"Martin","family":"Fenner","literal":"Martin
        Fenner","orcid":"https://orcid.org/0000-0001-6528-2027","github":null,"updated":"2018-08-20T16:40:54.000Z"}}}'
  recorded_at: Mon, 20 Aug 2018 16:41:32 GMT
recorded_with: VCR 2.9.3
