---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/users/0000-0001-5674-8163
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"8659cd2586da73feab6943c077f6083e"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"0000-0001-5674-8163","type":"users","attributes":{"givenNames":"Hoolo","familyName":"''Nyane","name":"Hoolo
        ''Nyane","orcid":"https://orcid.org/0000-0001-5674-8163","github":null,"roleId":"user","isActive":false,"created":"2019-05-27T15:27:42.000Z","updated":"2019-06-03T14:37:21.000Z"},"relationships":{}}}'
  recorded_at: Sun, 06 Oct 2019 13:27:04 GMT
recorded_with: VCR 2.9.3
