---
http_interactions:
- request:
    method: get
    uri: https://profiles.test.datacite.org/people?page%5Bnumber%5D=1&page%5Bsize%5D=25&query=garza
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"009f3ecc178f332101a9961741223416"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"0000-0002-1243-2594","type":"people","attributes":{"given":"Agarza","family":"Agarza","literal":"Agarza
        Agarza","orcid":"https://orcid.org/0000-0002-1243-2594","github":null,"updated":"2017-06-23T16:53:30.000Z"}},{"id":"0000-0002-5099-0079","type":"people","attributes":{"given":"Jesus
        Alberto","family":"Cardenas-de la Garza","literal":"Jesus Alberto Cardenas-de
        la Garza","orcid":"https://orcid.org/0000-0002-5099-0079","github":null,"updated":"2018-05-14T20:22:20.000Z"}},{"id":"0000-0003-3484-6875","type":"people","attributes":{"given":"Kristian","family":"Garza","literal":"Kristian
        Garza","orcid":"https://orcid.org/0000-0003-3484-6875","github":"kjgarz[...]
