---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/people?offset=0&query=garza&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"855ce887891c161379ec1ce5cec201a0"
      Status:
      - 200 OK
      X-Ratelimit-Limit-Hour:
      - '100000'
      X-Ratelimit-Remaining-Hour:
      - '99987'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"http://orcid.org/0000-0002-1243-2594","type":"people","attributes":{"given":"Agarza","family":"Agarza","literal":"Agarza
        Agarza","orcid":"http://orcid.org/0000-0002-1243-2594","github":null,"updated":"2017-06-23T16:53:30.000Z"}},{"id":"http://orcid.org/0000-0003-3484-6875","type":"people","attributes":{"given":"Kristian","family":"Garza","literal":"K.
        J. Garza","orcid":"http://orcid.org/0000-0003-3484-6875","github":"https://github.com/kjgarza","updated":"2017-06-12T13:40:13.000Z"}},{"id":"http://orcid.org/0000-0002-5493-877X","type":"people","attributes":{"given":"Jose
        Arturo","family":"Garza-Reyes","literal":"Jose Arturo Garza-Reyes","orcid":"http://orcid.org/0000-0002-5493[...]
