---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/users?page%5Bnumber%5D=1&page%5Bsize%5D=25&query=garza
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"59f5d356e30e3ef5ec7db5a3dcdeb162"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"0000-0002-5099-0079","type":"users","attributes":{"givenNames":"Jesus
        Alberto","familyName":"Cardenas-de la Garza","name":"Jesus Alberto Cardenas-de
        la Garza","orcid":"https://orcid.org/0000-0002-5099-0079","github":null,"roleId":"user","isActive":false,"created":"2018-05-14T20:22:20.000Z","updated":"2018-05-14T20:22:20.000Z"},"relationships":{}},{"id":"0000-0003-3484-6876","type":"users","attributes":{"givenNames":"Kristian","familyName":"Garza","name":"K.
        J. Garza","orcid":"https://orcid.org/0000-0003-3484-6876","github":"https://github.com/kjgarza","roleId":"staff_admin","isActive":false,"created":"2016-08-01T16:25:38.000Z","updated":"2018-05-30T05:00:34.000Z"},"relationships":{}},{"id":"0000-0002-5493-877X","type":"users","attributes":{"givenNames":"Jose
        Arturo","familyName":"Garza-Reyes","name":"Jose Arturo Garza[...]
