---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/people?offset=0&query=garza&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"b746811dc2a4e0ab632b8437aca5249f"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"http://orcid.org/0000-0003-3484-6875","type":"people","attributes":{"given":"Kristian","family":"Garza","literal":"K.
        J. Garza","orcid":"http://orcid.org/0000-0003-3484-6875","github":"https://github.com/kjgarza","updated":"2016-09-07T13:24:13.000Z"}},{"id":"http://orcid.org/0000-0002-5493-877X","type":"people","attributes":{"given":"Jose
        Arturo","family":"Garza-Reyes","literal":"Jose Arturo Garza-Reyes","orcid":"http://orcid.org/0000-0002-5493-877X","github":null,"updated":"2016-10-14T11:38:01.000Z"}},{"id":"http://orcid.org/0000-0003-3493-3709","type":"people","attributes":{"given":"JUAN
        JOSE","family":"IGARZA UGALDEA","literal":"JUAN JOSE IGARZA UGALDEA","orcid":"http://orcid.org/0000-0003-3493-3709","github":null,"updated":"2015-11-27T13:50:58.000Z"}},{"id":"http://orcid.org/0000-0003-0332-808X","type":"people","attributes":{"given":"Hassan","family":"Zargarzadeh","literal":"Hassan
        Zargarzadeh","orcid":"http://orcid.org/0000-0003-0332-808X","github":null,"updated":"2016-11-04T19:59:59.000Z"}}],"meta":{"total":4}}'
  recorded_at: Thu, 20 Apr 2017 21:40:45 GMT
recorded_with: VCR 2.9.3
