---
http_interactions:
- request:
    method: get
    uri: https://profiles.test.datacite.org/people?page%5Bnumber%5D=1&page%5Bsize%5D=25&query=garza
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"cbe54cf98840527582edd7a3cbe92869"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"https://orcid.org/0000-0003-0905-2598","type":"people","attributes":{"given":"Lando","family":"Clarissia","literal":"Lando
        Clarissia","orcid":"https://orcid.org/0000-0003-0905-2598","github":"kjgarza","updated":"2017-10-09T11:01:31.000Z"}},{"id":"https://orcid.org/0000-0002-5493-877X","type":"people","attributes":{"given":"Jose
        Arturo","family":"Garza-Reyes","literal":"Jose Arturo Garza-Reyes","orcid":"https://orcid.org/0000-0002-5493-877X","github":null,"updated":"2016-10-14T11:38:01.000Z"}},{"id":"https://orcid.org/0000-0003-3493-3709","type":"people","attributes":{"given":"JUAN
        JOSE","family":"IGARZA UGALDEA","literal":"JUAN JOSE IGARZA UGALDEA","orcid":"https://orcid.org/0000-0003-3493-3709","github":null,"updated":"2015-11-27T13:50:58.000Z"}},{"id":"https://orcid.org/0000-0003-0332-808X","type":"people","attributes":{"given":"Hassan","family":"Zargarzadeh","literal":"Hassan
        Zargarzadeh","orcid":"https://orcid.org/0000-0003-0332-808X","github":null,"updated":"2016-11-04T19:59:59.000Z"}}],"links":{"self":"https://profiles.test.datacite.org/people?page%5Bnumber%5D=1\u0026page%5Bsize%5D=25\u0026query=garza","first":"https://profiles.test.datacite.org/people?page%5Bnumber%5D=1\u0026page%5Bsize%5D=25\u0026query=garza","prev":null,"next":null,"last":"https://profiles.test.datacite.org/people?page%5Bnumber%5D=1\u0026page%5Bsize%5D=25\u0026query=garza"},"meta":{"total":4,"total-pages":1,"page":1}}'
  recorded_at: Wed, 11 Apr 2018 09:34:00 GMT
recorded_with: VCR 2.9.3
