---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/events?extra=true&ids=10.7272/q6g15xs4,10.5438/G59A-FBT2&page%5Bsize%5D=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"b851a728f438b175033888acc509865e"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"ef894831-0376-4d00-9977-bbced1d0fcf7","type":"events","attributes":{"subjId":"https://api.test.datacite.org/reports/961e7eaa-7c3a-485a-85ed-94f94a535519","objId":"https://doi.org/10.7272/q6g15xs4","sourceId":"datacite-usage","relationTypeId":"total-dataset-requests-regular","total":6,"messageAction":"create","sourceToken":"43ba99ae-5cf0-11e8-9c2d-fa7ae01bbebc","license":"https://creativecommons.org/publicdomain/zero/1.0/","occurredAt":"2018-04-30T00:00:00.000Z","timestamp":"2018-09-05T18:21:34.860Z"},"relationships":{"subj":{"data":{"id":"https://api.test.datacite.org/reports/961e7eaa-7c3a-485a-85ed-94f94a535519","type":"objects"}},"obj":{"data":{"id":"https://doi.org/10.7272/q6g15xs4","type":"objects"}}}},{"id":"d4e00d29-2281-495e-8df5-05f3c4d50dc9","type":"events","attributes":{"subjId":"https://api.test.datacite.org/reports/961e7eaa-7c3a-485a-85ed-94f94a535519","objId":"https://doi.org/10.7272/q6g15xs4","sourceId":"datacite-usage","relationTypeId":"unique-dataset-requests-regular","total":4,"messageAction":"create","sourceToken":"43ba99ae-5cf0-11e8-9c2d-fa7ae01bbebc","license":"https://creativecommons.org/publicdomain/zero/1.[...]
