- attributes = item.fetch("attributes", {})

%script{type: "application/ld+json"}
  = contributor_as_json_ld(id: attributes["subj-id"], attributes: attributes)

.panel.panel-default
  .panel-body
    %h3.work
      %a{:href => people_action(item, params)}
        = attributes["credit-name"]
  .panel-footer
    %span
      Contribution
    %span.pull-right
      = source_title(@contributions[:included].select {|item| item["type"] == "sources" }, item.fetch("relationships", {}).fetch("source", {}).fetch("data", {}).fetch("id", nil))

  .panel-footer.item-links
    %a{:href => attributes["subj-id"]}
      %i.fa.fa-external-link
      = attributes["subj-id"]
