- attributes = item.fetch("attributes", {})
.panel.panel-default
  .panel-body
    %h3.work
      %a{:href => contributors_action(item, params)}
        = attributes["credit-name"]
    .contribution
      Contribution
  .panel-footer.item-links
    %a{:href => attributes["subj-id"]}
      %i.fa.fa-external-link
      = attributes["subj-id"]
    %span.pull-right
      = source_title(@contribution_sources, item.fetch("attributes", {}).fetch("source-id", nil))
