---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/works/10.0311/fk2/e11643a99d903d0ccfc2d523b344d9ff?include=data-center,resource-type,member
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"07d5ce2e4174c1068aca7e15b087e2a2"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"https://handle.test.datacite.org/10.0311/fk2/e11643a99d903d0ccfc2d523b344d9ff","type":"works","attributes":{"doi":"10.0311/fk2/e11643a99d903d0ccfc2d523b344d9ff","identifier":"https://handle.test.datacite.org/10.0311/fk2/e11643a99d903d0ccfc2d523b344d9ff","url":"https://portal-s.lternet.edu/nis/mapbrowse?packageid=knb-lter-jrn.100.4","author":[{"given":"Wenjie","family":"Ji"},{"given":"Niall
        P.","family":"Hanan"}],"title":"High resolution shrub cover raster maps of
        the Jornada Basin LTER, including JER and CDRRC (2011)","container-title":"Environmental
        Data Initiative","description":"This data package contains two raster shrub
        cover maps of the Jornada Experimental Range and Chihuahuan Desert Rangeland
        Research Center (CDRRC) created using 1m resolution National Agriculture Imagery
        Program (NAIP) aerial photo acquired in 2011. A one-meter resolution raster
        file lists cover as non-shrub, shrub, or no data available. A hectare resolution
        raster file contains fractional shrub cover values (0-1) calculed from the
        1 meter raster. NOTE: There is currently a hole in the coverage of the hectare
        raster (no-data values) in the \"scarplet\" region in the southeastern portion
        of the Jornada Basin. The creators of the dataset plan to fill this missing
        area of coverage in a future update to the data package once suitable imagery
        of the area is acquired.","resource-type-subtype":"dataPackage","data-center-id":"datacite.edi","member-id":"datacite","resource-type-id":"dataset","version":null,"license":null,"schema-version":null,"results":[],"related-identifiers":[],"published":"2019","registered":"2019-11-18T06:10:00.000Z","checked":null,"updated":"2019-11-18T06:10:00.000Z","media":[],"xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291cmNlIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC00LjEvbWV0YWRhdGEueHNkIj4KICA8aWRlbnRpZmllciBpZGVudGlmaWVyVHlwZT0iRE9JIj4xMC4wMzExL0ZLMi9FMTE2NDNBOTlEOTAzRDBDQ0ZDMkQ1MjNCMzQ0RDlGRjwvaWRlbnRpZmllcj4KICA8Y3JlYXRvcnM+CiAgICA8Y3J[...]
- request:
    method: get
    uri: https://api.test.datacite.org/events?aggregations=query_aggregations,metrics_aggregations,citations_aggregations&doi=10.0311/fk2/e11643a99d903d0ccfc2d523b344d9ff&extra=true&include=dois&page%5Bnumber%5D=1&page%5Bsize%5D=25&sort=relation_type_id&source-id=datacite-related,datacite-crossref,crossref,datacite-usage,datacite-funder
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 500 Internal Server Error
    body:
      encoding: ASCII-8BIT
      string: '{"status":500,"error":"Internal Server Error","exception":"#<Elasticsearch::Transport::Transport::Errors::InternalServerError:
        [500] {\"error\":{\"root_cause\":[{\"type\":\"circuit_breaking_exception\",\"reason\":\"[script]
        Too many dynamic script compilations within, max: [75/5m]; please use indexed,
        or scripts with parameters instead; this limit can be changed by the [script.max_compilations_rate]
        setting\",\"bytes_wanted\":0,\"bytes_limit\":0,\"durability\":\"TRANSIENT\"}],\"type\":\"search_phase_execution_exception\",\"reason\":\"all
        shards failed\",\"phase\":\"query\",\"grouped\":true,\"failed_shards\":[{\"shard\":0,\"index\":\"events_v2\",\"node\":\"pKbNDYClRwScKwbg6YVluQ\",\"reason\":{\"type\":\"general_script_exception\",\"reason\":\"Failed
        to compile inline script [([\\\"is-cited-by\\\", \\\"is-supplemented-by\\\",
        \\\"is-referenced-by\\\"].contains(doc[''relation_type_id''].value) && ''https://doi.org/10.0311/fk2/e11643a99d903d0ccfc2d523b344d9ff''
        == doc[''obj_id''].value) || ([\\\"cites\\\", \\\"is-supplement-to\\\", \\\"references\\\"].contains(doc[''relation_type_id''].value)
        && ''https://doi.org/10.0311/fk2/e11643a99d903d0ccfc2d523b344d9ff'' == doc[''subj_id''].value)]
        using lang [painless]\",\"caused_by\":{\"type\":\"circuit_breaking_exception\",\"reason\":\"[script]
        Too many dynamic script compilations within, max: [75/5m]; please use indexed,
        or scripts with parameters instead; this limit can be changed by the [script.max_compilations_rate]
        setting\",\"bytes_wanted\":0,\"bytes_limit\":0,\"durability\":\"TRANSIENT\"}}}],\"caused_by\":{\"type\":\"circuit_breaking_exception\",\"reason\":\"[script]
        Too many dynamic script compilations within, max: [75/5m]; please use indexed,
        or scripts with parameters instead; this limit can be changed by the [script.max_compilations_rate]
        setting\",\"bytes_wanted\":0,\"bytes_limit\":0,\"durability\":\"TRANSIENT\"}},\"status\":500}>","traces":{"Application
        Trace":[{"id":8,"trace":"app/controllers/events_controller.rb:113:in `index''"}],"Framework
        Trace":[{"id":0,"trace":"vendor/bundle/ruby/2.4.0/gems/elasticsearch-transport-7.1.0/lib/elasticsearch/transport/transport/base.rb:218:in
        `__raise_transport_error''"},{"id":1,"trace":"vendor/bundle/ruby/2.4.0/gems/elasticsearch-transport-7.1.0/lib/elasticsearch/transport/transport/base.rb:338:in
        `perform_request''"},{"id":2,"trace":"vendor/bundle/ruby/2.4.0/gems/elasticsearch-transport-7.1.0/lib/elasticse[...]
- request:
    method: get
    uri: https://api.test.datacite.org/dois/10.0311/fk2/e11643a99d903d0ccfc2d523b344d9ff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.schemaorg.ld+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"5f8015bff101dabbec61d70f8188a732"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@context": "http://schema.org",
          "@type": "Dataset",
          "@id": "https://doi.org/10.0311/fk2/e11643a99d903d0ccfc2d523b344d9ff",
          "identifier": [
            {
              "@type": "PropertyValue",
              "propertyID": "DOI",
              "value": "https://handle.test.datacite.org/10.0311/fk2/e11643a99d903d0ccfc2d523b344d9ff"
            },
            {
              "@type": "PropertyValue",
              "propertyID": "URL",
              "value": "https://pasta-s.lternet.edu/package/eml/knb-lter-jrn/100/4"
            }
          ],
          "url": "https://portal-s.lternet.edu/nis/mapbrowse?packageid=knb-lter-jrn.100.4",
          "additionalType": "dataPackage",
          "name": "High resolution shrub cover raster maps of the Jornada Basin LTER, including JER and CDRRC (2011)",
          "author": [
            {
              "name": "Wenjie Ji",
              "givenName": "Wenjie",
              "familyName": "Ji",
              "@type": "Person"
            },
            {
              "name": "Niall P. Hanan",
              "givenName": "Niall P.",
              "familyName": "Hanan",
              "@type": "Person"
            }
          ],
          "description": "This data package contains two raster shrub cover maps of the Jornada Experimental Range and Chihuahuan Desert Rangeland Research Center (CDRRC) created using 1m resolution National Agriculture Imagery Program (NAIP) aerial photo acquired in 2011. A one-meter resolution raster file lists cover as non-shrub, shrub, or no data available. A hectare resolution raster file contains fractional shrub cover values (0-1) calculed from the 1 meter raster. NOTE: There is currently a hole in the coverage of the hectare raster (no-data values) in the \"scarplet\" region in the southeastern portion of the Jornada Basin. The creators of the dataset plan to fill this missing area of coverage in a future update to the data package once suitable imagery of the area is acquired.",
          "inLanguage": "eng",
          "datePublished": "2019",
          "publisher": {
            "@type": "Organization",
            "name": "Environmental Data Initiative"
          },
          "provider": {
            "@type": "Organization",
            "name": "DataCite"
          }
        }
  recorded_at: Mon, 18 Nov 2019 10:17:26 GMT
recorded_with: VCR 2.9.3
