---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/contributors?offset=0&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"7fa6f0ba8ec6fe3750b68a554402a6ae"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"https://github.com/mne-tools","type":"contributors","attributes":{"given":null,"family":null,"literal":"mne-tools","orcid":null,"github":"mne-tools","updated":"1970-01-01T00:00:00Z"}},{"id":"http://orcid.org/0000-0002-5164-0281","type":"contributors","attributes":{"given":"Peyman","family":null,"literal":null,"orcid":"0000-0002-5164-0281","github":null,"updated":"1970-01-01T00:00:00Z"}},{"id":"https://github.com/Ehsanizadi","type":"contributors","attributes":{"given":null,"family":null,"literal":"Ehsanizadi","orcid":null,"github":"Ehsanizadi","updated":"1970-01-01T00:00:00Z"}},{"id":"http://orcid.org/0000-0002-4232-7295","type":"contributors","attribu[...]
