---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/people?id=orcid.org/0000-0002-4000-4167&offset=0&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"5b5a2ffe0695eb3f4c1075eb2a53f161"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"http://orcid.org/0000-0002-4000-4167","type":"contributors","attributes":{"given":"Peter","family":"Arend","literal":null,"orcid":"0000-0002-4000-4167","github":null,"updated":"1970-01-01T00:00:00Z"}}}'
  recorded_at: Wed, 25 Jan 2017 08:22:03 GMT
recorded_with: VCR 2.9.3
