---
http_interactions:
- request:
    method: get
    uri: http://api.labs.datacite.org/contributors?id=orcid.org/0000-0002-4000-4167&offset=0&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"0fb76be6706bd91b009d42894b376e7f"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"http://orcid.org/0000-0002-4000-4167","type":"contributors","attributes":{"given":"Peter","family":"Arend","updated":"1970-01-01T00:00:00Z"}}}'
  recorded_at: Wed, 25 May 2016 12:03:57 GMT
recorded_with: VCR 2.9.3
