---
http_interactions:
- request:
    method: get
    uri: http://api.datacite.org/contributors?id=orcid.org/0000-0002-4000-4167&offset=0&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"a54d8e34532d97531ccfe04a8b0c5b83"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"http://orcid.org/0000-0002-4000-4167","type":"contributors","attributes":{"given":"Peter","family":"Arend","literal":null,"orcid":"0000-0002-4000-4167","github":null,"updated":"1970-01-01T00:00:00Z"}}]}'
  recorded_at: Fri, 01 Jul 2016 23:43:43 GMT
recorded_with: VCR 2.9.3
