---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/contributors?offset=0&query=mabbett&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"ae24fba2a02b67c4be8b811e22469600"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"http://orcid.org/0000-0001-5882-6823","type":"contributors","attributes":{"given":"Andy","family":"Mabbett","literal":null,"orcid":"0000-0001-5882-6823","github":null,"updated":"1970-01-01T00:00:00Z"}}],"meta":{"total":1}}'
  recorded_at: Fri, 01 Jul 2016 23:43:44 GMT
recorded_with: VCR 2.9.3
