---
http_interactions:
- request:
    method: get
    uri: http://api.labs.datacite.org/contributors?offset=0&q=mabbett&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"1ce1bbb99b0eabfafa5626a56092c18f"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"http://orcid.org/0000-0001-5882-6823","type":"contributors","attributes":{"given":"Andy","family":"Mabbett","updated":"1970-01-01T00:00:00Z"}}],"meta":{"total":1}}'
  recorded_at: Wed, 25 May 2016 12:03:57 GMT
recorded_with: VCR 2.9.3
