---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/members?query=tib
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"ee0174cddee6304451da3de3d02c09f0"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"tib","type":"members","attributes":{"title":"German
        National Library of Science and Technology","display-title":"German National
        Library of Science and Technology","description":null,"member-type":"direct_member","organization-type":"nationalInstitution","focus-area":"engineeringAndTechnology","region":"EMEA","country":"DE","year":null,"logo-url":null,"email":null,"website":"https://www.tib.eu","joined":null,"created":"2010-01-01T00:00:00.000Z","updated":"2019-06-22T23:32:09.000Z"}}],"meta":{"total":1,"total-pages":1,"page":1,"years":[{"id":"2010","title":"2010","count":1}],"regions":[{"id":"emea","title":"EMEA","count":1}],"organization-types":[{"id":"nationalInstitution","title":"National
        Institution","count":1}],"focus-areas":[{"id":"engineeringAndTechnology","title":"Engineering
        And Technology","count":1}]}}'
  recorded_at: Mon, 18 Nov 2019 09:31:45 GMT
recorded_with: VCR 2.9.3
