orcid:
  client_id: 
  client_secret: 
  site: http://api.sandbox-1.orcid.org
  authorize_url: http://sandbox-1.orcid.org/oauth/authorize
  token_url: http://api.sandbox-1.orcid.org/oauth/token
solr_url: http://search.datacite.org
solr_select: /api
contact_url: 
app_name: Example
facet: false
highlighting: false
gabba:
  cookie:
  url:
mongo_host: 127.0.0.1
mongo_db: datacite
typical_rows: [10, 20, 50, 100, 500]
default_rows: 20
month_short_names: ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]

