---
http_interactions:
- request:
    method: post
    uri: https://ls.datacite.org/api/relations
    body:
      encoding: UTF-8
      string: work_ids=http://doi.org/10.5517/CC1JZZ2K
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"d653b7b416b0c56ac8339c7fb518ec11"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"relation-list","message-version":"6.0.0","total":1,"total_pages":1,"page":1},"relations":[{"id":"http://doi.org/10.1016/j.ica.2016.02.005","work_id":"http://doi.org/10.5517/CC1JZZ2K","source_id":"datacite_related","relation_type_id":"is_supplement_to","author":[],"title":"A
        dinuclear iron(II) complex bearing multidentate pyridinyl ligand: Synthesis,
        characterization and its catalysis on the hydroxylation of aromatic compounds","issued":{"date-parts":[[2016,2,14]]},"DOI":"10.1016/j.ica.2016.02.005","events":{},"timestamp":"2016-02-23T12:47:57Z"}]}'
  recorded_at: Mon, 07 Mar 2016 16:15:04 GMT
recorded_with: VCR 2.9.3
