---
http_interactions:
- request:
    method: get
    uri: http://doi.org/10/kz6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - http://doi.org/10.6084/M9.FIGSHARE.154691
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 15 Oct 2015 22:12:36 GMT
- request:
    method: get
    uri: http://doi.org/10.6084/M9.FIGSHARE.154691
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 303
      message: See Other
    headers:
      Location:
      - http://data.datacite.org/10.6084%2FM9.FIGSHARE.154691
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="http://data.datacite.org/10.6084%2FM9.FIGSHARE.154691">http://data.datacite.org/10.6084%2FM9.FIGSHARE.154691</a></body></html>
  recorded_at: Thu, 15 Oct 2015 22:12:36 GMT
- request:
    method: get
    uri: http://data.datacite.org/10.6084%2FM9.FIGSHARE.154691
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      Last-Modified:
      - Tue, 29 Jan 2013 15:26:48 GMT
    body:
      encoding: UTF-8
      string: '{"type":"dataset","DOI":"10.6084\/M9.FIGSHARE.154691","URL":"http:\/\/dx.doi.org\/10.6084\/M9.FIGSHARE.154691","title":"D2.1
        Kick off preparation, Communication plan and Website","publisher":"Figshare","issued":{"raw":"2013"},"author":[{"literal":"ODIN
        Consortium"},{"literal":"Gudmundur Thorisson"},{"literal":"Martin Fenner"}]}'
  recorded_at: Thu, 15 Oct 2015 22:12:36 GMT
- request:
    method: get
    uri: http://search.datacite.org/api?f.format.facet.prefix=application&f.resourceType_facet.facet.limit=15&f.rightsURI.facet.prefix=http://creativecommons.org&facet=true&facet.field=rightsURI&facet.limit=10&facet.mincount=1&fl=score&fq=has_metadata:true&hl=true&hl.fl=hl_*&hl.fragsize=0&hl.mergeContinuous=true&hl.simple.post=%3C/span%3E&hl.simple.pre=%3Cspan%20class=%22hl%22%3E&hl.snippets=10&q=doi:%2210.6084/M9.FIGSHARE.154691%22&rows=20&sort=score%20desc&start=0&wt[...]
- request:
    method: post
    uri: http://dlm.labs.datacite.org/api/references
    body:
      encoding: UTF-8
      string: work_ids=http://doi.org/10.6084/M9.FIGSHARE.154691
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"a645c5bb3568ca7c049adec5c1ff20b9"
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"status":"ok","message-type":"reference-list","message-version":"6.0.0","total":0,"total_pages":1,"page":1},"references":[]}'
  recorded_at: Thu, 15 Oct 2015 22:12:36 GMT
recorded_with: VCR 2.9.3
