---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/users?page%5Bnumber%5D=1&page%5Bsize%5D=25&query=smith
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"3bb697f18a26cf273ccf715dce211001"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"0000-0002-5647-6417","type":"users","attributes":{"givenName":"Nilza","familyName":"Aples","name":"Justiz
        Smith","orcid":"https://orcid.org/0000-0002-5647-6417","github":null,"roleId":"user","isActive":false,"created":"2017-08-11T16:03:55.000Z","updated":"2017-08-11T16:04:35.000Z"},"relationships":{}},{"id":"0000-0003-0727-0479","type":"users","attributes":{"givenName":"Lauren","familyName":"Charles-Smith","name":"Lauren
        Charles-Smith","orcid":"https://orcid.org/0000-0003-0727-0479","github":null,"roleId":"user","isActive":false,"created":"2017-04-27T18:57:02.000Z","updated":"2017-04-27T18:57:03.000Z"},"relationships":{}},{"id":"0000-0003-4314-1877","type":"users","attributes":{"givenName":"Erica","familyName":"Darian-Smith","name":"Erica
        Darian-Smith","orcid":"https://orc[...]
