---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/data-centers?include=member&page%5Bnumber%5D=1&page%5Bsize%5D=25&query=university
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"ecfffc2a95a03d73344a4d20b14bf660"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"dk.aau","type":"data-centers","attributes":{"title":"Aalborg
        University Library","other-names":[],"prefixes":[],"member-id":"dk","year":2012,"created":"2012-11-28T08:22:41.000Z","updated":"2019-07-30T10:13:11.000Z"},"relationships":{"member":{"data":{"id":"dk","type":"members"}}}},{"id":"bl.abertay","type":"data-centers","attributes":{"title":"Abertay
        University","other-names":[],"prefixes":[],"member-id":"bl","year":2017,"created":"2017-02-03T11:12:26.000Z","updated":"2019-08-27T12:59:01.000Z"},"relationships":{"member":{"data":{"id":"bl","type":"members"}}}},{"id":"au.dra","type":"data-centers","attributes":{"title":"American
        University Digital Research Archive","other-names":[],"prefixes":[],"member-id":"au","year[...]
