---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/repositories?include=provider&page%5Bnumber%5D=1&page%5Bsize%5D=25&query=university
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"932b068cca1c2b15f9f306bd0c850fec"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"dk.aau","type":"repositories","attributes":{"name":"Aalborg
        University Library","symbol":"DK.AAU","re3data":null,"opendoar":null,"year":2012,"systemEmail":"kl@aub.aau.dk","alternateName":null,"description":null,"clientType":"repository","repositoryType":["institutional"],"language":[],"certificate":[],"domains":"vbn.aau.dk,journals.aau.dk","issn":[],"url":null,"created":"2012-11-28T08:22:41.000Z","updated":"2019-07-30T10:13:11.000Z","isActive":true,"hasPassword":true,"serviceContact":{}},"relationships":{"provider":{"data":{"id":"dk","type":"providers"}},"prefixes":{"data":[{"id":"10.5278","type":"prefixes"}]}}},{"id":"bl.abertay","type":"repositories","attributes":{"name":"Abertay
        University","symbol":"BL.ABERTAY","re3data":null,"opendoar":null,"year":2017,"systemEmail":"Repository@abertay.ac.uk","alternateName":null,"description":null,"clientType":"repository","repositoryType":[],"language":[],"certificate":[],"domains":"abertay.ac.uk","issn":{},"url":null,"created":"2017-02-03T11:12:26.000Z","updated":"2019-08-27T12:59:01.000Z","isActive":true,"[...]
