.search-wide
  %form.form-horizontal{:method => 'GET', :action => '/sources'}
    .input-group
      - if params["group-id"].present?
        %input{type: "hidden", name: "group-id", value: params["group-id"]}
      %input.form-control{type: "text", name: 'q', id: 'search-input', value: params[:q], placeholder: "Search for source"}
      .input-group-btn
        %button.btn.btn-primary{type: "submit"}
          Search
