---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/works?include=data-center,resource-type,member&page%5Bnumber%5D=1&page%5Bsize%5D=25&query=martin%20fenner
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"245ebb5cdc9b1b4553ccfdd88cdc2224"
    body:
      encoding: UTF-8
      string: '{"data":[],"included":[],"meta":{"resource-types":[],"years":[],"registered":[],"data-centers":[],"schema-versions":[],"total":0,"total_pages":0,"page":1}}'
  recorded_at: Wed, 11 Apr 2018 09:34:01 GMT
recorded_with: VCR 2.9.3
