---
http_interactions:
- request:
    method: get
    uri: http://api.labs.datacite.org/relations?include=relation-type,source,publisher&offset=0&rows=25&work-id=10.5281/ZENODO.48705
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"7efb0eaf324ee60918fcc2331f78b5e4"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"4a128ebe-4733-47c6-8def-55fa89471d8e","type":"relations","attributes":{"subj-id":"http://doi.org/10.5281/ZENODO.46761","obj-id":"http://doi.org/10.5281/ZENODO.48705","doi":"10.5281/ZENODO.46761","author":[],"title":"THOR:
        Metrics and Tools","container-title":null,"publisher-id":"CERN.ZENODO","registration-agency-id":"datacite","work-type":null,"total":1,"published":"2016","issued":"2016-01-01T00:00:00Z","updated":"2016-06-16T00:49:59Z"},"relationships":{"relation-type":{"data":{"id":"is-supplemented-by","type":"relation-types"}},"source":{"data":{"id":"datacite-related","type":"sources"}}}},{"id":"554dd175-7db9-46bb-b1c4-8d9d785b54bf","type":"relations","attributes":{"subj-id":"http://doi.org/10.5281/ZENODO.48228","obj-id":"http://doi.org/10.5281/ZENODO.48705","doi":"10.5281/ZENODO.48228","author":[],"title":"THOR
        Communications Plan","container-title":null,"publisher-id":"CERN.ZENODO","registration-agency-id":"datacite","work-type":null,"total":1,"published":"2016","issued":"2016-01-01T00:00:00Z","updated":"2016-06-16T00:49:58Z"},"relationships":{"relation-type":{"data":{"id":"is-supplemented-by","type":"relation-types"}},"source":{"data":{"id":"datacite-related","type":"sources"}}}},{"id":"085d94b0-a84f-46ec-84e0-0506e327e378","type":"relations","attributes":{"subj-id":"http://doi.org/10.5281/ZENODO.30799","obj-id":"http://doi.org/10.5281/ZENODO.48705","doi":"10.5281/ZENODO.30799","author":[],"title":"D2.1:
        Artefact, Contributor, and Organisation Relationship Data Schema","container-title":null,"publisher-id":"CERN.ZENODO","registration-agency-id":"datacite","work-type":null,"total":1,"published":"2015","issued":"2015-01-01T00:00:00Z","updated":"2016-06-16T00:49:57Z"},"relationships":{"relation-type":{"data":{"id":"is-supplemented-by","type":"relation-types"}},"source":{"data":{"id":"datacite-related","type":"sources"}}}}],"included":[{"id":"is-supplemented-by","type":"relation-types","attributes":{"title":"Is
        supplemented by","inverse-title":"Is supplement to","updated":"2016-03-21T15:05:03Z"}},{"id":"datacite-related","type":"sources","attributes":{"title":"DataCite
        (RelatedIdentifier)","description":"Import works with relatedIdentifiers via
        the DataCite Solr API.","state":"active","work-count":0,"relation-count":0,"result-count":0,"by-day":{"with-results":0,"without-results":0,"not-updated":0},"by-month":{"with-results":0,"without-results":0,"not-updated":0},"updated":"2016-10-20T10:18:11Z"},"relationships":{"group":{"meta":{}}}}],"meta":{"total":3,"sources":[{"id":"datacite_related","title":"DataCite
        (RelatedIdentifier)","count":3}],"publishers":[{"id":"cern.zenodo","title":"ZENODO
        - Research. Shared.","count":3}],"relation-types":[{"id":"is_supplemented_by","title":"Is
        supplemented by","count":3}]}}'
  recorded_at: Thu, 20 Oct 2016 11:09:03 GMT
- request:
    method: get
    uri: http://profiles.datacite.org/api/users/0000-0003-1419-2405/claims?dois=10.5281/ZENODO.46761,10.5281/ZENODO.48228,10.5281/ZENODO.30799
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<ORCID_UPDATE_KEY>
  response:
    status:
      code: 301
      message: ''
    headers:
      Content-Type:
      - text/html
      Location:
      - https://profiles.datacite.org/api/users/0000-0003-1419-2405/claims?dois=10.5281%2FZENODO.46761%2C10.5281%2FZENODO.48228%2C10.5281%2FZENODO.30799
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx/1.11.5</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Thu, 20 Oct 2016 11:09:04 GMT
- request:
    method: get
    uri: https://profiles.datacite.org/api/users/0000-0003-1419-2405/claims?dois=10.5281/ZENODO.46761,10.5281/ZENODO.48228,10.5281/ZENODO.30799
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<ORCID_UPDATE_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"fc6166cb1db39883b342bf1d1b250fa3"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"25a3fdb9-1f4d-465d-8a53-5a7642258e99","type":"claims","attributes":{"orcid":"0000-0003-1419-2405","doi":"10.5281/ZENODO.30799","source-id":"orcid_search","state":"done","claim-action":"create","claimed-at":"2016-03-09T13:01:04Z"}}],"links":{},"meta":{"total":1,"total-pages":1,"page":1}}'
  recorded_at: Thu, 20 Oct 2016 11:09:04 GMT
recorded_with: VCR 2.9.3
