---
http_interactions:
- request:
    method: get
    uri: http://api.labs.datacite.org/relations?include=relation-type,source&offset=0&rows=25&work-id=10.5281/ZENODO.48705
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"22fdf0dadf95e3f4516d7eb27c79ee8c"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"d5037891-400a-47da-8bcb-759eb4b6ecc0","type":"relations","attributes":{"subj-id":"http://doi.org/10.5281/ZENODO.46761","obj-id":"http://doi.org/10.5281/ZENODO.48705","doi":"10.5281/ZENODO.46761","author":[],"title":"THOR:
        Metrics and Tools","container-title":null,"publisher-id":"CERN.ZENODO","registration-agency-id":"datacite","work-type":null,"total":1,"published":"2016","issued":"2016-01-01T00:00:00Z","updated":"2016-06-16T00:49:59Z"},"relationships":{"relation-type":{"data":{"id":"is-supplemented-by","type":"relation-types"}},"source":{"data":{"id":"datacite-related","type":"sources"}}}},{"id":"05aa513d-2ffc-46da-8a10-cfbc03caac6d","type":"relations","attributes":{"subj-id":"http://doi.org/10.5281/ZENODO.48228","obj-id":"http://doi.org/10.5281/ZENODO.48705","doi":"10.5281/ZENODO.48228","author":[],"title":"THOR
        Communications Plan","container-title":null,"publisher-id":"CERN.ZENODO","registration-agency-id":"datacite","work-type":null,"total":1,"published":"2016","issued":"2016-01-01T00:00:00Z","updated":"2016-06-16T00:49:58Z"},"relationships":{"relation-type":{"data":{"id":"is-supplemented-by","type":"relation-types"}},"source":{"data":{"id":"datacite-related","type":"sources"}}}},{"id":"4d975b4f-2764-40b2-8471-21f173bebbf6","type":"relations","attributes":{"subj-id":"http://doi.org/10.5281/ZENODO.30799","obj-id":"http://doi.org/10.5281/ZENODO.48705","doi":"10.5281/ZENODO.30799","author":[],"title":"D2.1:
        Artefact, Contributor, and Organisation Relationship Data Schema","container-title":null,"publisher-id":"CERN.ZENODO","registration-agency-id":"datacite","work-type":null,"total":1,"published":"2015","issued":"2015-01-01T00:00:00Z","updated":"2016-06-16T00:49:57Z"},"relationships":{"relation-type":{"data":{"id":"is-supplemented-by","type":"relation-types"}},"source":{"data":{"id":"datacite-related","type":"sources"}}}}],"included":[{"id":"is-supplemented-by","type":"relation-types","attributes":{"title":"Is
        supplemented by","inverse-title":"Is supplement to","updated":"2016-03-21T15:05:03Z"}},{"id":"datacite-related","type":"sources","attributes":{"title":"DataCite
        (RelatedIdentifier)","description":"Import works with relatedIdentifiers via
        the DataCite Solr API.","state":"active","work-count":0,"relation-count":0,"result-count":0,"by-day":{"with-results":0,"without-results":0,"not-updated":0},"by-month":{"with-results":0,"without-results":0,"not-updated":0},"updated":"2016-10-12T11:17:06Z"},"relationships":{"group":{"meta":{}}}}],"meta":{"total":3,"sources":{"datacite-related":3},"relation-types":{"is-supplemented-by":3}}}'
  recorded_at: Wed, 12 Oct 2016 13:31:09 GMT
recorded_with: VCR 2.9.3
