---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"96093465e1b241a578dbe425c23ea5c4"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"9602516c-bbd1-43b2-8b44-3da1382bcfac","type":"events","attributes":{"subj-id":"https://doi.org/10.5281/zenodo.1291196","obj-id":"https://doi.org/10.13039/501100000780","source-id":"datacite-funder","relation-type-id":"is-funded-by","total":1,"message-action":"create","source-token":"6be0ac24-f58c-4a9f-968a-5c69a1ec0e68","license":"https://creativecommons.org/publicdomain/zero/1.0/","occurred-at":"2018-06-19T08:03:17.000Z","timestamp":"2018-09-02T01:35:33.935Z"},"relationships":{"subj":{"data":{"id":"https://doi.org/10.5281/zenodo.1291196","type":"objects"}},"obj":{"data":{"id":"https://doi.org/10.13039/501100000780","type":"objects"}}}},{"id":"c8ce7218-89e3-4dc1-87c9-7b5aaf46be9b","type":"events","attributes":{"subj-id":"https://doi.org/10.5281/zenodo.1291197","obj-id":"https://doi.org/10.13039/501100000780","source-id":"datacite-funder","relation-type-id":"is-funded-by","total":1,"message-action":"create","source-token":"6be0ac24-f58c-4a9f-968a-5c69a1ec0e68","license":"https://creativecommons.org/publicdomain/zero/1.0/","occurred-at":"2018-06-19T08:03:1[...]
