---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/events?aggregations=query_aggregations,metrics_aggregations&extra=true&page%5Bsize%5D=3&relation-type-id=cites,is-cited-by,compiles,is-compiled-by,documents,is-documented-by,has-metadata,is-metadata-for,is-supplement-to,is-supplemented-by,is-derived-from,is-source-of,references,is-referenced-by,reviews,is-reviewed-by,requires,is-required-by,describes,is-described-by,unique-dataset-investigations-regular,total-dataset-investigations-regular,unique-dataset-requests-regular,total-dataset-requests-regular&source-id=datacite-related,datacite-crossref,crossref,datacite-usage,datacite-funder
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"83e017564c287fae1d8dce7c8e99a3fb"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"d04a4c7a-2f19-4002-b8e7-06a844b5716f","type":"events","attributes":{"subjId":"https://api.test.datacite.org/reports/a8025c2b-ae9f-48d8-8dc3-d1133fff1502","objId":"https://doi.org/10.6073/pasta/aec48ca27decb1fd2c2f454f1c5f88e4","sourceId":"datacite-usage","relationTypeId":"total-dataset-requests-regular","total":349,"messageAction":"create","sourceToken":"43ba99ae-5cf0-11e8-9c2d-fa7ae01bbebc","license":"https://creativecommons.org/publicdomain/zero/1.0/","occurredAt":"2018-05-22T00:00:00.000Z","timestamp":"2018-09-05T18:20:15.842Z"}},{"id":"3e604437-5cc8-4d1f-9d8f-bb421ab89d2a","type":"events","attributes":{"subjId":"https://api.test.datacite.org/reports/a8025c2b-ae9f-48d8-8dc3-d1133fff1502","objId":"https://doi.org/10.6073/pasta/aec48ca27decb1fd2c2f454f1c5f88e4","sourceId":"datacite-usage","relationTypeId":"unique-dataset-requests-regular","total":27,"messageAction":"create","sourceToken":"43ba99ae-5cf0-11e8-9c2d-fa7ae01bbebc","license":"https://creativecommons.org/publicdomain/zero/1.0/","occurredAt":"2018-05-22T00:00:00.000Z","timestamp":"2018-09-05T18:20:15.958Z"}},{"id":"85e2a84f-a7f3-4f9a-a33e-2560c5f8e81f","type":"events","attributes":{"subjId":"https://api.test.datacite.org/reports/a8025c2b-ae9f-48d8-8dc3-d1133fff1502","objId":"https://doi.org/10.6073/pasta/aec48ca27decb1fd2c2f454f1c5f88e4","sourceId":"datacite-usage","relationTypeId":"total-dataset-investigations-regular","total":8,"messageAction":"create","sourceToken":"43ba99ae-5cf0-11e8-9c2d-fa7ae01bbebc","license":"https://creativecommons.org/publicdomain/zero/1.0/","occurredAt":"2018-05-22T00:00:00.000Z","timestamp":"2018-09-05T18:20:16.030Z"}}],"meta":{"total":1952260,"totalPages":3333,"page":1,"sources":[{"id":"crossref","title":"Crossref
        to DataCite","count":1692284},{"id":"datacite-crossref","title":"DataCite
        to Crossref","count":131172},{"id":"datacite-related","title":"DataCite Related
        Identifiers","count":93273},{"id":"datacite-usage","title":"DataCite Usage
        Stats","count":35531}],"prefixes":[{"id":"10.1007","title":"10.1007","count":482871},{"id":"10.1016","title":"10.1016","count":479995},{"id":"10.1002","title":"10.1002","count":289194},{"id":"10.1111","title":"10.1111","count":188535},{"id":"10.1080","title":"10.1080","count":179926},{"id":"10.1093","title":"10.1093","count":120260},{"id":"10.1038","title":"10.1038","count":119092},{"id":"10.1039","title":"10.1039","count":100980},{"id":"10.21373","title":"10.21373","count":95560},{"id":"10.1021","title":"10.1021","count":81607}[...]
