---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/events?obj-id=10.4124/test94485
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"92e1fae60c6e8529eaccf0884e075449"
    body:
      encoding: UTF-8
      string: '{"data":[],"meta":{"total":0,"total-pages":0},"links":{"self":"https://api.datacite.org/events?obj-id=10.4124%2Ftest94485"}}'
  recorded_at: Thu, 06 Dec 2018 19:37:47 GMT
- request:
    method: get
    uri: https://api.datacite.org/events?obj-id=https://doi.org/10.7272/q6g15xs4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"a26650a9d0c0e602ceba9142275e4ace"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"308185f3-1607-478b-a25e-ed5671994db5","type":"events","attributes":{"subj-id":"https://api.datacite.org/reports/fa2ad308-1b25-4394-9bc6-e0c7511e763d","obj-id":"https://doi.org/10.7272/q6g15xs4","source-id":"datacite-usage","relation-type-id":"total-dataset-investigations-regular","total":4,"message-action":"create","source-token":"43ba99ae-5cf0-11e8-9c2d-fa7ae01bbebc","license":"https://creativecommons.org/publicdomain/zero/1.0/","occurred-at":"2018-09-01T00:00:00.000Z","timestamp":"2018-09-02T14:32:58.896Z"},"relationships":{"subj":{"data":{"id":"https://api.datacite.org/reports/fa2ad308-1b25-4394-9bc6-e0c7511e763d","type":"objects"}},"obj":{"data":{"id":"https://doi.org/10.7272/q6g15xs4","type":"objects"}}}},{"id":"3494f670-66be-423d-b9f8-90ffe0058689","type":"events","attributes":{"subj-id":"https://api.datacite.org/reports/fa2ad308-1b25-4394-9bc6-e0c7511e763d","obj-id":"https://doi.org/10.7272/q6g15xs4","source-id":"datacite-usage","relation-type-id":"unique-dataset-investigations-regular","total":4,"message-action":"create","source-token":"43ba99ae-5cf0-11e8-9c2d-fa7ae01bbebc","license":"https://creativecommons.org/publicdomain[...]
