---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/events?obj-id=https://doi.org/10.4226/xxxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"04646d28e0b2429c43c707e4916333c3"
    body:
      encoding: UTF-8
      string: '{"data":[],"meta":{"total":0,"total-pages":0},"links":{"self":"https://api.datacite.org/events?obj-id=https%3A%2F%2Fdoi.org%2F10.4226%2Fxxxx"}}'
  recorded_at: Fri, 07 Dec 2018 13:15:02 GMT
recorded_with: VCR 2.9.3
