---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/events?aggregations=query_aggregations,metrics_aggregations&extra=true&obj-id=https://doi.org/10.7272/q6g15xs4&relation-type-id=cites,is-cited-by,compiles,is-compiled-by,documents,is-documented-by,has-metadata,is-metadata-for,is-supplement-to,is-supplemented-by,is-derived-from,is-source-of,references,is-referenced-by,reviews,is-reviewed-by,requires,is-required-by,describes,is-described-by,unique-dataset-investigations-regular,total-dataset-investigations-regular,unique-dataset-requests-regular,total-dataset-requests-regular&source-id=datacite-related,datacite-crossref,crossref,datacite-usage,datacite-funder
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"ed1036f6a57a15b7bb6bc9ce9fbc9e98"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"ef894831-0376-4d00-9977-bbced1d0fcf7","type":"events","attributes":{"subjId":"https://api.test.datacite.org/reports/961e7eaa-7c3a-485a-85ed-94f94a535519","objId":"https://doi.org/10.7272/q6g15xs4","sourceId":"datacite-usage","relationTypeId":"total-dataset-requests-regular","total":6,"messageAction":"create","sourceToken":"43ba99ae-5cf0-11e8-9c2d-fa7ae01bbebc","license":"https://creativecommons.org/publicdomain/zero/1.0/","occurredAt":"2018-04-30T00:00:00.000Z","timestamp":"2018-09-05T18:21:34.860Z"}},{"id":"d4e00d29-2281-495e-8df5-05f3c4d50dc9","type":"events","attributes":{"subjId":"https://api.test.datacite.org/reports/961e7eaa-7c3a-485a-85ed-94f94a535519","objId":"https://doi.org/10.7272/q6g15xs4","sourceId":"datacite-usage","relationTypeId":"unique-dataset-requests-regular","total":4,"messageAction":"create","sourceToken":"43ba99ae-5cf0-11e8-9c2d-fa7ae01bbebc","license":"https://creativecommons.org/publicdomain/zero/1.0/","occurredAt":"2018-04-30T00:00:00.000[...]
