---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/events?aggregations=query_aggregations,metrics_aggregations&extra=true&obj-id=https://doi.org/10.4226/xxxx&relation-type-id=cites,is-cited-by,compiles,is-compiled-by,documents,is-documented-by,has-metadata,is-metadata-for,is-supplement-to,is-supplemented-by,is-derived-from,is-source-of,references,is-referenced-by,reviews,is-reviewed-by,requires,is-required-by,describes,is-described-by,unique-dataset-investigations-regular,total-dataset-investigations-regular,unique-dataset-requests-regular,total-dataset-requests-regular&source-id=datacite-related,datacite-crossref,crossref,datacite-usage,datacite-funder
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"9183056f69314cd13022185aa658c4cd"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"total":0,"totalPages":0,"page":1,"sources":[],"prefixes":[],"citationTypes":[],"relationTypes":[],"pairings":[],"registrants":[],"doisRelationTypes":[],"doisUsageTypes":[],"doisCitations":{"count":0.0,"years":[]},"uniqueNodes":{"objCount":null,"subjCount":null}},"links":{"self":"https://api.test.datacite.org/events?aggregations=query_aggregations%2Cmetrics_aggregations&extra=true&obj-id=https%3A%2F%2Fdoi.org%2F10.4226%2Fxxxx&relation-type-id=cites%2Cis-cited-by%2Ccompiles%2Cis-compiled-by%2Cdocuments%2Cis-documented-by%2Chas-metadata%2Cis-metadata-for%2Cis-supplement-to%2Cis-supplemented-by%2Cis-derived-from%2Cis-source-of%2Creferences%2Cis-referenced-by%2Creviews%2Cis-reviewed-by%2Crequires%2Cis-required-by%2Cdescribes%2Cis-described-by%2Cunique-dataset-investigations-regular%2Ctotal-dataset-investigations-regular%2Cunique-dataset-requests-regular%2Ctotal-dataset-requests-regular&source-id=datacite-related%2Cdatacite-crossref%2Ccrossref%2Cdatacite-usage%2Cdatacite-funder"}}'
  recorded_at: Sun, 06 Oct 2019 16:30:09 GMT
recorded_with: VCR 2.9.3
