---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/events?obj-id=10.4226/xxxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"9da5b661b2e1075d66b7974b37d721f2"
    body:
      encoding: UTF-8
      string: '{"data":[],"meta":{"total":0,"total-pages":0},"links":{"self":"https://api.datacite.org/events?obj-id=10.4226%2Fxxxx"}}'
  recorded_at: Thu, 06 Dec 2018 19:37:48 GMT
recorded_with: VCR 2.9.3
