---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/events?query=california
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"dbdd597ecc340893ab01b5e380f13b17"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"efb1712c-c460-4aa2-a98a-aa32fc85ce90","type":"events","attributes":{"subj-id":"https://doi.org/10.15468/dl.aesktm","obj-id":"https://doi.org/10.15468/bvoyqy","source-id":"datacite-related","relation-type-id":"references","total":1,"message-action":"create","source-token":"29a9a478-518f-4cbd-a133-a0dcef63d547","license":"https://creativecommons.org/publicdomain/zero/1.0/","occurred-at":"2015-10-28T21:04:01.000Z","timestamp":"2018-09-02T05:07:36.730Z"},"relationships":{"subj":{"data":{"id":"https://doi.org/10.15468/dl.aesktm","type":"objects"}},"obj":{"data":{"id":"https://doi.org/10.15468/bvoyqy","type":"objects"}}}},{"id":"00306ada-b64c-4fa4-af80-2bdf35eee335","type":"events","attributes":{"subj-id":"https://doi.org/10.15468/dl.0skdzl","obj-id":"https://doi.org/10.15468/7gudyo","source-id":"datacite-related","relation-type-id":"references","total":1,"message-action":"create","source-token":"29a9a478-518f-4cbd-a133-a0dcef63d547","license":"https://creativecommons.org/publicdomain/zero/1.0/","occurred-at":"2015-10-28T21:21:03.000Z","timestam[...]
