.panel.panel-default
  .panel-body
    %h3.work
      %a{:href => '/repositories/' + item["id"]}
        = item.fetch("attributes", {}).fetch("name", nil)
    %div
      = prefix_format(item["attributes"])
  .panel-footer
    %i.fa.fa-info-circle
    = item["id"].upcase
