---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/works/10.7272/q6g15xs4?include=data-center,resource-type,member
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"b55b33b832d3a377a642d218b7f53e2f"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"https://doi.org/10.7272/q6g15xs4","type":"works","attributes":{"doi":"10.7272/q6g15xs4","identifier":"https://doi.org/10.7272/q6g15xs4","url":"https://datashare.ucsf.edu/stash/dataset/doi:10.7272/Q6G15XS4","author":[{"given":"Robert","family":"Rodriguez"},{"given":"William","family":"Mower"}],"title":"NEXUS
        Head CT","container-title":"UC San Francisco","description":null,"resource-type-subtype":null,"data-center-id":"cdl.ucsfctsi","member-id":"cdl","resource-type-id":"dataset","version":null,"license":"https://creativecommons.org/licenses/by/4.0","schema-version":"3","results":[],"related-identifiers":[],"published":"2017","registered":"2017-04-10T20:10:15.000Z","checked":null,"updated":"2019-01-30T09:32:35.000Z","media":[],"xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291cmNlIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC0zL21ldGFkYXRhLnhzZCI+CiAgPGlkZW50aWZpZXIgaWRlbnRpZmllclR5cGU9IkRPSSI+MTAuNzI3Mi9RNkcxNVhTNDwvaWRlbnRpZmllcj4KICA8Y3JlYXRvcnM+CiAgICA8Y3JlYXRvcj4KICAgICAgPGNyZWF0b3JOYW1lPlJvZHJ[...]
- request:
    method: get
    uri: https://api.datacite.org/events?obj-id=https://doi.org/10.7272/q6g15xs4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"8495bca052dc57cb49660b2b152497b2"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"308185f3-1607-478b-a25e-ed5671994db5","type":"events","attributes":{"subj-id":"https://api.datacite.org/reports/fa2ad308-1b25-4394-9bc6-e0c7511e763d","obj-id":"https://doi.org/10.7272/q6g15xs4","source-id":"datacite-usage","relation-type-id":"total-dataset-investigations-regular","total":4,"message-action":"create","source-token":"43ba99ae-5cf0-11e8-9c2d-fa7ae01bbebc","license":"https://creativecommons.org/publicdomain/zero/1.0/","occurred-at":"2018-09-01T00:00:00.000Z","timestamp":"2018-09-02T14:32:58.896Z"},"relationships":{"subj":{"data":{"id":"https://api.datacite.org/reports/fa2ad308-1b25-4394-9bc6-e0c7511e763d","type":"objects"}},"obj":{"data":{"id":"https://doi.org/10.7272/q6g15xs4","type":"objects"}}}},{"id":"3494f670-66be-423d-b9f8-90ffe0058689","type":"events","attributes":{"subj-id":"https://api.datacite.org/reports/fa2ad308-1b25-4394-9bc6-e0c7511e763d","obj-id":"https://doi.org/10.7272/q6g15xs4","source-id":"datacite-usage","relation-type-id":"unique-dataset-investigations-regular","total":4,"message-action":"create","source-token":"43ba99ae-5cf0-11e8-9c2d-fa7ae01bbebc","license":"https://creativecommons.org/publicdomain[...]
