---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/users/0000-0001-6528-2027
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"396dd389f2fb554cc841fca8708adb46"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"0000-0001-6528-2027","type":"users","attributes":{"givenNames":"Martin","familyName":"Fenner","name":"Martin
        Fenner","orcid":"https://orcid.org/0000-0001-6528-2027","github":null,"roleId":"staff_admin","isActive":false,"created":"2018-08-20T16:40:54.000Z","updated":"2019-08-31T07:28:05.000Z"},"relationships":{}},"meta":{"dois":[],"resourceTypes":[]}}'
  recorded_at: Mon, 18 Nov 2019 08:21:49 GMT
- request:
    method: get
    uri: https://api.test.datacite.org/works?include=data-center,resource-type,member&page%5Bnumber%5D=1&page%5Bsize%5D=25&person-id=0000-0001-6528-2027
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"df6f4ef889ed84e1fa064d5ec950cddb"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"included":[],"meta":{"total":0,"total-pages":0,"page":1}}'
  recorded_at: Mon, 18 Nov 2019 08:21:50 GMT
recorded_with: VCR 2.9.3
