.panel.panel-default
  .panel-body
    %h3.work
      %a{:href => '/contributors/' + contributor_id(item["attributes"])}
        = credit_name(item["attributes"])
  .panel-footer
    %a{ href: item["id"] }
      %i.fa.fa-external-link
      = item["id"]
