.search-wide
  %form.form-horizontal{:method => 'GET', :action => '/contributors'}
    .input-group
      %input.form-control{type: "text", name: 'query', id: 'search-input', value: params[:query], placeholder: "Search for contributor"}
      .input-group-btn
        %button.btn.btn-primary{type: "submit"}
          Search
