---
http_interactions:
- request:
    method: get
    uri: http://api.labs.datacite.org/relations?include=relation-type,source,publisher&offset=0&rows=25&work-id=10.6084/M9.FIGSHARE.3394312
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"4a8caf1c655f7eae8a3e2e938b951755"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"28e56fed-a259-4fde-bfb7-46f9af9eb79e","type":"relations","attributes":{"subj-id":"http://doi.org/10.6084/M9.FIGSHARE.3394312.V1","obj-id":"http://doi.org/10.6084/M9.FIGSHARE.3394312","doi":"10.6084/M9.FIGSHARE.3394312.V1","author":[{"given":"Samuel","family":"Asumadu-Sarkodie","orcid":"http://orcid.org/0000-0001-5035-5983"},{"given":"Phebe
        Asantewaa","family":"Owusu","orcid":"http://orcid.org/0000-0001-7364-1640"}],"title":"Global
        Annual Installations 2000-2013","container-title":"Figshare","publisher-id":"CDL.DIGSCI","registration-agency-id":null,"work-type":null,"total":1,"published":"2016","issued":"2016-05-20T20:40:22Z","updated":"2016-06-01T20:01:21Z"},"relationships":{"relation-type":{"data":{"id":"is-identical-to","type":"relation-types"}},"source":{"data":{"id":"datacite-related","type":"sources"}}}}],"included":[{"id":"is-identical-to","type":"relation-types","attributes":{"title":"Is
        identical to","inverse-title":"Is identical to","updated":"2016-03-21T15:05:04Z"}},{"id":"datacite-related","type":"sources","attributes":{"title":"DataCite
        (RelatedIdentifier)","description":"Import works with relatedIdentifiers via
        the DataCite Solr API.","state":"active","work-count":0,"relation-count":0,"result-count":0,"by-day":{"with-results":0,"without-results":0,"not-updated":0},"by-month":{"with-results":0,"without-results":0,"not-updated":0},"updated":"2016-10-20T10:18:11Z"},"relationships":{"group":{"meta":{}}}}],"meta":{"total":1,"sources":[{"id":"datacite_related","title":"DataCite
        (RelatedIdentifier)","count":1}],"publishers":[{"id":"cdl.digsci","title":"Digital
        Science","count":1}],"relation-types":[{"id":"is_identical_to","title":"Is
        identical to","count":1}]}}'
  recorded_at: Thu, 20 Oct 2016 10:51:29 GMT
recorded_with: VCR 2.9.3
