---
http_interactions:
- request:
    method: get
    uri: http://api.labs.datacite.org/relations?include=relation-type,source,publisher&offset=0&rows=25&work-id=10.6084/M9.FIGSHARE.3394312
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"ff01ae1a6e9dd2502b3f309c9d1896df"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"b0701204-d4dc-4e48-8b76-79aa0a8c192f","type":"relations","attributes":{"subj-id":"http://doi.org/10.6084/M9.FIGSHARE.3394312.V1","obj-id":"http://doi.org/10.6084/M9.FIGSHARE.3394312","doi":"10.6084/M9.FIGSHARE.3394312.V1","author":[{"given":"Samuel","family":"Asumadu-Sarkodie","orcid":"http://orcid.org/0000-0001-5035-5983"},{"given":"Phebe
        Asantewaa","family":"Owusu","orcid":"http://orcid.org/0000-0001-7364-1640"}],"title":"Global
        Annual Installations 2000-2013","container-title":"Figshare","source-id":"datacite-related","relation-type-id":"is-identical-to","publisher-id":"figshare.ars","registration-agency-id":null,"work-type-id":"graphic","total":1,"published":"2016","issued":"2016-05-20T20:40:22Z","updated":"2016-06-01T20:01:21Z"},"relationships":{"publisher":{"data":null},"source":{"data":{"id":"datacite-related","type":"sources"}},"relation-type":{"data":{"id":"is-identical-to","type":"relation-types"}}}}],"included":[{"id":"datacite-related","type":"sources","attributes":{"title":"DataCite
        (RelatedIdentifier)","description":"Import works with relatedIdentifiers via
        the DataCite Solr API.","state":"active","group-id":"relations","work-count":283344,"relation-count":421125,"result-count":2964296,"by-day":{"with-results":0,"without-results":0,"not-updated":421066},"by-month":{"with-results":0,"without-results":0,"not-updated":421066},"updated":"2016-11-25T17:05:06Z"},"relationships":{"group":{"meta":{}}}},{"id":"is-identical-to","type":"relation-types","attributes":{"title":"Is
        identical to","inverse-title":"Is identical to","updated":"2016-03-21T15:05:04Z"}}],"meta":{"total":1,"sources":[{"id":"datacite_related","title":"DataCite
        (RelatedIdentifier)","count":1}],"publishers":[{"id":"cdl.digsci","title":"Digital
        Science","count":1}],"relation-types":[{"id":"is_identical_to","title":"Is
        identical to","count":1}]}}'
  recorded_at: Fri, 25 Nov 2016 05:00:06 GMT
recorded_with: VCR 2.9.3
