---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/relations?offset=0&rows=25&work-id=10.6084/M9.FIGSHARE.3394312
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"192b99287c84f4d84b130642046c34e4"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"7a8213dc-11ec-44b1-80b6-154bfb0852e0","type":"relations","attributes":{"subj-id":"http://doi.org/10.6084/M9.FIGSHARE.3394312.V1","obj-id":"http://doi.org/10.6084/M9.FIGSHARE.3394312","doi":"10.6084/M9.FIGSHARE.3394312.V1","author":[{"given":"Samuel","family":"Asumadu-Sarkodie","orcid":"http://orcid.org/0000-0001-5035-5983"},{"given":"Phebe
        Asantewaa","family":"Owusu","orcid":"http://orcid.org/0000-0001-7364-1640"}],"title":"Global
        Annual Installations 2000-2013","container-title":"Figshare","source-id":"datacite-related","publisher-id":"CDL.DIGSCI","registration-agency-id":null,"relation-type-id":"is-identical-to","type":null,"total":1,"published":"2016","issued":"2016-05-20T20:40:22Z","updated":"2016-06-01T20:01:21Z"}},{"id":"datacite-related","type":"sources","attributes":{"title":"DataCite
        (RelatedIdentifier)","description":"Import works with relatedIdentifiers via
        the DataCite Solr API.","state":"active","group-id":"relations","work-count":283005,"relation-count":420287,"result-count":2963536,"by-day":{"with-results":152,"without-results":70,"not-updated":420006},"by-month":{"with-results":1435,"without-results":687,"not-updated":418106},"updated":"2016-08-16T02:41:47Z"}},{"id":"is-identical-to","type":"relation-types","attributes":{"title":"Is
        identical to","inverse-title":"Is identical to","updated":"2016-03-21T15:05:04Z"}}],"meta":{"total":1,"sources":{"datacite-related":1},"relation-types":{"is-identical-to":1}}}'
  recorded_at: Tue, 16 Aug 2016 07:18:32 GMT
recorded_with: VCR 2.9.3
