---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/relations?offset=0&rows=25&work-id=10.6084/M9.FIGSHARE.3394312
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"c7a32ba314589c8e4adcbe4c7423d052"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"9125b13a-6029-4b4a-83cb-a6f06cde7c92","type":"relations","attributes":{"subj-id":"http://doi.org/10.6084/M9.FIGSHARE.3394312.V1","obj-id":"http://doi.org/10.6084/M9.FIGSHARE.3394312","doi":"10.6084/M9.FIGSHARE.3394312.V1","author":[{"given":"Samuel","family":"Asumadu-Sarkodie","orcid":"http://orcid.org/0000-0001-5035-5983"},{"given":"Phebe
        Asantewaa","family":"Owusu","orcid":"http://orcid.org/0000-0001-7364-1640"}],"title":"Global
        Annual Installations 2000-2013","container-title":"Figshare","source-id":"datacite-related","publisher-id":"CDL.DIGSCI","registration-agency-id":null,"relation-type-id":"is-identical-to","type":null,"total":1,"published":"2016","issued":"2016-05-20T20:40:22Z","updated":"2016-06-01T20:01:21Z"}},{"id":"datacite-related","type":"sources","attributes":{"title":"DataCite
        (RelatedIdentifier)","description":"Import works with relatedIdentifiers via
        the DataCite Solr API.","state":"active","group-id":"relations","work-count":0,"relation-count":0,"result-count":0,"by-day":{"with-results":0,"without-results":0,"not-updated":0},"by-month":{"with-results":0,"without-results":0,"not-updated":0},"updated":"2016-08-16T09:43:01Z"}},{"id":"is-identical-to","type":"relation-types","attributes":{"title":"Is
        identical to","inverse-title":"Is identical to","updated":"2016-03-21T15:05:04Z"}}],"meta":{"total":1,"sources":{"datacite-related":1},"relation-types":{"is-identical-to":1}}}'
  recorded_at: Tue, 16 Aug 2016 09:46:04 GMT
recorded_with: VCR 2.9.3
