---
http_interactions:
- request:
    method: get
    uri: http://api.labs.datacite.org/relations?include=relation-type,source&offset=0&rows=25&work-id=10.6084/M9.FIGSHARE.3394312
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"f80ce5b40cb02dfab531f818e74087e3"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"1e6de8f2-091c-4b4b-9d7a-a1b25f5ca704","type":"relations","attributes":{"subj-id":"http://doi.org/10.6084/M9.FIGSHARE.3394312.V1","obj-id":"http://doi.org/10.6084/M9.FIGSHARE.3394312","doi":"10.6084/M9.FIGSHARE.3394312.V1","author":[{"given":"Samuel","family":"Asumadu-Sarkodie","orcid":"http://orcid.org/0000-0001-5035-5983"},{"given":"Phebe
        Asantewaa","family":"Owusu","orcid":"http://orcid.org/0000-0001-7364-1640"}],"title":"Global
        Annual Installations 2000-2013","container-title":"Figshare","publisher-id":"CDL.DIGSCI","registration-agency-id":null,"work-type":null,"total":1,"published":"2016","issued":"2016-05-20T20:40:22Z","updated":"2016-06-01T20:01:21Z"},"relationships":{"relation-type":{"data":{"id":"is-identical-to","type":"relation-types"}},"source":{"data":{"id":"datacite-related","type":"sources"}}}}],"included":[{"id":"is-identical-to","type":"relation-types","attributes":{"title":"Is
        identical to","inverse-title":"Is identical to","updated":"2016-03-21T15:05:04Z"}},{"id":"datacite-related","type":"sources","attributes":{"title":"DataCite
        (RelatedIdentifier)","description":"Import works with relatedIdentifiers via
        the DataCite Solr API.","state":"active","work-count":0,"relation-count":0,"result-count":0,"by-day":{"with-results":0,"without-results":0,"not-updated":0},"by-month":{"with-results":0,"without-results":0,"not-updated":0},"updated":"2016-10-12T11:17:06Z"},"relationships":{"group":{"meta":{}}}}],"meta":{"total":1,"sources":{"datacite-related":1},"relation-types":{"is-identical-to":1}}}'
  recorded_at: Wed, 12 Oct 2016 13:30:44 GMT
recorded_with: VCR 2.9.3
